Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Update cluster-version to 1.25
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/performance/performance-tests-mako.sh
  test/performance/performance-tests.sh
Due: none

Update net-certmanager nightly (#13974)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update cluster-version to 1.25 (#13988)
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/performance/performance-tests-mako.sh
  test/performance/performance-tests.sh
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/caching/pkg/client/injection/client/client.go
  vendor/knative.dev/caching/pkg/client/injection/informers/caching/v1alpha1/image/image.go
  vendor/knative.dev/networking/pkg/client/injection/client/client.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/certificate/certificate.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/clusterdomainclaim/clusterdomainclaim.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/ingress/ingress.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/serverlessservice/serverlessservice.go
  vendor/knative.dev/pkg/apis/duck/v1/destination.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/destination.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13989)
  go.mod
  go.sum
  vendor/knative.dev/caching/pkg/client/injection/client/client.go
  vendor/knative.dev/caching/pkg/client/injection/informers/caching/v1alpha1/image/image.go
  vendor/knative.dev/networking/pkg/client/injection/client/client.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/certificate/certificate.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/clusterdomainclaim/clusterdomainclaim.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/ingress/ingress.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/serverlessservice/serverlessservice.go
  vendor/knative.dev/pkg/apis/duck/v1/destination.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/destination.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/injection/clients/namespacedkube/informers/core/v1/secret/secret.go
  vendor/modules.txt
Due: none

fix bug in updateCache + nits
  cmd/activator/main.go
  pkg/activator/certificate/cache.go
  pkg/activator/certificate/cache_test.go
  pkg/activator/handler/handler_test.go
  pkg/activator/handler/transport.go
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#13992)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies (#13991)
  go.mod
  go.sum
  vendor/knative.dev/pkg/injection/clients/namespacedkube/informers/core/v1/secret/secret.go
  vendor/modules.txt
Due: none

Update net-contour nightly (#13990)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#13993)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

rename-sandbox-to-extension
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
  config/core/300-secret.yaml
  docs/resources-overview.md
  pkg/reconciler/route/route.go
  test/README.md
  test/e2e-networking-library.sh
  test/e2e/grpc_test.go
  test/e2e/websocket_test.go
  test/performance/README.md
Due: none

Remove 1.24 kind version
  .github/workflows/kind-e2e.yaml
Due: none

Bump kind
  .github/workflows/kind-e2e.yaml
Due: none

Update kind-e2e.yaml
  .github/workflows/kind-e2e.yaml
Due: none

update sha
  .github/workflows/kind-e2e.yaml
Due: none

Remove 1.24 kind version (#14007)
  .github/workflows/kind-e2e.yaml
Due: none

Update community files (#13998)
  OWNERS_ALIASES
Due: none

Bump kind to 0.19 (#14008)
  .github/workflows/kind-e2e.yaml
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Add TLS for cluster-local-domains
  go.mod
  pkg/apis/serving/register.go
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/resources/certificate.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/resources/labels/labels.go
  pkg/reconciler/route/route.go
  vendor/knative.dev/networking/config/ingress.yaml
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/ingress_types.go
Due: none

Use unreleased net-certmanager and net-kourier to test internal-encryption
  .github/workflows/kind-e2e.yaml
  test/config/internal-encryption/cert-secret.yaml
  test/config/internal-encryption/config-certmanager.yaml
  test/config/internal-encryption/generate.sh
  test/e2e-common.sh
  third_party/cert-manager-latest/net-certmanager.yaml
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main, https_serving_main

Fix e2e-common duplicate configmap
  test/e2e-common.sh
Due: none

Replace networking to unreleased retocode/networking
  go.sum
  vendor/knative.dev/networking/pkg/client/injection/client/client.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/certificate/certificate.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/clusterdomainclaim/clusterdomainclaim.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/ingress/ingress.go
  vendor/knative.dev/networking/pkg/client/injection/informers/networking/v1alpha1/serverlessservice/serverlessservice.go
  vendor/knative.dev/networking/pkg/config/config.go
  vendor/modules.txt
Due: none

Run only the relevant tests
  .github/workflows/kind-e2e.yaml
Due: none

Fix issues with tag based routing
  pkg/reconciler/route/resources/certificate.go
  pkg/reconciler/route/route.go
Due: none

Fix wrong namespace
  test/config/internal-encryption/config-certmanager.yaml
  test/e2e-common.sh
Due: none

Fix unit tests
  pkg/reconciler/domainmapping/table_test.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/route.go
Due: none

Update net-certmanager nightly (#14002)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Use latest istio for gateway tests
  test/e2e-networking-library.sh
Due: none

Update net-contour nightly (#14010)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
