Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

show an error when curling the istio release
  test/e2e-common.sh
Due: none

Update net-certmanager nightly (#13606)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#13608)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#13607)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#13613)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

show an error when curling the istio release (#13612)
  test/e2e-common.sh
Due: none

improve docs for new arguments
  pkg/reconciler/route/resources/certificate.go
Due: none

Update net-gateway-api nightly (#13614)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

don't set domain on domainmapping kcert
  pkg/reconciler/domainmapping/resources/certificate.go
  pkg/reconciler/domainmapping/resources/certificate_test.go
  pkg/reconciler/domainmapping/table_test.go
Due: none

Use rtesting.WithServiceName to override the name for upgrade tests
  pkg/testing/v1/service.go
  test/conformance/api/v1/errorcondition_test.go
  test/e2e/autoscale.go
  test/e2e/autoscale_test.go
  test/e2e/service_validation_test.go
  test/ha/autoscaler_test.go
  test/upgrade/autoscaler.go
  test/v1/service.go
Due: none

Re-set names.Service earlier
  test/e2e/autoscale.go
  test/v1/service.go
Due: none

Prevent starting log stream twice
  test/e2e/autoscale.go
  test/e2e/autoscale_test.go
  test/ha/autoscaler_test.go
  test/upgrade/autoscaler.go
  test/upgrade/probe.go
Due: none

Update net-gateway-api nightly (#13615)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Advance pvc e2e test to beta (#13535)
  test/e2e/pvc/pvc_test.go
Due: none

Ensure the autoscaler only has a single elector (#13585)
  cmd/autoscaler/leaderelection.go
  cmd/autoscaler/main.go
Due: none

Update naming per dave's feedback
  pkg/apis/serving/v1/configuration_defaults.go
  pkg/apis/serving/v1/service_defaults.go
Due: none

Stream logs from system and test namespace in upgrade tests (#13587)
  pkg/testing/v1/service.go
  test/conformance/api/v1/errorcondition_test.go
  test/e2e-upgrade-tests.sh
  test/e2e/autoscale.go
  test/e2e/autoscale_test.go
  test/e2e/service_validation_test.go
  test/ha/autoscaler_test.go
  test/upgrade/autoscaler.go
  test/upgrade/probe.go
  test/upgrade/upgrade.go
  test/v1/service.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/certificate_validation.go
  vendor/modules.txt
Due: none

Don't default Revision values when BYO name is unchanged. (#13565)
  pkg/apis/serving/v1/configuration_defaults.go
  pkg/apis/serving/v1/configuration_defaults_test.go
  pkg/apis/serving/v1/service_defaults.go
Due: none

upgrade to latest dependencies (#13616)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/certificate_validation.go
  vendor/modules.txt
Due: none

Define AutoscalerOptions to be reused in autoscale tests
  test/e2e/autoscale.go
  test/e2e/autoscale_test.go
  test/ha/autoscaler_test.go
  test/upgrade/autoscaler.go
Due: none

Remove TestContext.logf as it is redundant
  test/e2e/autoscale.go
  test/e2e/autoscale_hpa_test.go
  test/e2e/grpc_test.go
  test/e2e/service_to_service_test.go
  test/e2e/websocket_test.go
Due: none

Define TestContext.autoscaler as a pointer to AutoscalerOptions
  test/e2e/autoscale.go
  test/e2e/autoscale_test.go
  test/ha/autoscaler_test.go
  test/upgrade/autoscaler.go
Due: none

Cleanup
  test/e2e/autoscale.go
  test/upgrade/autoscaler.go
Due: none

Fixes
  test/e2e/autoscale_hpa_test.go
  test/e2e/grpc_test.go
Due: none

Fix
  test/e2e/grpc_test.go
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Specify AutoscalerOptions for each GRPC test independently
  test/e2e/grpc_test.go
Due: none

Update net-certmanager nightly (#13619)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Set 'Domain' in kcert (#13569)
  pkg/reconciler/domainmapping/resources/certificate.go
  pkg/reconciler/route/resources/certificate.go
  pkg/reconciler/route/resources/certificate_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
Due: none

DomainMapping: Set Certificate.Spec.Domain
  pkg/reconciler/domainmapping/resources/certificate.go
  pkg/reconciler/domainmapping/resources/certificate_test.go
  pkg/reconciler/domainmapping/table_test.go
Due: none

Address psschwei and dprosato feedback
  pkg/apis/serving/k8s_validation.go
Due: none

Remove overzealous error parameterization, fix tests
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1/configuration_validation_test.go
  pkg/apis/serving/v1/revision_validation_test.go
  pkg/apis/serving/v1/service_validation_test.go
Due: none

DomainMapping: Set Certificate.Spec.Domain (#13620)
  pkg/reconciler/domainmapping/resources/certificate.go
  pkg/reconciler/domainmapping/resources/certificate_test.go
  pkg/reconciler/domainmapping/table_test.go
Due: none
