Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Split config.Path into path and query
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
Due: none

Update net-kourier nightly (#14269)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#14270)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#14271)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14272)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies (#14266)
  go.mod
  go.sum
  vendor/gomodules.xyz/jsonpatch/v2/jsonpatch.go
  vendor/modules.txt
Due: none

Add path and query test
  test/e2e/readiness_test.go
  test/test_images/readiness/readiness.go
Due: none

use Go's code
  pkg/queue/health/probe.go
Due: none

use url.Parse
  pkg/queue/health/probe.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/config/config.go
  vendor/modules.txt
Due: none

scale down failing revisions after the same interval as successful ones
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-certmanager nightly (#14279)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies (#14277)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/config/config.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#14280)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

pull the latest knative hack
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/performance-tests.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

fix some shellcheck errors
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
Due: none

fix removed flag
  test/e2e-upgrade-tests.sh
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Ensure old revision stays Unreachable after Knative Service update
  pkg/reconciler/autoscaling/kpa/kpa.go
Due: none

allow activator configstore to track network config
  pkg/activator/config/store.go
  pkg/activator/config/store_test.go
Due: none

queue adds security mode tag to metrics
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

refactor: use new helper function for determined tls
  cmd/activator/main.go
Due: none

activator now adds security mode tag to metrics
  pkg/activator/handler/handler_test.go
  pkg/activator/handler/metric_handler.go
  pkg/activator/handler/metric_handler_test.go
  pkg/activator/handler/metrics.go
Due: none

add new security mode metrics tag
  pkg/metrics/key.go
Due: none

Update net-istio nightly (#14285)
  third_party/istio-latest/net-istio.yaml
Due: none

Deprecate calling kubetest2 via kntest (#13329)
  go.mod
  go.sum
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/performance/performance-tests-mako.sh
  test/performance/performance-tests.sh
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/performance-tests.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

Update net-contour nightly (#14284)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14286)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

WIP
  test/performance/performance-tests-mako.sh
Due: none
