Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-certmanager nightly (#14319)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly (#14322)
  third_party/istio-latest/net-istio.yaml
Due: none

Use for loop
  test/conformance/api/v1/service_test.go
  test/e2e/multicontainer_test.go
Due: none

Add PullIfNotPresent to multiple container test
  test/conformance/api/v1/service_test.go
  test/e2e/multicontainer_test.go
Due: none

Update DEVELOPMENT.md to Include local registry workaround for ImagePullBackOff
  DEVELOPMENT.md
Due: none

Update net-kourier nightly (#14320)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Add PullIfNotPresent to multiple container test (#14317)
  test/conformance/api/v1/service_test.go
  test/e2e/multicontainer_test.go
Due: none

add e2e test for multi-container with probes
  test/e2e/multicontainer_probes_test.go
Due: none

Update
  test/config/ytt/core/overlay-config-autocreate-clusterdomainclaims.yaml
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
Due: none

update autoTLS
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
Due: none

update code
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/apis/serving/v1beta1/domainmapping_lifecycle.go
  pkg/reconciler/nscert/nscert_test.go
  pkg/reconciler/route/table_test.go
Due: none

update domainTemplate
  pkg/reconciler/nscert/nscert_test.go
Due: none

Fix certificate watcher test
  pkg/queue/certificate/watcher_test.go
Due: none

Fix certificate watcher test (#14331)
  pkg/queue/certificate/watcher_test.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

resolve review comments
  pkg/apis/serving/k8s_validation_test.go
  test/e2e/multicontainer_probes_test.go
Due: none

Update net-kourier nightly (#14329)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#14323)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

fix(activator): Update tests to include pod IP probe tests
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/testing/roundtripper.go
Due: none

time out after stable window
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Due: none

Call Stop() for cert watcher
  pkg/queue/certificate/watcher_test.go
Due: none

Call Stop() for cert watcher (#14333)
  pkg/queue/certificate/watcher_test.go
Due: none

Update DEVELOPMENT.md to Include local registry workaround for ImagePullBackOff (#14327)
  DEVELOPMENT.md
Due: none

Update net-contour nightly (#14334)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  config/core/300-resources/domain-mapping.yaml
  config/core/300-resources/route.yaml
  config/core/300-resources/service.yaml
  go.mod
  go.sum
  vendor/knative.dev/hack/embed.go
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/pkg/apis/duck/v1/addressable_types.go
  vendor/knative.dev/pkg/apis/duck/v1/destination.go
  vendor/knative.dev/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/modules.txt
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies (#14328)
  config/core/300-resources/domain-mapping.yaml
  config/core/300-resources/route.yaml
  config/core/300-resources/service.yaml
  go.mod
  go.sum
  vendor/knative.dev/hack/embed.go
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/pkg/apis/duck/v1/addressable_types.go
  vendor/knative.dev/pkg/apis/duck/v1/destination.go
  vendor/knative.dev/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/modules.txt
Due: none

Update net-istio nightly (#14337)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#14338)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#14335)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#14336)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#14339)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

docs: Fix broken links to kubernetes docs on reference page
  docs/serving-api.md
  hack/reference-docs-gen-config.json
Due: none
