Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Activator SA
  config/core/200-roles/activator.yaml
  config/core/200-serviceaccount.yaml
  config/core/deployments/activator.yaml
Due: none

Activator SA
  config/core/200-roles/activator.yaml
Due: none

Fix script
  .github/workflows/kind-e2e.yaml
  test/e2e-common.sh
  test/e2e-networking-library.sh
Due: none

Update config/core/200-roles/activator.yaml
  config/core/200-roles/activator.yaml
Due: none

fix typo
  test/config/ytt/ambient/istio-injection.yaml
Due: none

Fix script
  test/e2e-common.sh
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Add the stage autoscaler
  config/core/300-resources/stagepodautoscaler.yaml
  docs/serving-api.md
  pkg/apis/autoscaling/v1alpha1/register.go
  pkg/apis/autoscaling/v1alpha1/spa_defaults.go
  pkg/apis/autoscaling/v1alpha1/spa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/spa_types.go
  pkg/apis/autoscaling/v1alpha1/spa_validation.go
  pkg/apis/autoscaling/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/autoscaling/v1alpha1/autoscaling_client.go
  pkg/client/clientset/versioned/typed/autoscaling/v1alpha1/fake/fake_autoscaling_client.go
  pkg/client/clientset/versioned/typed/autoscaling/v1alpha1/fake/fake_stagepodautoscaler.go
  pkg/client/clientset/versioned/typed/autoscaling/v1alpha1/stagepodautoscaler.go
  pkg/client/informers/externalversions/autoscaling/v1alpha1/interface.go
  pkg/client/informers/externalversions/autoscaling/v1alpha1/stagepodautoscaler.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/injection/informers/autoscaling/v1alpha1/stagepodautoscaler/fake/fake.go
  pkg/client/injection/informers/autoscaling/v1alpha1/stagepodautoscaler/filtered/fake/fake.go
  pkg/client/injection/informers/autoscaling/v1alpha1/stagepodautoscaler/filtered/stagepodautoscaler.go
  pkg/client/injection/informers/autoscaling/v1alpha1/stagepodautoscaler/stagepodautoscaler.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/stagepodautoscaler/controller.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/stagepodautoscaler/reconciler.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/stagepodautoscaler/state.go
  pkg/client/listers/autoscaling/v1alpha1/expansion_generated.go
  pkg/client/listers/autoscaling/v1alpha1/stagepodautoscaler.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/reconciler.go
Due: none

Update net-contour nightly (#14130)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#14131)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly (#14132)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#14136)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Drop unused ytt patch for Ingress ServiceType
  test/config/ytt/kind/ingress/istio-kind.yaml
  test/config/ytt/kind/ingress/kourier-kind.yaml
  test/e2e-common.sh
Due: none

Drop unused ytt patch for Ingress ServiceType (#14143)
  test/config/ytt/kind/ingress/istio-kind.yaml
  test/config/ytt/kind/ingress/kourier-kind.yaml
  test/e2e-common.sh
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

enforce qp resource defaults
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
  pkg/deployment/config_test.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

Update net-kourier nightly (#14129)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

add flag and several fixes
  config/core/configmaps/deployment.yaml
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/deployment/config.go
  pkg/deployment/config_test.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

Update net-gateway-api nightly (#14144)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Implement Stringer for nil podTracker
  pkg/activator/net/throttler.go
Due: none

consolidate webhooks
  cmd/controller/main.go
  cmd/domain-mapping-webhook/main.go
  cmd/domain-mapping/main.go
  cmd/webhook/main.go
  config/core/deployments/domainmapping-controller.yaml
  config/core/deployments/domainmapping-webhook.yaml
  config/core/webhooks/domainmapping-defaulting.yaml
  config/core/webhooks/domainmapping-secret.yaml
  config/core/webhooks/domainmapping-validation.yaml
  test/ha/domainmapping_test.go
  test/ha/ha.go
Due: none

pass the queue name update
  cmd/webhook/main.go
Due: none

merge types, clean up webhook configs
  cmd/webhook/main.go
  config/core/webhooks/defaulting.yaml
  config/core/webhooks/domainmapping-defaulting.yaml
  config/core/webhooks/domainmapping-validation.yaml
  config/core/webhooks/resource-validation.yaml
Due: none

remove unused
  cmd/webhook/main.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14151)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

Implement Stringer for nil podTracker (#14147)
  pkg/activator/net/throttler.go
Due: none

Update net-kourier nightly (#14150)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

s/2019/2023
  config/core/200-roles/activator.yaml
Due: none

Set QP resource defaults (#14039)
  config/core/configmaps/deployment.yaml
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/deployment/config.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

Consolidate webhooks (#14082)
  cmd/controller/main.go
  cmd/domain-mapping-webhook/main.go
  cmd/domain-mapping/main.go
  cmd/webhook/main.go
  config/core/deployments/domainmapping-controller.yaml
  config/core/deployments/domainmapping-webhook.yaml
  config/core/webhooks/defaulting.yaml
  config/core/webhooks/domainmapping-defaulting.yaml
  config/core/webhooks/domainmapping-secret.yaml
  config/core/webhooks/domainmapping-validation.yaml
  config/core/webhooks/resource-validation.yaml
  test/ha/domainmapping_test.go
  test/ha/ha.go
Due: none

Separate Activator SA (#14133)
  config/core/200-roles/activator.yaml
  config/core/200-serviceaccount.yaml
  config/core/deployments/activator.yaml
Due: none
