Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-istio nightly (#13364)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#13365)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#13362)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update actions (#13366)
  .github/workflows/knative-releasability.yaml
Due: none

upgrade to latest dependencies (#13361)
  go.mod
  go.sum
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/helper.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#13368)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies (#13367)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/helper.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#13369)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#13370)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade k8s autoscaling to v2
  config/core/deployments/activator-hpa.yaml
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/reconciler/testing/v1/listers.go
  test/e2e/autoscale_hpa_test.go
  vendor/knative.dev/pkg/client/injection/kube/informers/autoscaling/v2/horizontalpodautoscaler/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/autoscaling/v2/horizontalpodautoscaler/horizontalpodautoscaler.go
  vendor/modules.txt
Due: none

upgrade k8s autoscaling to v2 (#13337)
  config/core/deployments/activator-hpa.yaml
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/reconciler/testing/v1/listers.go
  test/e2e/autoscale_hpa_test.go
  vendor/knative.dev/pkg/client/injection/kube/informers/autoscaling/v2/horizontalpodautoscaler/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/autoscaling/v2/horizontalpodautoscaler/horizontalpodautoscaler.go
  vendor/modules.txt
Due: none

Make conformance tests configurable with custom resource values
  test/conformance/api/v1/resources_test.go
  test/conformance/runtime/cgroup_test.go
  test/e2e_flags.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#13373)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly (#13374)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#13375)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

add e2e test on k8s 1.25.2
  .github/workflows/kind-e2e.yaml
Due: none

add e2e test on k8s 1.25.2 (#13358)
  .github/workflows/kind-e2e.yaml
Due: none

upgrade to latest dependencies (#13378)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Make conformance tests configurable with custom resource values (#13286)
  test/conformance/api/v1/resources_test.go
  test/conformance/runtime/cgroup_test.go
  test/e2e_flags.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#13380)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update net-certmanager nightly (#13381)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#13382)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#13383)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

qpoptions-tokens
  pkg/deployment/config.go
  pkg/deployment/config_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
Due: none

update_codegen
  config/core/configmaps/deployment.yaml
  pkg/deployment/zz_generated.deepcopy.go
Due: none

remove queue-sidecar-tokens: "" from example
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
Due: none
