Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Add filtering secret informer label for internal-encryption (#13082)
  config/core/300-secret.yaml
Due: none

split lifecycle test to prestop/poststart
  test/conformance/runtime/container_test.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#13103)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#13104)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#13107)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

allow unknown fields in our webhooks since our CRD schemas are now specified
  cmd/domain-mapping-webhook/main.go
  cmd/webhook/main.go
Due: none

Update net-certmanager nightly (#13105)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Testing mt-net-kourier
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

testing serving with traffic isolation on
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update Knative Serving schema (#13095)
  config/core/300-resources/configuration.yaml
  config/core/300-resources/domain-mapping.yaml
  config/core/300-resources/metric.yaml
  config/core/300-resources/podautoscaler.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/route.yaml
  config/core/300-resources/service.yaml
  hack/schemapatch-config.yaml
  hack/update-schemas.sh
  pkg/apis/serving/fieldmask.go
  test/conformance/runtime/container_test.go
Due: none

Update net-gateway-api nightly (#13106)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Remove Prometheus stat reporter from queue-proxy (#12961)
  cmd/queue/main.go
  go.mod
  pkg/queue/concurrency_state_test.go
  pkg/queue/handler_test.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/prometheus_stats_reporter_test.go
  pkg/queue/protobuf_stats_reporter_test.go
  pkg/queue/stats_handler.go
  pkg/queue/stats_handler_test.go
Due: none

allow unknown fields in our webhooks since our CRD schemas are now specified (#13111)
  cmd/domain-mapping-webhook/main.go
  cmd/webhook/main.go
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#13114)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#13113)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#13115)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13116)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update net-contour nightly (#13120)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#13119)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

QPExtension added to queue
  cmd/queue/main.go
  cmd/queue/queue.go
  hack/add_queue_extensions.sh
  pkg/queue/extensions.go
Due: none

Boilerplate for sh, typos, lint fixes
  cmd/queue/queue.go
  hack/add_queue_extensions.sh
Due: none

Add test flag --ingress-class
  test/e2e-tests.sh
  test/e2e_flags.go
Due: none

Boilerplate for sh, use (ctx, logger)
  cmd/queue/main.go
  hack/add_queue_extensions.sh
  pkg/queue/extensions.go
Due: none

Update net-gateway-api nightly (#13124)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Add test flag --ingress-class (#13117)
  test/e2e-tests.sh
  test/e2e_flags.go
Due: none

git mv cmd/main/*.go pkg/queue/qmain/
  pkg/queue/qmain/main.go
  pkg/queue/qmain/main_test.go
  pkg/queue/qmain/nodeps_test.go
Due: none

iAdd shim main to queue + correct qmain package names
  cmd/queue/main.go
  pkg/queue/qmain/main.go
  pkg/queue/qmain/main_test.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
