Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Update net-kourier nightly (#13030)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

test filtering secret informer
  test/e2e/domainmapping/domain_mapping_test.go
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

add label for internal encryption secret
  config/core/300-secret.yaml
  pkg/reconciler/revision/cruds.go
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/clientset/versioned/clientset.go
  vendor/modules.txt
Due: none

Update net-certmanager nightly (#13078)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#13079)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#13080)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies (#13081)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/clientset/versioned/clientset.go
  vendor/modules.txt
Due: none

drop unnecessary validation
  pkg/apis/serving/fieldmask.go
Due: none

use dave's fork of controller-tools
  config/core/300-resources/configuration.yaml
  config/core/300-resources/domain-mapping.yaml
  config/core/300-resources/metric.yaml
  config/core/300-resources/podautoscaler.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/route.yaml
  config/core/300-resources/service.yaml
  hack/schemapatch-config.yaml
  hack/update-schemas.sh
Due: none

Drop EnableAlphaFeatures from TestHttpRedirect
  test/e2e/autotls/http_redirect_test.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/config/certificate.yaml
  vendor/knative.dev/networking/config/domain-claim.yaml
  vendor/knative.dev/networking/config/domain.yaml
  vendor/knative.dev/networking/config/ingress.yaml
  vendor/knative.dev/networking/config/realm.yaml
  vendor/knative.dev/networking/config/serverlessservice.yaml
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#13085)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#13086)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies (#13087)
  go.mod
  go.sum
  vendor/knative.dev/networking/config/certificate.yaml
  vendor/knative.dev/networking/config/domain-claim.yaml
  vendor/knative.dev/networking/config/domain.yaml
  vendor/knative.dev/networking/config/ingress.yaml
  vendor/knative.dev/networking/config/realm.yaml
  vendor/knative.dev/networking/config/serverlessservice.yaml
  vendor/modules.txt
Due: none

add overview of scaling
  docs/scaling/OVERVIEW.md
Due: none

remove prometheus stat reporter
  cmd/queue/main.go
  pkg/queue/stats_handler.go
  pkg/queue/stats_handler_test.go
Due: none

remove NewPrometheusStatsReporter from codebase
  pkg/queue/concurrency_state_test.go
  pkg/queue/handler_test.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/prometheus_stats_reporter_test.go
  pkg/queue/protobuf_stats_reporter_test.go
Due: none

fix linter - remove unused
  go.mod
  pkg/queue/handler_test.go
  pkg/queue/protobuf_stats_reporter_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/caching/config/image.yaml
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13089)
  go.mod
  go.sum
  vendor/knative.dev/caching/config/image.yaml
  vendor/modules.txt
Due: none

Drop EnableAlphaFeatures from TestHttpRedirect (#13084)
  test/e2e/autotls/http_redirect_test.go
Due: none

fix review comments
  docs/scaling/OVERVIEW.md
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#13092)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

merge system md and overview md
  docs/scaling/README.md
  docs/scaling/SYSTEM.md
Due: none

small fixes
  docs/scaling/README.md
Due: none

Update net-gateway-api nightly (#13093)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

fix typo
  docs/scaling/README.md
Due: none

Add overview for scaling doc (#13088)
  docs/scaling/README.md
  docs/scaling/SYSTEM.md
Due: none

ensure arrays have an item schema
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  hack/schemapatch-config.yaml
Due: none

drop list map type markers
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  hack/schemapatch-config.yaml
Due: none

tweak conformance tests to allow fields to be pruned if the create request doesn't error out
  test/conformance/runtime/container_test.go
Due: none

updates
  pkg/reconciler/revision/cruds.go
  test/e2e/domainmapping/domain_mapping_test.go
Due: none

add label for filtering secret informer
  config/core/300-secret.yaml
  pkg/reconciler/revision/cruds.go
  test/e2e/domainmapping/domain_mapping_test.go
Due: none

Update net-istio nightly (#13100)
  third_party/istio-latest/net-istio.yaml
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
