Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update community files (#13339)
  OWNERS_ALIASES
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#13340)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#13341)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#13342)
  OWNERS_ALIASES
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#13344)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#13346)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly (#13345)
  third_party/istio-latest/net-istio.yaml
Due: none

use kebab-case in config for queue sidecar image key
  config/core/configmaps/deployment.yaml
Due: none

fix tests
  pkg/deployment/config_test.go
  pkg/reconciler/autoscaling/config/store_test.go
  pkg/reconciler/revision/config/store_test.go
Due: none

updates
  pkg/deployment/config_test.go
  pkg/reconciler/autoscaling/config/store_test.go
Due: none

drop comment
  pkg/reconciler/revision/config/store_test.go
Due: none

formatting
  pkg/reconciler/autoscaling/config/store_test.go
Due: none

Use kebab-case in config for queue sidecar image key (#13347)
  config/core/configmaps/deployment.yaml
  pkg/deployment/config_test.go
  pkg/reconciler/autoscaling/config/store_test.go
  pkg/reconciler/revision/config/store_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/reconciler.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13348)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/reconciler.go
  vendor/modules.txt
Due: none

Add log message when internal encryption is enabled
  cmd/activator/main.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Add log message when internal encryption is enabled (#13351)
  cmd/activator/main.go
Due: none

upgrade to latest dependencies (#13352)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Fix psp in config manifests (#13327)
  config/core/deployments/activator.yaml
  config/core/deployments/autoscaler.yaml
  config/core/deployments/controller.yaml
  config/core/deployments/domainmapping-controller.yaml
  config/core/deployments/domainmapping-webhook.yaml
  config/core/deployments/webhook.yaml
  config/hpa-autoscaling/controller.yaml
  config/post-install/default-domain.yaml
  config/post-install/storage-version-migration.yaml
  third_party/cert-manager-latest/cert-manager.yaml
  third_party/cert-manager-latest/net-certmanager.yaml
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

upgrade to latest dependencies (#13356)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

drop k8s 1.22 tests as min ver is now 1.23
  .github/workflows/kind-e2e.yaml
Due: none

bump patch releases
  .github/workflows/kind-e2e.yaml
Due: none

Remove kind 1.22 testing, since min-version will be 1.23 in the next release (#13357)
  .github/workflows/kind-e2e.yaml
Due: none

Update community files (#13360)
  OWNERS_ALIASES
Due: none

Update net-kourier nightly (#13363)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none
