Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Add security policy reference in serving
  SECURITY.md
Due: none

Add security policy reference in serving (#14544)
  SECURITY.md
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/gateway-api.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14531)
  third_party/gateway-api-latest/gateway-api.yaml
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Rename auto-tls to external-domain-tls (#14482)
  docs/encryption/knative-encryption.md
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/apis/serving/v1/route_lifecycle_test.go
  pkg/apis/serving/v1beta1/domainmapping_lifecycle.go
  pkg/apis/serving/v1beta1/domainmapping_lifecycle_test.go
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/domainmapping/reconciler_test.go
  pkg/reconciler/domainmapping/table_test.go
  pkg/reconciler/nscert/nscert_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/route.go
  test/config/externaldomaintls/certmanager/caissuer/config-certmanager.yaml
  test/config/externaldomaintls/certmanager/caissuer/generate.sh
  test/config/externaldomaintls/certmanager/caissuer/issuer.yaml
  test/config/externaldomaintls/certmanager/caissuer/secret.yaml
  test/config/externaldomaintls/certmanager/http01/config-certmanager.yaml
  test/config/externaldomaintls/certmanager/http01/issuer.yaml
  test/config/externaldomaintls/certmanager/http01/mesh-issuer.yaml
  test/config/externaldomaintls/certmanager/selfsigned/config-certmanager.yaml
  test/config/externaldomaintls/certmanager/selfsigned/issuer.yaml
  test/e2e-auto-tls-tests.sh
  test/e2e-common.sh
  test/e2e-external-domain-tls-tests.sh
  test/e2e-tests.sh
  test/e2e/autotls/README.md
  test/e2e/externaldomaintls/README.md
  test/e2e/externaldomaintls/auto_tls_test.go
  test/e2e/externaldomaintls/config/dnscleanup/main.go
  test/e2e/externaldomaintls/config/dnssetup/main.go
  test/e2e/externaldomaintls/config/util.go
  test/e2e/externaldomaintls/domain_mapping_test.go
  test/e2e/externaldomaintls/http_redirect_test.go
  test/e2e/externaldomaintls/util_test.go
Due: none

Bubble up KCertificate Status Message when its not ready (#14496)
  pkg/apis/serving/v1/route_lifecycle.go
  pkg/apis/serving/v1/route_lifecycle_test.go
  pkg/reconciler/route/route.go
  pkg/testing/v1/route.go
Due: none

Update net-contour nightly (#14545)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Add Vegeta rates / targets to SLA in performance tests
  test/performance/benchmarks/dataplane-probe/main.go
  test/performance/benchmarks/load-test/main.go
  test/performance/benchmarks/real-traffic-test/main.go
  test/performance/benchmarks/rollout-probe/main.go
  test/performance/benchmarks/scale-from-zero/main.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Fix download paths for kapp and ytt
  .github/workflows/kind-e2e.yaml
  test/e2e-common.sh
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-certmanager nightly (#14550)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#14549)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

dataplane-probe use total request
  test/performance/benchmarks/dataplane-probe/main.go
Due: none

upgrade to latest dependencies (#14546)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14551)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14552)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Replace the deprecated func with wait.PollUntilContextTimeout
  cmd/autoscaler/main.go
Due: none

upgrade to latest dependencies (#14555)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#14558)
  third_party/istio-latest/net-istio.yaml
Due: none

fix after review
  test/performance/benchmarks/load-test/main.go
  test/performance/benchmarks/scale-from-zero/main.go
Due: none

Replace the deprecated func with wait.PollUntilContextTimeout (#14556)
  cmd/autoscaler/main.go
Due: none

Update net-certmanager nightly (#14561)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Replace the rest deprecated func with wait.PollUntilContextTimeout
  cmd/activator/main.go
  cmd/autoscaler/main.go
  cmd/default-domain/main.go
  pkg/activator/certificate/cache_test.go
  pkg/activator/net/throttler_test.go
  pkg/autoscaler/metrics/collector_test.go
  pkg/autoscaler/statforwarder/forwarder_test.go
  pkg/autoscaler/statforwarder/leases.go
  pkg/queue/readiness/probe.go
  pkg/reconciler/accessor/networking/certificate_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/metric/metric_test.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/serverlessservice/global_resync_test.go
  test/adding_tests.md
  test/conformance/api/v1beta1/domain_mapping_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale_hpa_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/domainmapping/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_websocket_test.go
  test/e2e/externaldomaintls/config/dnssetup/main.go
  test/e2e/externaldomaintls/config/util.go
  test/e2e/externaldomaintls/domain_mapping_test.go
  test/e2e/gc/gc_test.go
  test/e2e/logging_test.go
  test/e2e/minscale_readiness_test.go
  test/e2e/websocket.go
  test/ha/ha.go
  test/performance/performance/performance.go
  test/v1/configuration.go
  test/v1/revision.go
  test/v1/route.go
  test/v1/service.go
Due: none

finishing the replicaset deployment status failure bubbling up to the revision table test
  pkg/reconciler/revision/table_test.go
Due: none

delete useless condition
  test/performance/benchmarks/load-test/main.go
  test/performance/benchmarks/scale-from-zero/main.go
Due: none

Update net-contour nightly (#14560)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14562)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#14559)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Replace wait.PollInfinite() and wait.Poll()
  pkg/activator/net/throttler_test.go
  pkg/queue/certificate/watcher_test.go
  test/e2e/autoscale_test.go
  test/e2e/e2e.go
  test/e2e/minscale_readiness_test.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
