Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

drop swap file
  cmd/activator/.main.go.swp
Due: none

fix owner files after merging scaling + serving working groups
  OWNERS
  cmd/OWNERS
  cmd/activator/OWNERS
  cmd/autoscaler-hpa/OWNERS
  cmd/autoscaler/OWNERS
  cmd/queue/OWNERS
  config/OWNERS
  pkg/OWNERS
  pkg/activator/OWNERS
  pkg/apis/OWNERS
  pkg/apis/autoscaling/OWNERS
  pkg/autoscaler/OWNERS
  pkg/deployment/OWNERS
  pkg/gc/OWNERS
  pkg/leaderelection/OWNERS
  pkg/metrics/OWNERS
  pkg/queue/OWNERS
  pkg/reconciler/OWNERS
  pkg/reconciler/autoscaling/OWNERS
  pkg/resources/OWNERS
  pkg/testing/OWNERS
  pkg/webhook/OWNERS
  test/OWNERS
  third_party/OWNERS
Due: none

drop swap file (#12959)
  cmd/activator/.main.go.swp
Due: none

canonicalize knative.dev/networking/pkg/http/header import
  cmd/queue/main.go
  cmd/queue/main_test.go
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/handler/healthz_handler.go
  pkg/activator/handler/healthz_handler_test.go
  pkg/activator/handler/probe_handler.go
  pkg/activator/handler/probe_handler_test.go
  pkg/activator/net/revision_backends.go
  pkg/http/proxy_test.go
  pkg/http/request_log_test.go
  pkg/queue/concurrency_state_test.go
  pkg/queue/handler_test.go
  pkg/queue/health/handler.go
  pkg/queue/health/handler_test.go
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
  pkg/queue/protobuf_stats_reporter.go
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
  pkg/queue/stats_handler.go
  pkg/queue/stats_handler_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

canonicalize knative.dev/networking/pkg/config import
  cmd/autoscaler/main.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/net/throttler.go
  test/e2e/autoscale_test.go
Due: none

canonicalize knative.dev/networking/pkg/http/stats import
  cmd/queue/main.go
  pkg/activator/handler/concurrency_reporter.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/prometheus_stats_reporter_test.go
Due: none

canonicalize knative.dev/networking/pkg/http/probe import
  cmd/activator/main.go
  cmd/default-domain/main.go
  pkg/activator/handler/main_test.go
Due: none

fix typo
  cmd/autoscaler/main.go
Due: none

fix owner files after merging scaling + serving working groups (#12960)
  OWNERS
  cmd/OWNERS
  cmd/activator/OWNERS
  cmd/autoscaler-hpa/OWNERS
  cmd/autoscaler/OWNERS
  cmd/queue/OWNERS
  config/OWNERS
  pkg/OWNERS
  pkg/activator/OWNERS
  pkg/apis/OWNERS
  pkg/apis/autoscaling/OWNERS
  pkg/autoscaler/OWNERS
  pkg/deployment/OWNERS
  pkg/gc/OWNERS
  pkg/leaderelection/OWNERS
  pkg/metrics/OWNERS
  pkg/queue/OWNERS
  pkg/reconciler/OWNERS
  pkg/reconciler/autoscaling/OWNERS
  pkg/resources/OWNERS
  pkg/testing/OWNERS
  pkg/webhook/OWNERS
  test/OWNERS
  third_party/OWNERS
Due: none

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

Update actions (#12963)
  .github/workflows/knative-releasability.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Log confirmation of queue-proxy startup
  cmd/queue/main.go
Due: none

upgrade to latest dependencies (#12955)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Update net-istio nightly (#12956)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#12957)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#12962)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Log confirmation of queue-proxy startup (#12965)
  cmd/queue/main.go
Due: none

skips default probe if container freezer in use
  cmd/queue/main.go
Due: none

Deprecate max-scale/min-scale annotations for consistent naming
  pkg/apis/autoscaling/register.go
Due: none

fix: getting name and namespace from request host header that explicitly contains port 80
  pkg/activator/handler/context_handler.go
  pkg/activator/handler/context_handler_test.go
Due: none

feat: getting name and namespace from Host header if Host contains any port
  pkg/activator/handler/context_handler.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#12975)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#12968)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Support parsing host header with port (#12974)
  pkg/activator/handler/context_handler.go
  pkg/activator/handler/context_handler_test.go
Due: none

Update net-kourier nightly (#12976)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

skips default probe if container freezer in use (#12967)
  cmd/queue/main.go
Due: none

Update net-contour nightly (#12964)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Fix review
  pkg/autoscaler/config/config.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
