Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

test gateway api
  .github/workflows/kind-e2e.yaml
Due: none

bump ggcr which fixes tag to digest (#12855)
  go.mod
  go.sum
  vendor/github.com/containerd/stargz-snapshotter/estargz/build.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/estargz.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/gzip.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/testutil.go
  vendor/github.com/google/go-containerregistry/pkg/authn/authn.go
  vendor/github.com/google/go-containerregistry/pkg/authn/k8schain/k8schain.go
  vendor/github.com/google/go-containerregistry/pkg/authn/keychain.go
  vendor/github.com/google/go-containerregistry/pkg/authn/kubernetes/keychain.go
  vendor/github.com/google/go-containerregistry/pkg/v1/google/auth.go
  vendor/github.com/google/go-containerregistry/pkg/v1/google/keychain.go
  vendor/github.com/google/go-containerregistry/pkg/v1/platform.go
  vendor/github.com/google/go-containerregistry/pkg/v1/random/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/transport/bearer.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/transport/ping.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/write.go
  vendor/github.com/google/go-containerregistry/pkg/v1/tarball/layer.go
  vendor/github.com/google/go-containerregistry/pkg/v1/zz_deepcopy_generated.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/modules.txt
Due: none

Large capital
  cmd/activator/main.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#12844)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#12845)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#12849)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#12852)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#12843)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Fix review comments
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/activator/handler/handler.go
  pkg/http/proxy.go
  pkg/http/proxy_test.go
Due: none

Refactor loop
  cmd/queue/main.go
Due: none

Add TODO comment
  cmd/activator/.main.go.swp
  cmd/queue/main.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#12847)
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update net-istio nightly (#12861)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#12862)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#12864)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#12863)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

All Hops Encrypted: TLS between activator and queue-Proxy (#12815)
  cmd/activator/.main.go.swp
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/handler/main_test.go
  pkg/http/proxy.go
  pkg/http/proxy_test.go
  pkg/queue/constants.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/reconciler/revision/table_test.go
  test/config/tls/config-network.yaml
  test/e2e-common.sh
  test/generate-cert.sh
Due: none

Use imjasonh/setup-ko and bump ko to 0.8.0
  .github/workflows/kind-e2e.yaml
Due: none

Use KO_VEERSION variable
  .github/workflows/kind-e2e.yaml
Due: none

Update net-kourier nightly (#12869)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Use latest ko release
  .github/workflows/kind-e2e.yaml
Due: none

Use imjasonh/setup-ko (#12868)
  .github/workflows/kind-e2e.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#12878)
  go.mod
  go.sum
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#12881)
  OWNERS_ALIASES
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
