Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Updated autoscaler config test for scale-min/max changes
  pkg/autoscaler/config/config_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/control-protocol/pkg/certificates/constants.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/certificates.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13420)
  go.mod
  go.sum
  vendor/knative.dev/control-protocol/pkg/certificates/constants.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/certificates.go
  vendor/modules.txt
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#13421)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#13422)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/apis/field_error.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13423)
  go.mod
  go.sum
  vendor/knative.dev/pkg/apis/field_error.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/modules.txt
Due: none

rootCA
  config/core/configmaps/deployment.yaml
  pkg/deployment/config.go
  pkg/reconciler/revision/resources/queue.go
Due: none

tests for rootCA
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/reconciler/testing/reactions.go
  vendor/modules.txt
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies (#13424)
  go.mod
  go.sum
  vendor/knative.dev/pkg/reconciler/testing/reactions.go
  vendor/modules.txt
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update net-certmanager nightly (#13425)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update community files (#13426)
  OWNERS_ALIASES
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#13428)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/client/injection/kube/client/client.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/client.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13427)
  go.mod
  go.sum
  vendor/knative.dev/pkg/client/injection/kube/client/client.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/client.go
  vendor/modules.txt
Due: none

Use new keys for internal encryption secret data
  cmd/activator/main.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/reconcile_resources.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/filtered_informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/packages.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/modules.txt
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#13429)
  go.mod
  go.sum
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/filtered_informer.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/packages.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/modules.txt
Due: none

Update net-contour nightly (#13431)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

ran codegen
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

address linter
  cmd/default-domain/main.go
  pkg/autoscaler/statserver/server.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resolve_test.go
Due: none

fix nolint comment
  pkg/autoscaler/statserver/server.go
  pkg/queue/sharedmain/main.go
Due: none

ran codegen with go1.19 & fix linter warnings (#13438)
  cmd/default-domain/main.go
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/autoscaler/statserver/server.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/revision/resolve_test.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

bump kind to 1.17 in e2e
  .github/workflows/kind-e2e.yaml
Due: none

bump kind to 1.17 in e2e (#13437)
  .github/workflows/kind-e2e.yaml
Due: none

Update net-gateway-api nightly (#13432)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update community files (#13434)
  OWNERS_ALIASES
Due: none

Add label to test secret
  test/config/tls/cert-secret.yaml
Due: none

use new control protocol
  go.mod
  go.sum
  test/config/tls/cert-secret.yaml
  test/config/tls/generate.sh
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/controller.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/controller_impl.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/reconciler.go
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/pkg/changeset/commit.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/secret/filtered/secret.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/modules.txt
Due: none

set filter label in controller main
  cmd/controller/main.go
Due: none

Update config/core/configmaps/deployment.yaml
  config/core/configmaps/deployment.yaml
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
