Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Use knative pkg for ptr operation
  pkg/queue/health/probe.go
Due: none

Modify unit test
  pkg/apis/serving/k8s_validation_test.go
  test/conformance/runtime/readiness_probe_test.go
Due: none

Run update scripts
  go.mod
Due: none

Add gRPC probe
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  go.mod
  hack/schemapatch-config.yaml
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/fieldmask_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1/revision_defaults.go
  pkg/queue/health/probe.go
  pkg/queue/readiness/probe.go
  pkg/reconciler/revision/resources/queue.go
  test/conformance/runtime/readiness_probe_test.go
Due: none

Use config's KubeMajor & KubeMinor instead of k8s native version pkg
  pkg/queue/health/probe.go
Due: none

Add test in readiness/probe_test.go
  pkg/queue/readiness/probe_test.go
Due: none

Add comment to explain why use dialer_others.go
  pkg/queue/health/probe.go
Due: none

Ignore readinessProbe when it's gRPC
  pkg/reconciler/revision/resources/deploy.go
Due: none

Fix test to use empemeral port
  go.mod
  pkg/queue/readiness/probe_test.go
  pkg/reconciler/revision/resources/deploy_test.go
Due: none

fix securityContext for Knative Service Pod (user-container and queue-proxy) (#14363)
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
  pkg/reconciler/revision/resources/queue.go
Due: none

update tests to expect new default run as nonroot
  pkg/apis/serving/v1/revision_defaults_test.go
Due: none

run as non root by default
  pkg/apis/serving/v1/revision_defaults.go
Due: none

add seccompProfile to queue container security context
  pkg/reconciler/revision/resources/queue.go
Due: none

fix perms
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
Due: none

Update net-gateway-api nightly (#14360)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#14372)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14373)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

[release-1.10] fix securityContext for Knative Service Pod (user-container and queue-proxy) (#14377)
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
  pkg/reconciler/revision/resources/queue.go
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
Due: none

[release-1.11] fix securityContext for Knative Service Pod (user-container and queue-proxy) (#14378)
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
  pkg/reconciler/revision/resources/queue.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#14380)
  third_party/istio-latest/net-istio.yaml
Due: none

Bump Go version to 1.21 in kind e2e
  .github/workflows/kind-e2e.yaml
Due: none

Bump Go version to 1.21 in kind e2e (#14384)
  .github/workflows/kind-e2e.yaml
Due: none

Change the cert manager version
  third_party/cert-manager-latest/download-cert-manager.sh
Due: https_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/modules.txt
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Drop unnecessary `routing-id` in Knative Service certificate
  pkg/reconciler/revision/cruds.go
Due: none

Cleanup knative-internal-tls secrets
  config/core/300-secret.yaml
Due: none

upgrade to latest dependencies (#14387)
  go.mod
  go.sum
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/modules.txt
Due: none

Update net-istio nightly (#14388)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#14389)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#14390)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
