Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

fix connection count
  test/e2e/autoscale.go
Due: none

Use dataplane-trust instead of internal-encryption
  cmd/activator/main.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/revision.go
  test/e2e-common.sh
Due: none

fix URL query params
  test/e2e/autoscale_hpa_test.go
Due: none

Use dataplane-trust instead of internal-encryption (#14301)
  cmd/activator/main.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/revision.go
  test/e2e-common.sh
Due: none

add link to Knative certificate abstraction
  docs/encryption/knative-encryption.md
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14304)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14306)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14307)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

fix e2e script & some tests (#14296)
  test/e2e-tests.sh
  test/e2e/autoscale.go
  test/e2e/autoscale_hpa_test.go
Due: none

Update net-kourier nightly (#14305)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Split HTTPGetAction.Path into path and query (#14273)
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
  test/e2e/readiness_test.go
  test/test_images/readiness/readiness.go
Due: none

use white background for diagrams
  docs/encryption/encryption-cluster-local-domain.drawio.svg
  docs/encryption/encryption-external-domain.drawio.svg
  docs/encryption/encryption-knative-internal.drawio.svg
  docs/encryption/encryption-overview.drawio.svg
Due: none

stop the certWatcher using defer
  pkg/queue/sharedmain/main.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/modules.txt
Due: none

Update net-kourier nightly (#14311)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#14312)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#14313)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14314)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14315)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#14316)
  go.mod
  go.sum
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/modules.txt
Due: none

Allow probes to be defined for sidecar containers
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Due: none

Add certificate watcher to queue-proxy (#14189)
  pkg/queue/certificate/watcher.go
  pkg/queue/certificate/watcher_test.go
  pkg/queue/sharedmain/main.go
Due: none

Re-generate test/config/tls/cert-secret.yaml
  test/config/tls/cert-secret.yaml
  test/config/tls/generate.sh
Due: none

Re-generate test/config/tls/cert-secret.yaml (#14324)
  test/config/tls/cert-secret.yaml
  test/config/tls/generate.sh
Due: none

Update net-gateway-api nightly (#14321)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main
