Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#14599)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

respect revision timeout defaults in cm
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
Due: none

with some istio cases this could fail with progress deadline exceeded error so adding that case too
  test/e2e/resource_quota_error_test.go
Due: none

Update resource_quota_error_test.go
  test/e2e/resource_quota_error_test.go
Due: none

formated the test file
  test/e2e/resource_quota_error_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Update net-kourier nightly (#14590)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies (#14601)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Update net-certmanager nightly (#14603)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#14604)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14605)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#14602)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies (#14608)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#14612)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#14611)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#14613)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#14614)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#14616)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

fix: typo in comments
  pkg/reconciler/revision/background.go
Due: none

Surface cpu and mem requests forbidden errors (and other ones too) in KSVC creation (#14453)
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/v1/revision.go
  test/e2e/resource_quota_error_test.go
Due: none

adding condition to wait for container creation in the resource quota service creation test
  test/e2e/resource_quota_error_test.go
Due: none

finishing the replicaset deployment status failure bubbling up to the revision table test
  pkg/reconciler/revision/table_test.go
Due: none

adjusted e2e and unit tests for the replica failure erros propagation, improved propagation logic + left todos regarding revision conditionset
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/revision/reconcile_resources.go
  test/e2e/resource_quota_error_test.go
Due: none

removed todo from revision lifecycle since the discussion has settled
  pkg/apis/serving/v1/revision_lifecycle.go
Due: none

fixing lint
  pkg/reconciler/revision/reconcile_resources.go
Due: none

removed unused test methods from revision testing package
  pkg/testing/v1/revision.go
Due: none

added test case for revision fast failures when it comes to replicaset failing to create
  pkg/apis/serving/v1/revision_helpers.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/v1/revision.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
