Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#14244)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update net-gateway-api nightly (#14243)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14245)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#14246)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files (#14241)
  OWNERS_ALIASES
Due: none

Update net-istio nightly (#14247)
  third_party/istio-latest/net-istio.yaml
Due: none

when the first revision is ready, clean up the old ones
  pkg/reconciler/configuration/configuration.go
Due: none

Update net-gateway-api nightly (#14249)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Add v1 DomainMapping API
  cmd/webhook/main.go
  docs/serving-api.md
  pkg/apis/serving/v1/domainmapping_defaults.go
  pkg/apis/serving/v1/domainmapping_defaults_test.go
  pkg/apis/serving/v1/domainmapping_lifecycle.go
  pkg/apis/serving/v1/domainmapping_lifecycle_test.go
  pkg/apis/serving/v1/domainmapping_types.go
  pkg/apis/serving/v1/domainmapping_types_test.go
  pkg/apis/serving/v1/domainmapping_validation.go
  pkg/apis/serving/v1/domainmapping_validation_test.go
  pkg/apis/serving/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/serving/v1/domainmapping.go
  pkg/client/clientset/versioned/typed/serving/v1/fake/fake_domainmapping.go
  pkg/client/clientset/versioned/typed/serving/v1/fake/fake_serving_client.go
  pkg/client/clientset/versioned/typed/serving/v1/serving_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/serving/v1/domainmapping.go
  pkg/client/informers/externalversions/serving/v1/interface.go
  pkg/client/injection/informers/serving/v1/domainmapping/domainmapping.go
  pkg/client/injection/informers/serving/v1/domainmapping/fake/fake.go
  pkg/client/injection/informers/serving/v1/domainmapping/filtered/domainmapping.go
  pkg/client/injection/informers/serving/v1/domainmapping/filtered/fake/fake.go
  pkg/client/injection/reconciler/serving/v1/domainmapping/controller.go
  pkg/client/injection/reconciler/serving/v1/domainmapping/reconciler.go
  pkg/client/injection/reconciler/serving/v1/domainmapping/state.go
  pkg/client/listers/serving/v1/domainmapping.go
  pkg/client/listers/serving/v1/expansion_generated.go
  test/clients.go
  test/conformance/api/v1beta1/domain_mapping_test.go
  test/e2e/autotls/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_websocket_test.go
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
Due: none

Support to use vegeta client with HTTPS
  test/e2e/autoscale.go
  test/e2e/autoscale_hpa_test.go
Due: none

Support to use vegeta client with HTTPS (#14255)
  test/e2e/autoscale.go
  test/e2e/autoscale_hpa_test.go
Due: none

add app: webhook label to webhook service
  config/core/deployments/webhook.yaml
Due: none

add app: webhook label to webhook service (#14258)
  config/core/deployments/webhook.yaml
Due: none

Update net-istio nightly (#14263)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#14262)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14264)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update community files (#14259)
  OWNERS_ALIASES
Due: none

Update net-kourier nightly (#14261)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#14268)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/gomodules.xyz/jsonpatch/v2/jsonpatch.go
  vendor/modules.txt
Due: none
