Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Replace the rest deprecated func with wait.PollUntilContextTimeout (#14565)
  cmd/activator/main.go
  cmd/default-domain/main.go
  pkg/activator/certificate/cache_test.go
  pkg/activator/net/throttler_test.go
  pkg/autoscaler/metrics/collector_test.go
  pkg/autoscaler/statforwarder/forwarder_test.go
  pkg/autoscaler/statforwarder/leases.go
  pkg/queue/certificate/watcher_test.go
  pkg/queue/readiness/probe.go
  pkg/reconciler/accessor/networking/certificate_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/metric/metric_test.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/serverlessservice/global_resync_test.go
  test/adding_tests.md
  test/conformance/api/v1beta1/domain_mapping_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale_hpa_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/domainmapping/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_websocket_test.go
  test/e2e/e2e.go
  test/e2e/externaldomaintls/config/dnssetup/main.go
  test/e2e/externaldomaintls/config/util.go
  test/e2e/externaldomaintls/domain_mapping_test.go
  test/e2e/gc/gc_test.go
  test/e2e/logging_test.go
  test/e2e/minscale_readiness_test.go
  test/e2e/websocket.go
  test/ha/ha.go
  test/performance/performance/performance.go
  test/v1/configuration.go
  test/v1/revision.go
  test/v1/route.go
  test/v1/service.go
Due: none

clean up feature keys
  pkg/webhook/podspec_dryrun_test.go
  pkg/webhook/validate_unstructured.go
  pkg/webhook/validate_unstructured_test.go
  test/e2e/service_validation_test.go
Due: none

clean up feature keys (#14570)
  pkg/webhook/podspec_dryrun_test.go
  pkg/webhook/validate_unstructured.go
  pkg/webhook/validate_unstructured_test.go
  test/e2e/service_validation_test.go
Due: none

pods informer changes
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/revision/controller.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/revision.go
Due: none

Take into account the revisionTimeout field instead of the progressDeadline
  pkg/autoscaler/scaling/autoscaler.go
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

remove dead code and other fixes
  pkg/activator/net/throttler_test.go
  pkg/http/handler/timeout_test.go
  pkg/reconciler/revision/background_test.go
  pkg/reconciler/route/traffic/rollout.go
  pkg/reconciler/route/traffic/rollout_test.go
  test/conformance.go
Due: none

Upgrade grpc for addressing GHSA-m425-mq94-257g
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/status/status.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

Upgrade grpc for addressing GHSA-m425-mq94-257g (#14579)
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/status/status.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

changes after running codegen
  third_party/VENDOR-LICENSE/github.com/grpc-ecosystem/grpc-gateway/v2/LICENSE.txt
  vendor/github.com/google/mako/go/quickstore/BUILD
  vendor/github.com/google/mako/internal/go/common/BUILD
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/internal/httprule/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/BUILD.bazel
Due: none

WIP Testing only
  .github/workflows/kind-e2e.yaml
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route.go
  test/config/tls/cert-secret.yaml
  test/config/tls/generate.sh
  test/e2e-common.sh
  test/e2e-tests.sh
  test/e2e/clusterlocaldomaintls/cluster_local_domain_tls_test.go
  test/e2e/encryption.go
  test/e2e/httpproxy.go
  test/e2e/service_to_service_test.go
  test/e2e/subroutes_test.go
  test/test_images/httpproxy/httpproxy.go
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

remove dead code and other fixes (#14578)
  pkg/activator/net/throttler_test.go
  pkg/http/handler/timeout_test.go
  pkg/reconciler/revision/background_test.go
  pkg/reconciler/route/traffic/rollout.go
  pkg/reconciler/route/traffic/rollout_test.go
  test/conformance.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14582)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#14584)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#14585)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

removed unused test methods from revision testing package
  pkg/testing/v1/revision.go
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

remove duplicate 'additionalPrinterColumns'
  config/core/300-resources/domain-mapping.yaml
Due: none

remove duplicate 'additionalPrinterColumns' (#14592)
  config/core/300-resources/domain-mapping.yaml
Due: none

adding condition to wait for container creation in the resource quota service creation test
  test/e2e/resource_quota_error_test.go
Due: none

Update net-gateway-api nightly (#14583)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14586)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14591)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Drop CI reverse compatibility for auto-tls rename
  test/e2e-auto-tls-tests.sh
  test/e2e-common.sh
Due: none

Update net-istio nightly (#14596)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  pkg/client/injection/informers/factory/filtered/fake/fake_filtered_factory.go
  pkg/client/injection/informers/factory/filtered/filtered_factory.go
  third_party/VENDOR-LICENSE/github.com/gorilla/websocket/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/github.com/gorilla/websocket/.editorconfig
  vendor/github.com/gorilla/websocket/.gitignore
  vendor/github.com/gorilla/websocket/.golangci.yml
  vendor/github.com/gorilla/websocket/AUTHORS
  vendor/github.com/gorilla/websocket/LICENSE
  vendor/github.com/gorilla/websocket/Makefile
  vendor/github.com/gorilla/websocket/README.md
  vendor/github.com/gorilla/websocket/client.go
  vendor/github.com/gorilla/websocket/compression.go
  vendor/github.com/gorilla/websocket/conn.go
  vendor/github.com/gorilla/websocket/mask.go
  vendor/github.com/gorilla/websocket/proxy.go
  vendor/github.com/gorilla/websocket/server.go
  vendor/github.com/gorilla/websocket/tls_handshake.go
  vendor/github.com/gorilla/websocket/tls_handshake_116.go
  vendor/github.com/gorilla/websocket/util.go
  vendor/github.com/gorilla/websocket/x_net_proxy.go
  vendor/golang.org/x/net/internal/socks/client.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/golang.org/x/net/proxy/dial.go
  vendor/golang.org/x/net/proxy/direct.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/proxy/proxy.go
  vendor/golang.org/x/net/proxy/socks5.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/google.golang.org/api/internal/version.go
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/fake/fake_filtered_factory.go
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/filtered_factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_filtered_factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/filtered_factory.go
  vendor/modules.txt
Due: none

Pin to gorilla websocket to 1.15.0
  go.mod
  go.sum
  third_party/VENDOR-LICENSE/github.com/gorilla/websocket/LICENSE
  vendor/github.com/gorilla/websocket/.editorconfig
  vendor/github.com/gorilla/websocket/.gitignore
  vendor/github.com/gorilla/websocket/.golangci.yml
  vendor/github.com/gorilla/websocket/AUTHORS
  vendor/github.com/gorilla/websocket/LICENSE
  vendor/github.com/gorilla/websocket/Makefile
  vendor/github.com/gorilla/websocket/README.md
  vendor/github.com/gorilla/websocket/client.go
  vendor/github.com/gorilla/websocket/compression.go
  vendor/github.com/gorilla/websocket/conn.go
  vendor/github.com/gorilla/websocket/mask.go
  vendor/github.com/gorilla/websocket/proxy.go
  vendor/github.com/gorilla/websocket/server.go
  vendor/github.com/gorilla/websocket/tls_handshake_116.go
  vendor/github.com/gorilla/websocket/util.go
  vendor/github.com/gorilla/websocket/x_net_proxy.go
  vendor/golang.org/x/net/internal/socks/client.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/golang.org/x/net/proxy/dial.go
  vendor/golang.org/x/net/proxy/direct.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/proxy/proxy.go
  vendor/golang.org/x/net/proxy/socks5.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies with websocket v1.5.0 (#14598)
  go.mod
  go.sum
  pkg/client/injection/informers/factory/filtered/fake/fake_filtered_factory.go
  pkg/client/injection/informers/factory/filtered/filtered_factory.go
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/google.golang.org/api/internal/version.go
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/fake/fake_filtered_factory.go
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/filtered_factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fake_filtered_factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/filtered_factory.go
  vendor/modules.txt
Due: none

Drop CI reverse compatibility for auto-tls rename (#14595)
  test/e2e-auto-tls-tests.sh
  test/e2e-common.sh
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
