Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-istio nightly (#13280)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#13282)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#13281)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

update setup-ko action to v0.6
  .github/workflows/kind-e2e.yaml
Due: none

update setup-ko action to v0.6 (#13283)
  .github/workflows/kind-e2e.yaml
Due: none

testing cluster local as default domain
  pkg/reconciler/route/config/domain.go
Due: none

update default domain on tests
  pkg/reconciler/nscert/nscert_test.go
Due: none

missed a few
  pkg/reconciler/nscert/nscert_test.go
Due: none

add domain for e2e tests
  test/config/ytt/core/overlay-config-domain.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#13287)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13288)
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: none

review fixes
  config/core/configmaps/domain.yaml
  pkg/reconciler/nscert/nscert_test.go
Due: none

use GKE 1.23 clusters
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/performance/performance-tests-mako.sh
  test/performance/performance-tests.sh
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13290)
  go.mod
  go.sum
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

use GKE 1.23 clusters (#13289)
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/performance/performance-tests-mako.sh
  test/performance/performance-tests.sh
Due: none

Update net-certmanager nightly (#13291)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Vendor logstream changes
  vendor/knative.dev/pkg/test/logstream/interface.go
  vendor/knative.dev/pkg/test/logstream/null.go
  vendor/knative.dev/pkg/test/logstream/v2/stream.go
Due: none

Stream logs from user pods during upgrades
  test/upgrade/autoscaler.go
  test/upgrade/probe.go
Due: none

Induce failures to show the logstream output
  test/upgrade/autoscaler.go
  test/upgrade/probe.go
Due: none

Use short ksvc name for upgrade-tests to keep Pod names consistent
  test/e2e/autoscale.go
  test/e2e/autoscale_test.go
  test/ha/autoscaler_test.go
  test/upgrade/autoscaler.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Keep the prefixes unique
  test/upgrade/autoscaler.go
Due: none

Update net-contour nightly (#13294)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#13295)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#13297)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

use new k8s.io/util/clock package
  pkg/http/handler/timeout_test.go
Due: none

Using BYO revision name will allow latest created/ready to rollback.
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
  test/e2e/rollback_byo_test.go
Due: none

adding k8s.io/utils/clock/testing
  go.mod
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none

Use new k8s.io/util/clock package (#13300)
  go.mod
  pkg/http/handler/timeout.go
  pkg/http/handler/timeout_test.go
Due: none

Update net-gateway-api nightly (#13296)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

update to use k8s.io/utils/clock package
  pkg/autoscaler/fake/fakes.go
  pkg/autoscaler/metrics/collector.go
  pkg/autoscaler/metrics/collector_test.go
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/reconciler/configuration/controller.go
  pkg/reconciler/gc/gc_test.go
  pkg/reconciler/gc/reconciler_test.go
  pkg/reconciler/labeler/accessors.go
  pkg/reconciler/labeler/controller.go
  pkg/reconciler/labeler/labeler_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/controller.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/revision.go
Due: none

update to use k8s.io/utils/clock package (#13301)
  pkg/autoscaler/fake/fakes.go
  pkg/autoscaler/metrics/collector.go
  pkg/autoscaler/metrics/collector_test.go
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/reconciler/configuration/controller.go
  pkg/reconciler/gc/gc_test.go
  pkg/reconciler/gc/reconciler_test.go
  pkg/reconciler/labeler/accessors.go
  pkg/reconciler/labeler/controller.go
  pkg/reconciler/labeler/labeler_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/controller.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1/revision.go
Due: none
