Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Added dependency file missed in first commit
  pkg/apis/autoscaling/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/serving/v1/zz_generated.deepcopy.go
  pkg/apis/serving/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/serving/v1beta1/zz_generated.deepcopy.go
  pkg/autoscaler/config/autoscalerconfig/zz_generated.deepcopy.go
  pkg/autoscaler/scaling/zz_generated.deepcopy.go
  pkg/deployment/zz_generated.deepcopy.go
  pkg/gc/zz_generated.deepcopy.go
  pkg/reconciler/route/config/zz_generated.deepcopy.go
  vendor/knative.dev/hack/CODE-OF-CONDUCT.md
Due: none

fix scale-from-zero mako test
  test/config/ytt/perf-scale-from-zero/overlay-scale-from-zero-image.yaml
  test/performance/performance-tests-mako.sh
Due: none

fix scale-from-zero mako test (#13035)
  test/config/ytt/perf-scale-from-zero/overlay-scale-from-zero-image.yaml
  test/performance/performance-tests-mako.sh
Due: none

Add coverage of new paths
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Due: none

Improve SKS handling for unavailable Activator. (#13027)
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Due: none

Allow calls to test.Setup to disable logstream
  test/conformance.go
  test/e2e/autotls/auto_tls_test.go
  test/e2e/autotls/domain_mapping_test.go
  test/e2e/autotls/http_redirect_test.go
  test/e2e/e2e.go
  test/e2e/resource_quota_error_test.go
Due: none

skip http2 test early
  test/e2e/http2_test.go
Due: none

only watch endpoints for our private services
  pkg/reconciler/serverlessservice/controller.go
Due: none

skip http2 test early (#13047)
  test/e2e/http2_test.go
Due: none

feat: unblock restart-policy
  pkg/apis/config/features.go
  pkg/apis/serving/fieldmask.go
Due: none

chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Due: none

Update link, thanks to Zhu Lei
  config/core/300-resources/podautoscaler.yaml
  docs/serving-api.md
  pkg/apis/autoscaling/v1alpha1/pa_types.go
Due: none

Update link, thanks to Zhu Lei (#13052)
  config/core/300-resources/podautoscaler.yaml
  docs/serving-api.md
  pkg/apis/autoscaling/v1alpha1/pa_types.go
Due: none

Retain backwards compatibility for max-scale/min-scale deprecation
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/apis/autoscaling/register.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/apis/serving/v1/revision_validation_test.go
  pkg/autoscaler/config/autoscalerconfig/autoscalerconfig.go
  pkg/autoscaler/config/config.go
  pkg/autoscaler/config/config_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/testing/functional.go
  test/e2e/activator_test.go
  test/e2e/autoscale_hpa_test.go
  test/e2e/grpc_test.go
  test/e2e/logging_test.go
  test/e2e/minscale_readiness_test.go
  test/e2e/scale.go
  test/ha/activator_test.go
  test/performance/benchmarks/rollout-probe/continuous/main.go
  test/upgrade/preupgrade.go
Due: none

only watch endpoints for our private services (#13048)
  pkg/reconciler/serverlessservice/controller.go
Due: none

Small Update to ReadMe
  README.md
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

temp. disable flaky kind test
  .github/workflows/kind-e2e.yaml
  test/e2e/autoscale_test.go
Due: none

skip both tests
  test/e2e/autoscale_test.go
Due: none

Temporarily disable flaky kind test (#13055)
  .github/workflows/kind-e2e.yaml
  test/e2e/autoscale_test.go
Due: none

Update net-contour nightly (#13032)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#13029)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#13031)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#13040)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Allow calls to test.Setup to disable logstream (#13046)
  test/conformance.go
  test/e2e/autotls/auto_tls_test.go
  test/e2e/autotls/domain_mapping_test.go
  test/e2e/autotls/http_redirect_test.go
  test/e2e/e2e.go
  test/e2e/resource_quota_error_test.go
Due: none

Use one line style
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Fix cert path
  cmd/queue/main.go
Due: none

Support internal-encryption configuration
  cmd/activator/main.go
  config/core/300-secret.yaml
  pkg/reconciler/autoscaling/config/store_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  test/config/tls/config-network.yaml
  test/config/tls/secret.yaml
  test/e2e-common.sh
  test/e2e/autoscale_test.go
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

rm blank line
  cmd/controller/main.go
Due: none

Drop unused variable
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Due: none

Add certificate reconciler for internal certs
  cmd/activator/main.go
  cmd/controller/main.go
  cmd/queue/main.go
  config/core/300-secret.yaml
  go.mod
  go.sum
  test/config/tls/secret.yaml
  test/e2e-common.sh
  test/generate-cert.sh
  test/ha/ha.go
  third_party/VENDOR-LICENSE/knative.dev/control-protocol/pkg/certificates/LICENSE
  third_party/kourier-latest/kourier.yaml
  vendor/knative.dev/control-protocol/LICENSE
  vendor/knative.dev/control-protocol/pkg/certificates/certs.go
  vendor/knative.dev/control-protocol/pkg/certificates/constants.go
  vendor/knative.dev/control-protocol/pkg/certificates/key_pair.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/certificates.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/controller.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/secret/secret.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/secret/controller.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/secret/reconciler.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/secret/state.go
  vendor/modules.txt
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Use const for cert name
  cmd/controller/main.go
  config/core/300-secret.yaml
  pkg/networking/constants.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/deploy.go
Due: none

Fix lint
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Use one line code
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Temporary use local networking repo
  go.mod
  go.sum
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/knative.dev/networking/pkg/config/config.go
  vendor/knative.dev/networking/pkg/deprecated_config.go
  vendor/modules.txt
Due: none

Verify SecretPKKey as well
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
