Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

move to go1.21 (#14641)
  go.mod
  go.sum
Due: none

Disable flaky ambient e2e tests (#14638)
  .github/workflows/kind-e2e.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#14647)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#14649)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14651)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14650)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

respect revision timeout defaults in cm (#14600)
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
Due: none

Update net-kourier nightly (#14648)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

remove duplicate 'additionalPrinterColumns'
  config/core/300-resources/domain-mapping.yaml
Due: none

remove duplicate 'additionalPrinterColumns' (#14654)
  config/core/300-resources/domain-mapping.yaml
Due: none

remove duplicate 'additionalPrinterColumns' (#14653)
  config/core/300-resources/domain-mapping.yaml
Due: none

Variable name updated
  pkg/apis/config/defaults.go
  pkg/apis/serving/v1/revision_defaults.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/google.golang.org/api/internal/version.go
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

goimports applied
  pkg/apis/config/defaults.go
Due: none

fix arrow direction
  docs/encryption/encryption-system-internal.drawio.svg
Due: none

upgrade to latest dependencies (#14658)
  go.mod
  go.sum
  vendor/google.golang.org/api/internal/version.go
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Update net-certmanager nightly (#14659)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update Serving encryption documentation to the newest developments (#14631)
  docs/encryption/encryption-cluster-local-domain.drawio.svg
  docs/encryption/encryption-external-domain.drawio.svg
  docs/encryption/encryption-knative-internal.drawio.svg
  docs/encryption/encryption-system-internal.drawio.svg
  docs/encryption/knative-encryption.md
Due: none

test file updated
  pkg/apis/config/defaults_test.go
Due: none

Variable name updated (#14657)
  pkg/apis/config/defaults.go
  pkg/apis/config/defaults_test.go
  pkg/apis/serving/v1/revision_defaults.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/register.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/ingress_helpers.go
  vendor/knative.dev/networking/pkg/config/config.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14661)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/register.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/ingress_helpers.go
  vendor/knative.dev/networking/pkg/config/config.go
  vendor/modules.txt
Due: none

fixes
  test/performance/benchmarks/rollout-probe/main.go
  test/performance/benchmarks/scale-from-zero/main.go
Due: none

rename env var for http2 autodetect
  pkg/queue/sharedmain/main.go
  pkg/queue/sharedmain/main_test.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none
