Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

replce depricated sets.String with sets.Set
  pkg/activator/net/helpers.go
  pkg/activator/net/helpers_test.go
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
  vendor/knative.dev/pkg/logging/object_encoders.go
Due: none

fix after review
  test/performance/benchmarks/load-test/main.go
  test/performance/benchmarks/rollout-probe/main.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#14754)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14755)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-certmanager nightly (#14758)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#14759)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/google.golang.org/api/dns/v1/dns-api.json
  vendor/google.golang.org/api/dns/v1/dns-gen.go
  vendor/google.golang.org/api/internal/settings.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/api/option/internaloption/internaloption.go
  vendor/modules.txt
Due: none

Update community files (#14760)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies (#14761)
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/google.golang.org/api/dns/v1/dns-api.json
  vendor/google.golang.org/api/dns/v1/dns-gen.go
  vendor/google.golang.org/api/internal/settings.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/api/option/internaloption/internaloption.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  pkg/client/injection/reconciler/autoscaling/v1alpha1/metric/reconciler.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/podautoscaler/reconciler.go
  pkg/client/injection/reconciler/serving/v1/configuration/reconciler.go
  pkg/client/injection/reconciler/serving/v1/revision/reconciler.go
  pkg/client/injection/reconciler/serving/v1/route/reconciler.go
  pkg/client/injection/reconciler/serving/v1/service/reconciler.go
  pkg/client/injection/reconciler/serving/v1beta1/domainmapping/reconciler.go
  vendor/knative.dev/hack/codegen-library.sh
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/namespace/reconciler.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_reconciler.go
  vendor/knative.dev/pkg/configmap/informer/synced_callback.go
  vendor/knative.dev/pkg/configmap/parse.go
  vendor/knative.dev/pkg/hash/bucketer.go
  vendor/knative.dev/pkg/hash/hash.go
  vendor/knative.dev/pkg/kflag/set.go
  vendor/knative.dev/pkg/leaderelection/chaosduck/main.go
  vendor/knative.dev/pkg/leaderelection/context.go
  vendor/knative.dev/pkg/logging/object_encoders.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/knative.dev/pkg/test/ha/ha.go
  vendor/knative.dev/pkg/test/spoof/response_checks.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/validation/validation_admit.go
  vendor/modules.txt
Due: none

Update net-certmanager nightly (#14766)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#14767)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#14769)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14768)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Run `hack/update-codegen.sh'
  config/core/300-resources/configuration.yaml
  config/core/300-resources/revision.yaml
  config/core/300-resources/service.yaml
  pkg/client/clientset/versioned/doc.go
  pkg/client/clientset/versioned/typed/serving/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/serving/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/serving/v1alpha1/fake/fake_serving_client.go
  pkg/client/clientset/versioned/typed/serving/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/serving/v1alpha1/serving_client.go
  pkg/client/informers/externalversions/factory.go
Due: none

Update net-certmanager nightly (#14772)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Add defaulting for all GRPC probe types
  pkg/apis/serving/v1/revision_defaults.go
  pkg/queue/health/probe_test.go
  pkg/reconciler/revision/resources/deploy_test.go
Due: none

Add an E2E readiness test with GRPC probes
  test/e2e/readiness_test.go
  test/test_images/grpc-ping/main.go
  vendor/google.golang.org/grpc/health/client.go
  vendor/google.golang.org/grpc/health/logging.go
  vendor/google.golang.org/grpc/health/server.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/ports.go
  vendor/modules.txt
Due: none

Update community files (#14777)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies (#14778)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/apis/networking/ports.go
  vendor/modules.txt
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
