Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

upgrade to latest dependencies (#13759)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Update net-kourier nightly (#13760)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Use hashing to compare deployment specs for equality
  go.mod
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/resources/constants.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/table_test.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

nits
  pkg/queue/sharedmain/main.go
Due: none

Update net-gateway-api nightly (#13756)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#13761)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#13762)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

test upgrade sec default
  pkg/apis/config/features.go
Due: none

Move to InsecureSkipVerify: true
  cmd/activator/main.go
Due: none

opt for lower shotdown limit + nits
  pkg/queue/sharedmain/main.go
Due: none

make security test pass
  cmd/activator/main.go
  pkg/activator/handler/handler.go
Due: none

make security test pass
  cmd/activator/main.go
Due: none

Adds e2e test for activation-scale (#13197)
  .github/workflows/kind-e2e.yaml
  test/e2e/autoscale_test.go
  test/e2e/resource_quota_error_test.go
Due: none

add missing probes (#13563)
  config/core/deployments/controller.yaml
  config/core/deployments/domainmapping-controller.yaml
  config/hpa-autoscaling/controller.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/env.go
  vendor/modules.txt
Due: none

Do not set pseudo header resolvabledomain is enabled in TestActivationScale
  test/e2e/autoscale_test.go
Due: none

use CheckEndpointState to scale up
  test/e2e/autoscale_test.go
Due: none

Use `pkgtest.CheckEndpointState` in TestActivationScale instead of raw client (#13770)
  test/e2e/autoscale_test.go
Due: none

upgrade to latest dependencies (#13769)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/env.go
  vendor/modules.txt
Due: none

align naming
  pkg/queue/sharedmain/main.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#13775)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#13772)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#13774)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#13773)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#13777)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update net-kourier nightly (#13778)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#13779)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main
