Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-istio nightly (#14009)
  third_party/istio-latest/net-istio.yaml
Due: none

[Automated] Update net-gateway-api nightly (#14003)
  test/e2e-networking-library.sh
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Move `pkg/certificates` from `control-protocol` to `networking`
  cmd/controller/main.go
  go.mod
  pkg/activator/certificate/cache.go
  pkg/activator/certificate/cache_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/reconcile_resources.go
  third_party/VENDOR-LICENSE/knative.dev/control-protocol/pkg/certificates/LICENSE
  vendor/knative.dev/control-protocol/LICENSE
  vendor/knative.dev/networking/pkg/certificates/certs.go
  vendor/knative.dev/networking/pkg/certificates/constants.go
  vendor/knative.dev/networking/pkg/certificates/key_pair.go
  vendor/knative.dev/networking/pkg/certificates/reconciler/certificates.go
  vendor/knative.dev/networking/pkg/certificates/reconciler/controller.go
  vendor/knative.dev/networking/pkg/certificates/reconciler/controller_impl.go
  vendor/knative.dev/networking/pkg/certificates/reconciler/reconciler.go
Due: none

Get code from retocode/networking for testing
  go.mod
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/certificate_validation.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/domain_defaults.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/domain_validation.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/ingress_defaults.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/ingress_validation.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/realm_defaults.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/realm_validation.go
  vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/serverlessservice_defaults.go
  vendor/knative.dev/networking/pkg/certificates/certs.go
  vendor/knative.dev/networking/pkg/certificates/constants.go
  vendor/knative.dev/networking/pkg/certificates/reconciler/certificates.go
  vendor/knative.dev/networking/pkg/certificates/reconciler/controller.go
Due: none

Run `hack/update-deps.sh` after rebase
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies (#14013)
  go.mod
  go.sum
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Add chainguard-dev/actions for creating kind cluster
  .github/workflows/kind-e2e.yaml
Due: none

Update net-certmanager nightly (#14014)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14015)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14016)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update kind-e2e.yaml
  .github/workflows/kind-e2e.yaml
Due: none

fix reporting period
  config/core/configmaps/observability.yaml
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

fixes
  config/core/configmaps/observability.yaml
Due: none

merge domain mapping logic with controller
  cmd/controller/main.go
  cmd/domain-mapping-webhook/main.go
  cmd/domain-mapping/main.go
  config/core/deployments/controller.yaml
  config/core/deployments/domainmapping-controller.yaml
  config/core/deployments/domainmapping-webhook.yaml
  config/core/webhooks/domainmapping-defaulting.yaml
  config/core/webhooks/domainmapping-validation.yaml
  test/ha/ha.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

remove ha test for domainmapping
  test/ha/domainmapping_test.go
Due: none

fixes for go lint
  pkg/activator/certificate/cache.go
  pkg/activator/certificate/cache_test.go
  pkg/apis/serving/v1/revision_validation.go
  pkg/autoscaler/statforwarder/statefulset.go
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/revision/resolve.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/traffic/traffic_test.go
Due: none

Update net-istio nightly (#14025)
  third_party/istio-latest/net-istio.yaml
Due: none

poll until timeout - don't error out if the deployment can't be found
  pkg/reconciler/revision/revision_test.go
Due: none

Update net-kourier nightly (#14004)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

RandomChoice 2 policy wasn't random when the number of targets is 2
  pkg/activator/net/lb_policy.go
  pkg/activator/net/lb_policy_test.go
Due: none

fix a more flakes
  pkg/reconciler/revision/revision_test.go
Due: none

Fix metrics reporting period (#14019)
  config/core/configmaps/observability.yaml
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

fix linting
  pkg/activator/net/lb_policy.go
Due: none

RandomChoice 2 policy wasn't random when the number of targets is 2 (with equal weight) (#14028)
  pkg/activator/net/lb_policy.go
  pkg/activator/net/lb_policy_test.go
Due: none

Update net-istio nightly (#14030)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#14031)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#14032)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#14034)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

drop safe to evict annotations
  config/core/deployments/activator.yaml
  config/core/deployments/autoscaler.yaml
  config/core/deployments/controller.yaml
  config/core/deployments/domainmapping-controller.yaml
  config/core/deployments/domainmapping-webhook.yaml
  config/core/deployments/webhook.yaml
  config/hpa-autoscaling/controller.yaml
Due: none
