Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/reconciler.go
  vendor/modules.txt
Due: none

Update support rotation (#13714)
  support/support.rotation
Due: none

upgrade to latest dependencies (#13713)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/reconciler.go
  vendor/modules.txt
Due: none

Update net-certmanager nightly (#13715)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#13716)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Fix initializations and terminations of http servers
  pkg/queue/sharedmain/main.go
Due: none

Adding admin even when tlsAdmin is added
  pkg/queue/sharedmain/main.go
Due: none

Try out with shutdown to see if e2e kurier-tls pass
  pkg/queue/sharedmain/main.go
Due: none

Seperate Drainers trying to get kurier tls e2e to pass
  pkg/queue/sharedmain/main.go
Due: none

Trying to wait longer at Shutdown
  pkg/queue/sharedmain/main.go
Due: none

refactor: move cert renewal test into table test
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
Due: none

Update net-kourier nightly (#13698)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#13717)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#13718)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#13719)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#13724)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

check for renewing status (#13666)
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
Due: none

remove placeholder test
  test/e2e-internal-encryption-tests.sh
Due: none

wip: run contour-tls job
  .github/workflows/kind-e2e.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  pkg/client/injection/reconciler/autoscaling/v1alpha1/metric/controller.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/podautoscaler/controller.go
  pkg/client/injection/reconciler/serving/v1/configuration/controller.go
  pkg/client/injection/reconciler/serving/v1/revision/controller.go
  pkg/client/injection/reconciler/serving/v1/route/controller.go
  pkg/client/injection/reconciler/serving/v1/service/controller.go
  pkg/client/injection/reconciler/serving/v1alpha1/domainmapping/controller.go
  pkg/client/injection/reconciler/serving/v1beta1/domainmapping/controller.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/namespace/controller.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_controller.go
  vendor/knative.dev/pkg/controller/options.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/modules.txt
Due: none

Add nodeName and targetRef fields to Endpoints (#13581)
  pkg/autoscaler/bucket/bucket.go
  pkg/autoscaler/statforwarder/leases.go
Due: none

upgrade to latest dependencies (#13726)
  go.mod
  go.sum
  pkg/client/injection/reconciler/autoscaling/v1alpha1/metric/controller.go
  pkg/client/injection/reconciler/autoscaling/v1alpha1/podautoscaler/controller.go
  pkg/client/injection/reconciler/serving/v1/configuration/controller.go
  pkg/client/injection/reconciler/serving/v1/revision/controller.go
  pkg/client/injection/reconciler/serving/v1/route/controller.go
  pkg/client/injection/reconciler/serving/v1/service/controller.go
  pkg/client/injection/reconciler/serving/v1alpha1/domainmapping/controller.go
  pkg/client/injection/reconciler/serving/v1beta1/domainmapping/controller.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/namespace/controller.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/reconciler_controller.go
  vendor/knative.dev/pkg/controller/options.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/modules.txt
Due: none

Update net-certmanager nightly (#13728)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/controller.go
  vendor/modules.txt
Due: none

Update net-contour nightly (#13729)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

added main in tls mode, unified admin and adminTls, unified the drainers, moved to struct service being returned from build* functions
  pkg/queue/sharedmain/main.go
Due: none

TestAutoscaleSustaining scales to 8 instead of 10 (#13679)
  .github/workflows/kind-e2e.yaml
  test/e2e/autoscale_test.go
Due: none

nits
  pkg/queue/sharedmain/main.go
Due: none

upgrade to latest dependencies (#13730)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/client/injection/reconciler/networking/v1alpha1/serverlessservice/controller.go
  vendor/modules.txt
Due: none

If there is no traffic routed to revision then scale to 0
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
