Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#13866)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#13865)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#13864)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#13868)
  OWNERS_ALIASES
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/certificates.go
  vendor/modules.txt
Due: none

Load certificate when they are updated when internal-encryption is enabled (#13854)
  cmd/activator/main.go
  pkg/activator/certificate/cache.go
  pkg/activator/certificate/cache_test.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/secret/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/secret/secret.go
  vendor/modules.txt
Due: none

update secrets
  config/core/300-secret.yaml
  go.mod
  pkg/networking/constants.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/deploy.go
Due: none

use updated control-protocol
  go.mod
Due: none

failed to remove secrets form controller
  config/core/200-roles/clusterrole.yaml
  pkg/reconciler/revision/reconcile_resources.go
Due: none

added a new Secret for control-plane to allow more gradual change in control-plane
  config/core/300-secret.yaml
Due: none

limit secret accesss to resourceNames
  config/core/200-roles/clusterrole.yaml
Due: none

back to data-plane
  config/core/300-secret.yaml
Due: none

remove changes in clusterrole
  config/core/200-roles/clusterrole.yaml
Due: none

Update net-certmanager nightly (#13874)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

upgrade to latest dependencies (#13875)
  go.mod
  go.sum
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/certificates.go
  vendor/modules.txt
Due: none

Update net-istio nightly (#13872)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#13873)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#13870)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#13871)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

fix nits
  pkg/reconciler/revision/reconcile_resources.go
Due: none

Update actions
  .github/workflows/knative-release-notes.yaml
Due: none

Update actions (#13879)
  .github/workflows/knative-release-notes.yaml
Due: none

probe fixes
  cmd/domain-mapping-webhook/main.go
  cmd/webhook/main.go
  config/core/deployments/controller.yaml
  config/core/deployments/domainmapping-controller.yaml
  config/post-install/default-domain.yaml
Due: none

Update net-gateway-api nightly (#13880)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#13882)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly (#13883)
  third_party/istio-latest/net-istio.yaml
Due: none
