Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Update net-kourier nightly (#14209)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14223)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14222)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14224)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Set TLS minimum version to 1.3 for Ingress to Activator (#14074)
  cmd/activator/main.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Add certificate watcher to queue-proxy
  pkg/queue/certificate/watcher.go
  pkg/queue/certificate/watcher_test.go
  pkg/queue/sharedmain/main.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies (#14225)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: none

Update net-istio nightly (#14220)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#14227)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14228)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update net-kourier nightly (#14221)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#14226)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update community files (#14230)
  OWNERS_ALIASES
Due: none

PR review improvements
  pkg/queue/certificate/watcher.go
  pkg/queue/sharedmain/main.go
Due: none

PR review improvements
  docs/encryption/encryption-knative-internal.drawio.svg
  docs/encryption/knative-encryption.md
Due: none

Update net-istio nightly (#14232)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#14234)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#14235)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14233)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#14236)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/github.com/googleapis/gax-go/v2/.release-please-manifest.json
  vendor/github.com/googleapis/gax-go/v2/CHANGES.md
  vendor/github.com/googleapis/gax-go/v2/header.go
  vendor/github.com/googleapis/gax-go/v2/internal/version.go
  vendor/google.golang.org/api/googleapi/googleapi.go
  vendor/google.golang.org/api/internal/cert/secureconnect_cert.go
  vendor/google.golang.org/api/internal/creds.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/impersonate/impersonate.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14238)
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/github.com/googleapis/gax-go/v2/.release-please-manifest.json
  vendor/github.com/googleapis/gax-go/v2/CHANGES.md
  vendor/github.com/googleapis/gax-go/v2/header.go
  vendor/github.com/googleapis/gax-go/v2/internal/version.go
  vendor/google.golang.org/api/googleapi/googleapi.go
  vendor/google.golang.org/api/internal/cert/secureconnect_cert.go
  vendor/google.golang.org/api/internal/creds.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/impersonate/impersonate.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
