Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

add log in http-protocol disabled and invalid case
  pkg/reconciler/domainmapping/reconciler.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#12807)
  OWNERS_ALIASES
Due: none

Use switch
  pkg/reconciler/autoscaling/kpa/kpa.go
Due: none

Force activator always in path when activator CA is specified (#12790)
  pkg/reconciler/autoscaling/config/store.go
  pkg/reconciler/autoscaling/config/store_test.go
  pkg/reconciler/autoscaling/config/testdata/config-network.yaml
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/CODE-OF-CONDUCT.md
  vendor/knative.dev/hack/CODE_OF_CONDUCT.md
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#12792)
  go.mod
  go.sum
  vendor/knative.dev/hack/CODE-OF-CONDUCT.md
  vendor/knative.dev/hack/CODE_OF_CONDUCT.md
  vendor/modules.txt
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#12810)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

hpa revisions ready when min pods ready
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
Due: none

Update actions
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

hpa revisions ready when min pods ready (#12811)
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
Due: none

Update net-contour nightly (#12805)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#12813)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update actions (#12812)
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Due: none

Update net-gateway-api nightly (#12809)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/config/certificate.yaml
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/knative.dev/networking/config/domain-claim.yaml
  vendor/knative.dev/networking/config/domain.yaml
  vendor/knative.dev/networking/config/ingress.yaml
  vendor/knative.dev/networking/config/realm.yaml
  vendor/knative.dev/networking/config/serverlessservice.yaml
  vendor/modules.txt
Due: none

Update net-istio nightly (#12749)
  third_party/istio-latest/net-istio.yaml
Due: none

reuse GetHTTPOption func
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/domainmapping/reconciler_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/util.go
  pkg/reconciler/util_test.go
Due: none

upgrade to latest dependencies (#12814)
  go.mod
  go.sum
  vendor/knative.dev/networking/config/certificate.yaml
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/knative.dev/networking/config/domain-claim.yaml
  vendor/knative.dev/networking/config/domain.yaml
  vendor/knative.dev/networking/config/ingress.yaml
  vendor/knative.dev/networking/config/realm.yaml
  vendor/knative.dev/networking/config/serverlessservice.yaml
  vendor/modules.txt
Due: none

Adding a resource-quota test (#12791)
  pkg/testing/v1/service.go
  test/config/cluster-resources.yaml
  test/config/resource-quota/resource-quota.yaml
  test/e2e-common.sh
  test/e2e-upgrade-tests.sh
  test/e2e/resource_quota_error_test.go
Due: none

Update net-certmanager nightly (#12818)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

include rebaseRule for activator replicas
  test/config/ytt/core/kapp-rebase-activator-replicas.yaml
  test/config/ytt/core/kapp-rebase-aggregate-roles.yaml
Due: none

include rebaseRule for activator replicas (#12785)
  test/config/ytt/core/kapp-rebase-activator-replicas.yaml
  test/config/ytt/core/kapp-rebase-aggregate-roles.yaml
Due: none

Fix kpa.TestReconcileDeciderCreatesAndDeletes flake
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Due: none

Fix kpa.TestReconcileDeciderCreatesAndDeletes flake (#12820)
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Due: none

adds failure message when container exit code == 0
  pkg/reconciler/revision/reconcile_resources.go
Due: none

refactor kind workflows and drop support for k8s 1.21
  .github/workflows/kind-e2e.yaml
  test/config/ytt/ingress/gateway-api/enable-access-logging.yaml
  test/config/ytt/kind/ingress/contour-kind.yaml
  test/config/ytt/kind/ingress/istio-kind.yaml
  test/config/ytt/kind/ingress/kourier-kind.yaml
  test/e2e-common.sh
  test/e2e-networking-library.sh
Due: none

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

drop audit logging
  .github/workflows/kind-e2e.yaml
Due: none

Update actions (#12823)
  .github/workflows/knative-releasability.yaml
Due: none

move GetHTTPOption to pkg/networking and add comment
  pkg/networking/util.go
  pkg/networking/util_test.go
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/route/resources/ingress.go
Due: none

Update community files (#12825)
  OWNERS_ALIASES
Due: none

review feedback
  .github/workflows/kind-e2e.yaml
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
