Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/pkg/network/handlers/drain.go
  vendor/modules.txt
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#13497)
  third_party/istio-latest/net-istio.yaml
Due: none

[release-1.6] gofmt with go1.19 (#13494)
  cmd/default-domain/main.go
  cmd/queue/main.go
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/autoscaler/statserver/server.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/revision/resolve_test.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

upgrade to latest dependencies (#13496)
  go.mod
  go.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/pkg/network/handlers/drain.go
  vendor/modules.txt
Due: none

[release-1.5] gofmt with go1.19 (#13495)
  cmd/default-domain/main.go
  cmd/queue/main.go
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/autoscaler/statserver/server.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/revision/resolve_test.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

bump knative.dev/pkg to pull in nil pointer fixes
  go.mod
  go.sum
  vendor/knative.dev/pkg/apis/duck/verify.go
  vendor/knative.dev/pkg/apis/field_error.go
  vendor/knative.dev/pkg/apis/testing/fuzzer/fuzzer.go
  vendor/knative.dev/pkg/apis/testing/roundtrip/roundtrip.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/comment_parser.go
  vendor/knative.dev/pkg/configmap/doc.go
  vendor/knative.dev/pkg/configmap/store.go
  vendor/knative.dev/pkg/depcheck/depcheck.go
  vendor/knative.dev/pkg/hash/doc.go
  vendor/knative.dev/pkg/injection/doc.go
  vendor/knative.dev/pkg/injection/injection.go
  vendor/knative.dev/pkg/logging/object_encoders.go
  vendor/knative.dev/pkg/metrics/prometheus_exporter.go
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/handlers/drain.go
  vendor/knative.dev/pkg/network/handlers/error.go
  vendor/knative.dev/pkg/profiling/server.go
  vendor/knative.dev/pkg/reconciler/retry.go
  vendor/knative.dev/pkg/reconciler/testing/hooks.go
  vendor/knative.dev/pkg/reconciler/testing/reactions.go
  vendor/knative.dev/pkg/reconciler/testing/sorter.go
  vendor/knative.dev/pkg/test/ingress/ingress.go
  vendor/knative.dev/pkg/test/vegeta/pacers/steady_up_pacer.go
  vendor/knative.dev/pkg/test/zipkin/doc.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/pkg/tracing/testing/zipkin.go
  vendor/knative.dev/pkg/tracing/zipkin.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

bump knative.dev/pkg to pull in nil pointer fixes (#13500)
  go.mod
  go.sum
  vendor/knative.dev/pkg/apis/duck/verify.go
  vendor/knative.dev/pkg/apis/field_error.go
  vendor/knative.dev/pkg/apis/testing/fuzzer/fuzzer.go
  vendor/knative.dev/pkg/apis/testing/roundtrip/roundtrip.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/comment_parser.go
  vendor/knative.dev/pkg/configmap/doc.go
  vendor/knative.dev/pkg/configmap/store.go
  vendor/knative.dev/pkg/depcheck/depcheck.go
  vendor/knative.dev/pkg/hash/doc.go
  vendor/knative.dev/pkg/injection/doc.go
  vendor/knative.dev/pkg/injection/injection.go
  vendor/knative.dev/pkg/logging/object_encoders.go
  vendor/knative.dev/pkg/metrics/prometheus_exporter.go
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/handlers/drain.go
  vendor/knative.dev/pkg/network/handlers/error.go
  vendor/knative.dev/pkg/profiling/server.go
  vendor/knative.dev/pkg/reconciler/retry.go
  vendor/knative.dev/pkg/reconciler/testing/hooks.go
  vendor/knative.dev/pkg/reconciler/testing/reactions.go
  vendor/knative.dev/pkg/reconciler/testing/sorter.go
  vendor/knative.dev/pkg/test/ingress/ingress.go
  vendor/knative.dev/pkg/test/vegeta/pacers/steady_up_pacer.go
  vendor/knative.dev/pkg/test/zipkin/doc.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/pkg/tracing/testing/zipkin.go
  vendor/knative.dev/pkg/tracing/zipkin.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

Ensure probes from the autoscaler are not passed to the user-container
  pkg/queue/sharedmain/main.go
  test/e2e/autoscale_test.go
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Ensure probes from the autoscaler are not passed to the user-container (#13501)
  pkg/queue/sharedmain/main.go
  test/e2e/autoscale_test.go
Due: none

Ensure probes from the autoscaler are not passed to the user-container
  cmd/queue/main.go
  test/e2e/autoscale_test.go
Due: none

Ensure probes from the autoscaler are not passed to the user-container (#13506)
  cmd/queue/main.go
  test/e2e/autoscale_test.go
Due: none

Ensure probes from the autoscaler are not passed to the user-container (#13504)
  pkg/queue/sharedmain/main.go
  test/e2e/autoscale_test.go
Due: none

Ensure probes from the autoscaler are not passed to the user-container (#13503)
  pkg/queue/sharedmain/main.go
  test/e2e/autoscale_test.go
Due: none

Ensure probes from the autoscaler are not passed to the user-container (#13505)
  cmd/queue/main.go
  test/e2e/autoscale_test.go
Due: none

Update net-contour nightly (#13502)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Don't set seccomp profile in the queue proxy
  pkg/reconciler/revision/resources/queue.go
Due: none

Don't set seccomp profile in the queue proxy (#13507)
  pkg/reconciler/revision/resources/queue.go
Due: none

Don't set seccomp profile in the queue proxy (#13508)
  pkg/reconciler/revision/resources/queue.go
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly (#13510)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#13509)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly (#13514)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Rollback defaulting the seccomp profile type
  config/core/deployments/activator.yaml
  config/core/deployments/autoscaler.yaml
  config/core/deployments/controller.yaml
  config/core/deployments/domainmapping-controller.yaml
  config/core/deployments/domainmapping-webhook.yaml
  config/core/deployments/webhook.yaml
  config/hpa-autoscaling/controller.yaml
  config/post-install/default-domain.yaml
  config/post-install/storage-version-migration.yaml
Due: none

Update net-contour nightly (#13520)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

updates HPA webhook api version
  config/core/deployments/webhook-hpa.yaml
Due: none

updates HPA webhook api version (#13521)
  config/core/deployments/webhook-hpa.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-gateway-api nightly (#13523)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main
