Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-gateway-api nightly (#13466)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

testing hack updates
  go.mod
  go.sum
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/modules.txt
Due: none

add missing 'component' label to webhook template
  config/core/deployments/webhook.yaml
Due: none

add missing 'component' label to webhook template (#13469)
  config/core/deployments/webhook.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13467)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

next K8s min version is 1.24
  .github/workflows/kind-e2e.yaml
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/performance/performance-tests-mako.sh
  test/performance/performance-tests.sh
Due: none

next K8s min version is 1.24 (#13473)
  .github/workflows/kind-e2e.yaml
  test/e2e-auto-tls-tests.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/performance/performance-tests-mako.sh
  test/performance/performance-tests.sh
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time_proto.go
  vendor/k8s.io/gengo/examples/deepcopy-gen/generators/deepcopy.go
  vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  vendor/k8s.io/gengo/examples/set-gen/generators/sets.go
  vendor/k8s.io/gengo/examples/set-gen/sets/byte.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int64.go
  vendor/k8s.io/gengo/examples/set-gen/sets/string.go
  vendor/k8s.io/gengo/generator/import_tracker.go
  vendor/k8s.io/gengo/namer/import_tracker.go
  vendor/k8s.io/klog/v2/contextual.go
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues.go
  vendor/k8s.io/klog/v2/klog.go
  vendor/k8s.io/utils/net/port.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies (#13474)
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time_proto.go
  vendor/k8s.io/gengo/examples/deepcopy-gen/generators/deepcopy.go
  vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  vendor/k8s.io/gengo/examples/set-gen/generators/sets.go
  vendor/k8s.io/gengo/examples/set-gen/sets/byte.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int64.go
  vendor/k8s.io/gengo/examples/set-gen/sets/string.go
  vendor/k8s.io/gengo/generator/import_tracker.go
  vendor/k8s.io/gengo/namer/import_tracker.go
  vendor/k8s.io/klog/v2/contextual.go
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues.go
  vendor/k8s.io/klog/v2/klog.go
  vendor/k8s.io/utils/net/port.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#13475)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files
  OWNERS_ALIASES
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#13479)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#13480)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#13481)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#13482)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update community files (#13477)
  OWNERS_ALIASES
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#13489)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-istio nightly (#13490)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#13491)
  third_party/istio-latest/net-istio.yaml
Due: none

ran codegen
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

address linter
  cmd/default-domain/main.go
  pkg/autoscaler/statserver/server.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resolve_test.go
Due: none

fix nolint comment
  pkg/autoscaler/statserver/server.go
  pkg/queue/sharedmain/main.go
Due: none

[release-1.7] ran codegen with go1.19 & fix linter warnings (#13493)
  cmd/default-domain/main.go
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/autoscaler/statserver/server.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/revision/resolve_test.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

[release-1.8] ran codegen with go1.19 & fix linter warnings (#13492)
  cmd/default-domain/main.go
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/autoscaler/statserver/server.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/revision/resolve_test.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

[release-1.6] gofmt with go1.19
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/metrics/stat.pb.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

run gofmt with go1.19
  pkg/activator/net/lb_policy.go
  pkg/autoscaler/metrics/sample_size.go
  pkg/autoscaler/statforwarder/forwarder.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/reconciler/autoscaling/kpa/doc.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/doc.go
  pkg/reconciler/revision/rate_limiter.go
  pkg/reconciler/route/doc.go
  test/conformance/api/v1/configuration_test.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/revision_test.go
  test/conformance/api/v1/service_test.go
  test/e2e/autoscale.go
  test/scale/scale_test.go
Due: none

address linter
  cmd/default-domain/main.go
  cmd/queue/main.go
  pkg/autoscaler/metrics/stat.pb.go
  pkg/autoscaler/statserver/server.go
  pkg/reconciler/revision/resolve_test.go
Due: none

ignore some linting errors
  cmd/default-domain/main.go
  cmd/queue/main.go
  pkg/autoscaler/statserver/server.go
  pkg/reconciler/revision/resolve_test.go
Due: none
