Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Do not drop activator always in the path
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  test/e2e/autoscale_test.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-gateway-api nightly (#13062)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

Update actions (#13063)
  .github/workflows/knative-releasability.yaml
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly (#13065)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-gateway-api nightly (#13064)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#13066)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Fix webhook config drift issue Update rules to use wildcard "*".
  config/core/webhooks/domainmapping-defaulting.yaml
  config/core/webhooks/domainmapping-validation.yaml
Due: none

Comment about ctrl-ca suffix
  config/core/300-secret.yaml
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#13067)
  third_party/istio-latest/net-istio.yaml
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#13068)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Fix webhook config drift issue (#13061)
  config/core/webhooks/domainmapping-defaulting.yaml
  config/core/webhooks/domainmapping-validation.yaml
Due: none

[skip-dot-release] update generated protobuf
  pkg/autoscaler/metrics/stat.pb.go
  test/test_images/grpc-ping/proto/ping.pb.go
Due: none

[skip-dot-release] bump hack scripts
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

[release-1.2] update generated protobuf & hack scripts (#13070)
  go.mod
  go.sum
  pkg/autoscaler/metrics/stat.pb.go
  test/test_images/grpc-ping/proto/ping.pb.go
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

[skip-dot-release] bump hack & other deps for go.mod compat
  go.mod
  go.sum
  vendor/github.com/prometheus/procfs/Makefile
  vendor/github.com/prometheus/procfs/Makefile.common
  vendor/github.com/prometheus/procfs/README.md
  vendor/github.com/prometheus/procfs/cmdline.go
  vendor/github.com/prometheus/procfs/doc.go
  vendor/github.com/prometheus/procfs/fixtures.ttar
  vendor/github.com/prometheus/procfs/mdstat.go
  vendor/github.com/prometheus/procfs/net_ip_socket.go
  vendor/github.com/prometheus/procfs/netstat.go
  vendor/github.com/prometheus/procfs/proc_cgroup.go
  vendor/github.com/prometheus/procfs/proc_stat.go
  vendor/github.com/prometheus/procfs/zoneinfo.go
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

[skip-dot-release] bump hack
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

[release-1.3] update generated protobuf & hack scripts (#13072)
  go.mod
  go.sum
  pkg/autoscaler/metrics/stat.pb.go
  test/test_images/grpc-ping/proto/ping.pb.go
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

[release-1.4] update generated protobuf & hack scripts (#13073)
  go.mod
  go.sum
  pkg/autoscaler/metrics/stat.pb.go
  test/test_images/grpc-ping/proto/ping.pb.go
  vendor/github.com/prometheus/procfs/Makefile
  vendor/github.com/prometheus/procfs/Makefile.common
  vendor/github.com/prometheus/procfs/README.md
  vendor/github.com/prometheus/procfs/cmdline.go
  vendor/github.com/prometheus/procfs/doc.go
  vendor/github.com/prometheus/procfs/fixtures.ttar
  vendor/github.com/prometheus/procfs/mdstat.go
  vendor/github.com/prometheus/procfs/net_ip_socket.go
  vendor/github.com/prometheus/procfs/netstat.go
  vendor/github.com/prometheus/procfs/proc_cgroup.go
  vendor/github.com/prometheus/procfs/proc_stat.go
  vendor/github.com/prometheus/procfs/zoneinfo.go
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

[release-1.5] update generated protobuf & hack scripts (#13074)
  go.mod
  go.sum
  pkg/autoscaler/metrics/stat.pb.go
  test/test_images/grpc-ping/proto/ping.pb.go
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: none

Support config to deploy internal certificates automatically (#13005)
  cmd/activator/main.go
  cmd/controller/main.go
  cmd/queue/main.go
  config/core/300-secret.yaml
  go.mod
  go.sum
  pkg/networking/constants.go
  pkg/reconciler/autoscaling/config/store_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  test/e2e-common.sh
  test/e2e/autoscale_test.go
  test/generate-cert.sh
  test/ha/ha.go
  third_party/VENDOR-LICENSE/knative.dev/control-protocol/pkg/certificates/LICENSE
  third_party/kourier-latest/kourier.yaml
  vendor/knative.dev/control-protocol/LICENSE
  vendor/knative.dev/control-protocol/pkg/certificates/certs.go
  vendor/knative.dev/control-protocol/pkg/certificates/constants.go
  vendor/knative.dev/control-protocol/pkg/certificates/key_pair.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/certificates.go
  vendor/knative.dev/control-protocol/pkg/certificates/reconciler/controller.go
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/knative.dev/networking/pkg/config/config.go
  vendor/knative.dev/networking/pkg/deprecated_config.go
  vendor/knative.dev/pkg/client/injection/kube/informers/core/v1/secret/secret.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/secret/controller.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/secret/reconciler.go
  vendor/knative.dev/pkg/client/injection/kube/reconciler/core/v1/secret/state.go
  vendor/modules.txt
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files (#13076)
  OWNERS_ALIASES
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main
