Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

fixed resource quota error, now it never waits for progress deadline and it fails fast, so removing the bits where it can go one way or another in the e2e resource_quota_error_test
  test/e2e/resource_quota_error_test.go
Due: none

removing RevisionConditionActive from Revision ConditionSet since we can have Ready Inactive Revisions (scale to zero) * added docs and tests for this and the replicaset failure propagation
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/revision/reconcile_resources.go
Due: none

added revision condition active to revision live condition set so is not nil after the revision is created
  pkg/apis/serving/v1/revision_lifecycle.go
Due: none

with some istio cases this could fail with progress deadline exceeded error so adding that case too
  test/e2e/resource_quota_error_test.go
Due: none

fix: typo in comments (#14617)
  pkg/reconciler/revision/background.go
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly (#14619)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

[release-1.12] Surface cpu and mem requests forbidden errors (and other ones too) in KSVC creation (#14618)
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/v1/revision.go
  test/e2e/resource_quota_error_test.go
Due: none

removing RevisionConditionActive from Revision ConditionSet since we can have Ready Inactive Revisions (scale to zero) * added docs and tests for this and the replicaset failure propagation
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/reconciler/revision/reconcile_resources.go
Due: none

fixing lint
  pkg/reconciler/revision/reconcile_resources.go
Due: none

adjusted e2e and unit tests for the replica failure erros propagation, improved propagation logic + left todos regarding revision conditionset
  pkg/reconciler/revision/reconcile_resources.go
  test/e2e/resource_quota_error_test.go
Due: none

added test case for revision fast failures when it comes to replicaset failing to create
  pkg/testing/v1/revision.go
Due: none

removed unused test methods from revision testing package
  pkg/testing/v1/revision.go
Due: none

Update resource_quota_error_test.go
  test/e2e/resource_quota_error_test.go
Due: none

Create and use the Reconciler constructor for the service controller
  pkg/reconciler/service/controller.go
  pkg/reconciler/service/service.go
Due: none

Change the format
  pkg/reconciler/service/controller.go
Due: none

Create and use the Reconciler constructor for the service controller (#14623)
  pkg/reconciler/service/controller.go
  pkg/reconciler/service/service.go
Due: none

update Serving encryption documentation to the newest developments
  docs/encryption/encryption-cluster-local-domain.drawio.svg
  docs/encryption/encryption-external-domain.drawio.svg
  docs/encryption/encryption-knative-internal.drawio.svg
  docs/encryption/encryption-system-internal.drawio.svg
  docs/encryption/knative-encryption.md
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Add parallel option
  test/conformance/runtime/file_descriptor_test.go
Due: none

remove CN/SAN hint in cluster-local-domain
  docs/encryption/encryption-cluster-local-domain.drawio.svg
Due: none

Disable flaky ambient e2e tests
  .github/workflows/kind-e2e.yaml
Due: none

Add parallel option (#14636)
  test/conformance/runtime/file_descriptor_test.go
Due: none

Update net-istio nightly (#14629)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#14630)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14628)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#14626)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Add consistent SECURITY.md
  SECURITY.md
Due: none

Add consistent SECURITY.md (#14639)
  SECURITY.md
Due: none

move to go1.21
  go.mod
  go.sum
Due: none

Update net-gateway-api nightly (#14627)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Fix lint error
  .github/workflows/kind-e2e.yaml
Due: none

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
