Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

test needs to know about the SYSTEM_NAMESPACE
  .github/workflows/kind-e2e.yaml
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#12827)
  OWNERS_ALIASES
Due: none

update e2e actions (#12796)
  .github/workflows/kind-e2e.yaml
  test/config/ytt/ingress/gateway-api/enable-access-logging.yaml
  test/config/ytt/kind/ingress/contour-kind.yaml
  test/config/ytt/kind/ingress/istio-kind.yaml
  test/config/ytt/kind/ingress/kourier-kind.yaml
  test/e2e-common.sh
  test/e2e-networking-library.sh
Due: none

Drop myself
  support/COMMUNITY_CONTACTS.md
Due: none

DomainMapping Overriding the default HTTP behavior (#12786)
  pkg/networking/util.go
  pkg/networking/util_test.go
  pkg/reconciler/domainmapping/reconciler.go
  pkg/reconciler/route/resources/ingress.go
Due: none

Drop myself (#12829)
  support/COMMUNITY_CONTACTS.md
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/leaderelection/context.go
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none

fix double import
  pkg/networking/util_test.go
Due: none

upgrade to latest dependencies (#12831)
  go.mod
  go.sum
  vendor/knative.dev/pkg/leaderelection/context.go
  vendor/knative.dev/pkg/version/version.go
  vendor/modules.txt
Due: none

fix double import (#12832)
  pkg/networking/util_test.go
Due: none

pin k8s dep
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update community files (#12837)
  OWNERS_ALIASES
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files (#12838)
  OWNERS_ALIASES
Due: none

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

Update actions (#12841)
  .github/workflows/knative-releasability.yaml
Due: none

Update net-kourier nightly (#12817)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#12826)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly (#12833)
  third_party/istio-latest/net-istio.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Due: none

Update net-contour nightly (#12819)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

upgrade to latest dependencies (#12839)
  go.mod
  go.sum
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/network/h2c.go
  vendor/knative.dev/pkg/network/transports.go
  vendor/modules.txt
Due: none

Update net-gateway-api nightly (#12816)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/knative.dev/networking/pkg/network.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#12846)
  go.mod
  go.sum
  vendor/knative.dev/networking/config/config-network.yaml
  vendor/knative.dev/networking/pkg/network.go
  vendor/modules.txt
Due: none

Clean up
  .github/workflows/kind-e2e-tls.yaml
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  test/e2e-common.sh
Due: none

Separate github action
  .github/workflows/kind-e2e-tls.yaml
Due: none
