Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Various updates to the revision reconciler
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/k8s_lifecycle_test.go
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/table_test.go
Due: none

Surface Replica failures over Progressing failures
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/k8s_lifecycle_test.go
Due: none

fix boilerplate check
  test/upgrade/deployment_failure.go
Due: none

test deployment failures don't drop traffic on upgrade
  test/upgrade/deployment_failure.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
Due: none

Fix lint error
  .github/workflows/kind-e2e.yaml
Due: none

Disable flaky ambient e2e tests
  .github/workflows/kind-e2e.yaml
Due: none

[release-1.12] Disable flaky ambient e2e tests (#14848)
  .github/workflows/kind-e2e.yaml
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/certificates/certs.go
  vendor/knative.dev/networking/pkg/certificates/constants.go
  vendor/knative.dev/networking/pkg/certificates/key_pair.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14849)
  go.mod
  go.sum
  vendor/knative.dev/networking/pkg/certificates/certs.go
  vendor/knative.dev/networking/pkg/certificates/constants.go
  vendor/knative.dev/networking/pkg/certificates/key_pair.go
  vendor/modules.txt
Due: none

Update net-kourier nightly (#14844)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#14852)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-kourier nightly (#14850)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Set revision-timeout as an annotation in the PA
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/serving/register.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/revision/resources/meta.go
Due: none

Update unit tests
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/meta.go
Due: none

Add documentation to functions and const
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/serving/register.go
  pkg/reconciler/autoscaling/kpa/scaler.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#14854)
  OWNERS_ALIASES
Due: none

Drop debug logging
  test/e2e-common.sh
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-istio nightly (#14859)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#14858)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Add multi-container probing
  config/core/configmaps/features.yaml
  pkg/apis/config/features.go
  pkg/apis/config/features_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1/revision_defaults.go
  pkg/apis/serving/v1/revision_defaults_test.go
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/queue/readiness/probe.go
  pkg/queue/readiness/probe_encoding.go
  pkg/queue/readiness/probe_encoding_test.go
  pkg/queue/readiness/probe_test.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

Update net-contour nightly (#14851)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14856)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Add e2e test for multi container probing
  pkg/queue/readiness/probe_encoding.go
  test/e2e-tests.sh
  test/e2e/multicontainerprobing/multicontainer_readiness_test.go
Due: none

Update net-kourier nightly (#14857)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-contour nightly (#14861)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

[release-1.12] Don't drop traffic when upgrading a deployment fails (#14840)
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/k8s_lifecycle_test.go
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/table_test.go
  test/upgrade/deployment_failure.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
Due: none

Stop always marking the revision healthy when the PA is Ready
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
Due: none
