Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

Adds slack links to CNCF Knative slack channel (#13655)
  README.md
  support/COMMUNITY_CONTACTS.md
  support/support.rotation
Due: none

Update net-contour nightly
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-contour nightly (#13667)
  third_party/contour-latest/contour.yaml
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

clean up OWNER files
  OWNERS
  cmd/OWNERS
  cmd/activator/OWNERS
  cmd/queue/OWNERS
  cmd/webhook/OWNERS
  config/OWNERS
  pkg/OWNERS
  pkg/activator/OWNERS
  pkg/http/OWNERS
  pkg/logging/OWNERS
  pkg/metrics/OWNERS
  pkg/queue/OWNERS
  pkg/reconciler/nscert/OWNERS
  pkg/reconciler/route/OWNERS
  pkg/testing/OWNERS
  third_party/OWNERS
Due: none

clean up OWNER files (#13668)
  OWNERS
  cmd/OWNERS
  cmd/activator/OWNERS
  cmd/queue/OWNERS
  cmd/webhook/OWNERS
  config/OWNERS
  pkg/OWNERS
  pkg/activator/OWNERS
  pkg/http/OWNERS
  pkg/logging/OWNERS
  pkg/metrics/OWNERS
  pkg/queue/OWNERS
  pkg/reconciler/nscert/OWNERS
  pkg/reconciler/route/OWNERS
  pkg/testing/OWNERS
  third_party/OWNERS
Due: none

check for renewing status on kcert
  pkg/reconciler/route/route.go
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#13678)
  OWNERS_ALIASES
Due: none

TestAutoscaleSustaining scales to 8 instead of 10
  test/e2e/autoscale_test.go
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/shell/executor.go
  vendor/knative.dev/pkg/apis/duck/v1/destination.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#13680)
  go.mod
  go.sum
  vendor/knative.dev/hack/shell/executor.go
  vendor/knative.dev/pkg/apis/duck/v1/destination.go
  vendor/modules.txt
Due: none

use GITHUB_TOKEN when querying net-istio releases
  .github/workflows/kind-e2e.yaml
  test/e2e-common.sh
Due: none

Add k8s 1.26 for kind
  .github/workflows/kind-e2e.yaml
Due: none

don't error out if GITHUB_TOKEN is unbound
  test/e2e-common.sh
Due: none

use GITHUB_TOKEN when querying net-istio releases (#13681)
  .github/workflows/kind-e2e.yaml
  test/e2e-common.sh
Due: none

Add k8s 1.26 for kind (#13682)
  .github/workflows/kind-e2e.yaml
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#13674)
  third_party/istio-latest/net-istio.yaml
Due: none

fix route reconciler test flakes
  pkg/reconciler/route/resources/ingress.go
Due: none

fix route reconciler test flakes (#13684)
  pkg/reconciler/route/resources/ingress.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

cleanup
  test/e2e/resource_quota_error_test.go
Due: none

fix curl invocation
  test/e2e-common.sh
Due: none

adds e2e test for activation-scale
  .github/workflows/kind-e2e.yaml
  test/e2e/autoscale_test.go
Due: none

fix import
  test/e2e/autoscale_test.go
Due: none

remove debugging logs
  test/e2e/autoscale_test.go
Due: none

use correct URL
  test/e2e/autoscale_test.go
Due: none

Update net-kourier nightly (#13673)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-gateway-api nightly (#13672)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update community files (#13685)
  OWNERS_ALIASES
Due: none

Update net-istio nightly (#13687)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-certmanager nightly (#13686)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
