Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#14154)
  OWNERS_ALIASES
Due: none

update net-certmanager manifests
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

allow cert-manager webhook to be called with net-istio
  test/config/ytt/certmanager/kapp-order.yaml
  test/e2e-common.sh
Due: none

Drop workaround pach for Istio
  test/config/ytt/ingress/istio/istio-deploy-fix.yaml
Due: none

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Bump net-certmanager manifests and add kapp ordering overlay (#14148)
  test/config/ytt/certmanager/kapp-order.yaml
  test/e2e-common.sh
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#14160)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Drop workaround pach for Istio (#14156)
  test/config/ytt/ingress/istio/istio-deploy-fix.yaml
Due: none

Remove domainmapping config
  test/config/ytt/core/overlay-config-logging.yaml
  test/config/ytt/values.yaml
Due: none

Remove domainmapping config (#14161)
  test/config/ytt/core/overlay-config-logging.yaml
  test/config/ytt/values.yaml
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14163)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#14162)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-istio nightly (#14164)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-contour nightly (#14165)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update community files (#14169)
  OWNERS_ALIASES
Due: none

EnsureCleanup can skip clean up
  test/cleanup.go
  test/conformance/api/v1alpha1/domain_mapping_test.go
  test/conformance/api/v1beta1/domain_mapping_test.go
  test/e2e/autotls/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_websocket_test.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14172)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#14174)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update community files (#14175)
  OWNERS_ALIASES
Due: none

Update net-istio nightly (#14173)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#14158)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

EnsureCleanup can skip clean up (#14171)
  test/cleanup.go
  test/conformance/api/v1alpha1/domain_mapping_test.go
  test/conformance/api/v1beta1/domain_mapping_test.go
  test/e2e/autotls/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_test.go
  test/e2e/domainmapping/domain_mapping_websocket_test.go
Due: none

Add log example for kourier and gateway-api
  config/core/configmaps/logging.yaml
Due: none

Add log example for kourier and gateway-api (#14178)
  config/core/configmaps/logging.yaml
Due: none

Update net-kourier nightly (#14186)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main
