Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

kourier-stable_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

kourier-stable-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --kourier-version stable
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

contour-tls_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --contour-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

gateway-api-latest_serving_main:
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --gateway-api-version latest
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
      - name: DOCKER_IN_DOCKER_ENABLED
        value: 'true'
  ...

https_serving_main:
  decorate: true
  optional: true
  spec:
    containers:
    - args:
      - ./test/presubmit-tests.sh
      - --run-test
      - ./test/e2e-tests.sh --https
      - --run-test
      - ./test/e2e-auto-tls-tests.sh --https
      command:
      - runner.sh
      env:
      - name: E2E_CLUSTER_REGION
        value: us-central1
  ...

[release-1.13] Don't drop traffic when upgrading a deployment fails (#14864)
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/k8s_lifecycle_test.go
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/table_test.go
  test/upgrade/deployment_failure.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
Due: none

Fixes #14231
  DEVELOPMENT.md
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/google.golang.org/api/internal/cba.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14868)
  go.mod
  go.sum
  vendor/google.golang.org/api/internal/cba.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Due: none

Don't drop traffic when upgrading a deployment fails (#14795)
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/k8s_lifecycle_test.go
  pkg/apis/serving/v1/revision_helpers.go
  pkg/apis/serving/v1/revision_helpers_test.go
  pkg/apis/serving/v1/revision_lifecycle.go
  pkg/apis/serving/v1/revision_lifecycle_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/table_test.go
  test/upgrade/deployment_failure.go
  test/upgrade/postupgrade.go
  test/upgrade/preupgrade.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-istio nightly (#14870)
  third_party/istio-latest/net-istio.yaml
Due: none

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

feat: Add ability to configure multiple wilcard domains (#14543)
  pkg/reconciler/nscert/nscert.go
  pkg/reconciler/nscert/nscert_test.go
  pkg/reconciler/route/config/domain.go
  pkg/reconciler/route/config/domain_test.go
  pkg/reconciler/route/config/store_test.go
  pkg/reconciler/route/config/zz_generated.deepcopy.go
  pkg/reconciler/route/domains/domains_test.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic_test.go
  pkg/reconciler/route/visibility/visibility_test.go
Due: none

add revision-failure test image
  test/test_images/revisionfailure/revisionfailure.go
  test/test_images/revisionfailure/service.yaml
Due: none

Update net-istio nightly (#14873)
  third_party/istio-latest/net-istio.yaml
Due: none

Updating DEVELOPMENT.md to remove reference to allowedFields or preserveUnknownFields (#14865)
  DEVELOPMENT.md
Due: none

Update community files
  OWNERS_ALIASES
Due: none

feat(domainmapping): Add wildcard domain claim support
  pkg/reconciler/domainmapping/reconciler.go
Due: none

Update community files (#14880)
  OWNERS_ALIASES
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-istio nightly (#14886)
  third_party/istio-latest/net-istio.yaml
Due: none

Update net-gateway-api nightly (#14882)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-certmanager nightly (#14883)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly (#14885)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

CVE Fix for : CVE-2023-2253 and CVE-2023-28840
  go.mod
  go.sum
Due: none

Fix: run ./hack/update-deps.sh
  go.mod
  go.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/pkg/homedir/homedir.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_linux.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_windows.go
  vendor/modules.txt
Due: none

Update community files (#14890)
  OWNERS_ALIASES
Due: none

Update net-contour nightly (#14884)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14892)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*
