Repository knative/serving: changes, and which Prow jobs are due for each by the changed paths.
All: kourier-stable_serving_main, kourier-stable-tls_serving_main, contour-latest_serving_main, contour-tls_serving_main, gateway-api-latest_serving_main, https_serving_main

Path conditions:
  kourier-stable_serving_main: any of: ^third_party/kourier-latest/*
  kourier-stable-tls_serving_main: any of: ^third_party/kourier-latest/*
  contour-latest_serving_main: any of: ^third_party/contour-latest/*
  contour-tls_serving_main: any of: ^third_party/contour-latest/*
  gateway-api-latest_serving_main: any of: ^third_party/gateway-api-latest/*
  https_serving_main: any of: ^third_party/cert-manager-latest/*

Update net-contour nightly
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-certmanager nightly
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Update net-kourier nightly
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Update net-certmanager nightly (#14780)
  third_party/cert-manager-latest/net-certmanager.yaml
Due: https_serving_main

Rename function
  pkg/apis/serving/v1/revision_defaults.go
Due: none

Update net-contour nightly (#14779)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-kourier nightly (#14781)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

Add defaulting for all GRPC probe types (#14773)
  pkg/apis/serving/v1/revision_defaults.go
  pkg/queue/health/probe_test.go
  pkg/reconciler/revision/resources/deploy_test.go
  test/e2e/readiness_test.go
  test/test_images/grpc-ping/main.go
  vendor/google.golang.org/grpc/health/client.go
  vendor/google.golang.org/grpc/health/logging.go
  vendor/google.golang.org/grpc/health/server.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/caching/pkg/client/clientset/versioned/doc.go
  vendor/knative.dev/caching/pkg/client/informers/externalversions/factory.go
  vendor/modules.txt
Due: none

upgrade to latest dependencies (#14783)
  go.mod
  go.sum
  vendor/knative.dev/caching/pkg/client/clientset/versioned/doc.go
  vendor/knative.dev/caching/pkg/client/informers/externalversions/factory.go
  vendor/modules.txt
Due: none

add a deviation to vegeta total requests test
  test/performance/benchmarks/load-test/main.go
Due: none

add threshold in vegeta total requests check
  test/performance/benchmarks/load-test/main.go
Due: none

Update net-gateway-api nightly
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

Update net-contour nightly (#14784)
  third_party/contour-latest/net-contour.yaml
Due: contour-latest_serving_main, contour-tls_serving_main

Update net-gateway-api nightly (#14785)
  third_party/gateway-api-latest/istio-gateway.yaml
  third_party/gateway-api-latest/net-gateway-api.yaml
Due: gateway-api-latest_serving_main

set app protocol on endpoints
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/resources/service_test.go
Due: none

set app protocol in test service
  pkg/testing/functional.go
Due: none

fix serverlessservice test
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Due: none

set app protocol field on services
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
Due: none

fix expected service in test
  pkg/reconciler/route/resources/service_test.go
Due: none

Set AppProtocol on Services (#14757)
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  pkg/testing/functional.go
Due: none

Improve log output for Services with no LoadBalancer IP
  cmd/default-domain/main.go
Due: none

Add Vegeta rates / targets to SLA in performance tests (#14429)
  test/performance/benchmarks/dataplane-probe/main.go
  test/performance/benchmarks/load-test/main.go
  test/performance/benchmarks/real-traffic-test/main.go
  test/performance/benchmarks/rollout-probe/main.go
  test/performance/benchmarks/scale-from-zero/main.go
Due: none

Remove /tmp and /var from reserved paths (#14686)
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Due: none

Update net-istio nightly
  third_party/istio-latest/net-istio.yaml
Due: none

support http1 full duplex per workload
  cmd/activator/main.go
  pkg/activator/handler/context.go
  pkg/activator/handler/handler.go
  pkg/apis/config/features.go
  pkg/queue/sharedmain/handlers.go
  pkg/queue/sharedmain/main.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Due: none

style
  pkg/queue/sharedmain/handlers.go
Due: none

lint
  pkg/activator/handler/context.go
Due: none

single call
  cmd/activator/main.go
  pkg/activator/handler/context.go
  pkg/activator/handler/handler.go
  pkg/http/handler/timeout.go
  pkg/http/response_recorder.go
  pkg/queue/sharedmain/handlers.go
Due: none

fix unit test
  pkg/activator/handler/main_test.go
Due: none

fix lint
  pkg/activator/handler/main_test.go
Due: none

updates & unit test
  cmd/activator/main.go
  pkg/activator/handler/handler.go
  pkg/activator/handler/main_test.go
  pkg/http/handler/timeout.go
  pkg/http/response_recorder.go
  pkg/queue/sharedmain/handlers.go
Due: none

address review comments
  pkg/activator/handler/main_test.go
  pkg/queue/sharedmain/handlers.go
Due: none

fix comment
  pkg/queue/sharedmain/main.go
Due: none

Update net-kourier nightly (#14790)
  third_party/kourier-latest/kourier.yaml
Due: kourier-stable_serving_main, kourier-stable-tls_serving_main

upgrade to latest dependencies
  go.mod
  go.sum
  third_party/VENDOR-LICENSE/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/LICENSE
  third_party/VENDOR-LICENSE/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/NOTICE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/LICENSE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/NOTICE
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/.gitignore
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/Makefile
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/decode.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/doc.go
  vendor/github.com/matttproud/golang_protobuf_extensions/v2/pbutil/encode.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/encode.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/alert.go
  vendor/github.com/prometheus/common/model/metadata.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/prometheus/common/model/signature.go
  vendor/github.com/prometheus/common/model/silence.go
  vendor/github.com/prometheus/common/model/value.go
  vendor/github.com/prometheus/common/model/value_float.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/tools/internal/versions/versions.go
  vendor/golang.org/x/tools/internal/versions/versions_go121.go
  vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  vendor/modules.txt
Due: none
