Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

[Auto] Update prow jobs for release branches
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.22.yaml
  prow/jobs_config/knative/serving-release-1.2.yaml
Due: none

Try to fix the s390x tests
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.0.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/client-release-1.0.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.0.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Try to fix the s390x tests (#3184)
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.0.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/client-release-1.0.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.0.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add infra prow job
  prow/jobs/generated/knative/infra-main.gen.yaml
  prow/jobs_config/knative/infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Make secret config for s390x coherent to OSS
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: none

mark unit test as required
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Update timeout for branchprotector to 5h
  prow/jobs/custom/branchprotector.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix one config error for flaky-test-reporter
  tools/flaky-test-reporter/config/config.yaml
Due: post-knative-test-infra-image-push

Fix some misconfigured knative/serving Prow jobs
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add back the release-job-syncer tool to sync Prow jobs when there is new release
  pkg/ghutil/repo.go
  prow/jobs/custom/test-infra.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs_config/knative/serving-release-1.3.yaml
  tools/release-jobs-syncer/README.md
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
  tools/release-jobs-syncer/main.go
  tools/release-jobs-syncer/pkg/helpers.go
  tools/release-jobs-syncer/pkg/jobs_sync.go
  tools/release-jobs-syncer/pkg/pull_request.go
  tools/release-jobs-syncer/pkg/release.go
  tools/release-jobs-syncer/pkg/release_test.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.22.gen.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.22.yaml
  prow/jobs_config/knative/serving-release-1.3.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Make secret config for s390x coherent to OSS (#3185)
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: none

Add back the release-job-syncer tool to sync Prow jobs when there is new release
  pkg/ghutil/repo.go
  prow/jobs/custom/test-infra.yaml
  tools/release-jobs-syncer/README.md
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
  tools/release-jobs-syncer/main.go
  tools/release-jobs-syncer/pkg/helpers.go
  tools/release-jobs-syncer/pkg/jobs_sync.go
  tools/release-jobs-syncer/pkg/pull_request.go
  tools/release-jobs-syncer/pkg/release.go
  tools/release-jobs-syncer/pkg/release_test.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push, post-test-infra-update-testgrid-proto

Update timeout for branchprotector to 5h (#3188)
  prow/jobs/custom/branchprotector.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix some misconfigured knative/serving Prow jobs (#3190)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typo and add other tests
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Add back the release-job-syncer tool to sync Prow jobs when there is new release (#3191)
  pkg/ghutil/repo.go
  prow/jobs/custom/test-infra.yaml
  tools/release-jobs-syncer/README.md
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
  tools/release-jobs-syncer/main.go
  tools/release-jobs-syncer/pkg/helpers.go
  tools/release-jobs-syncer/pkg/jobs_sync.go
  tools/release-jobs-syncer/pkg/pull_request.go
  tools/release-jobs-syncer/pkg/release.go
  tools/release-jobs-syncer/pkg/release_test.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push, post-test-infra-update-testgrid-proto

Fix one config error for flaky-test-reporter (#3189)
  tools/flaky-test-reporter/config/config.yaml
Due: post-knative-test-infra-image-push

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.22.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.22.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3192)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.22.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.22.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Change only yaml files
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.0.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.0.gen.yaml
  prow/jobs/generated/knative/serving-release-1.1.gen.yaml
  prow/jobs/generated/knative/serving-release-1.2.gen.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs_config/knative/client-release-1.0.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.0.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.0.yaml
  prow/jobs_config/knative/serving-release-1.1.yaml
  prow/jobs_config/knative/serving-release-1.2.yaml
  prow/jobs_config/knative/serving-release-1.3.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Revert custom-job schedules for s390x (#3194)
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.0.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.0.gen.yaml
  prow/jobs/generated/knative/serving-release-1.1.gen.yaml
  prow/jobs/generated/knative/serving-release-1.2.gen.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs_config/knative/client-release-1.0.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator-release-1.0.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/serving-release-1.0.yaml
  prow/jobs_config/knative/serving-release-1.1.yaml
  prow/jobs_config/knative/serving-release-1.2.yaml
  prow/jobs_config/knative/serving-release-1.3.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix commands for s390x custom jobs
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-release-1.0.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-release-1.0.gen.yaml
  prow/jobs/generated/knative/serving-release-1.1.gen.yaml
  prow/jobs/generated/knative/serving-release-1.2.gen.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs_config/knative/client-release-1.0.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/operator-release-1.0.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/serving-release-1.0.yaml
  prow/jobs_config/knative/serving-release-1.1.yaml
  prow/jobs_config/knative/serving-release-1.2.yaml
  prow/jobs_config/knative/serving-release-1.3.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix commands for s390x custom jobs (#3195)
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-release-1.0.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-release-1.0.gen.yaml
  prow/jobs/generated/knative/serving-release-1.1.gen.yaml
  prow/jobs/generated/knative/serving-release-1.2.gen.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs_config/knative/client-release-1.0.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/operator-release-1.0.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/serving-release-1.0.yaml
  prow/jobs_config/knative/serving-release-1.1.yaml
  prow/jobs_config/knative/serving-release-1.2.yaml
  prow/jobs_config/knative/serving-release-1.3.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update timeout for eventing continuous and release Prow jobs to 3h
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[WIP] TEST DO NOT MERGE
  tools/configgen/pkg/testgrid.go
Due: none

Move the label-sync, branchprotector, peribolos Prow jobs to authenticate as GitHub app
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Move the label-sync, branchprotector, peribolos Prow jobs to authenticate as GitHub app (#3198)
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Remove knative-gcp config from Knative Prow
  prow/config.yaml
  prow/plugins.yaml
Due: pull-test-infra-validate-prow-yaml

Remove knative-gcp config from Knative Prow (#3199)
  prow/config.yaml
  prow/plugins.yaml
Due: pull-test-infra-validate-prow-yaml

Fix label-sync and peribolos Prow job config as we migrated Prow to GitHub app
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/CODE-OF-CONDUCT.md
  vendor/knative.dev/hack/CODE_OF_CONDUCT.md
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push
