Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

post-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      command:
      - runner.sh
      args:
      - ./prow/config.sh
      - check
      - $(REPO_OWNER)/$(REPO_NAME)
      securityContext:
        privileged: true
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

post-knative-test-infra-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      volumeMounts:
      - name: test-account
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push
      volumeMounts:
      - name: test-account
        mountPath: /etc/test-account
  ...

post-knative-test-infra-deploy-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./tools/flaky-test-retryer/gke_deployment
      - deploy
      volumeMounts:
      - name: test-account
  ...

Enabled short e2e test mode for periodic s390x tests due to environment limitations
  prow/jobs_config/knative/serving.yaml
Due: none

Generated jobs
  prow/jobs/generated/knative/serving-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add rcodesign, drop liche and bump deps
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

fix typo
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

change the way kops is installed
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

fix typos again
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Add `rcodesign`, drop `liche`, `gojsontoyaml` and bump some deps (#3537)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3538)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3541)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

include zip package and add notary secrets to k8s
  images/prow-tests/Dockerfile
  prow/cluster/build/rbac.yaml
  prow/cluster/build/secrets.yaml
Due: post-test-infra-deploy-prow, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

include zip package and add notary secrets to k8s (#3542)
  images/prow-tests/Dockerfile
  prow/cluster/build/rbac.yaml
  prow/cluster/build/secrets.yaml
Due: post-test-infra-deploy-prow, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

notarize nightly client builds
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/.base.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add go workspaces and new presets to the test
  go.work
  go.work.sum
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
  tools/configgen/jobs_test.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add go work another time
  go.work
  go.work.sum
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3545)
  OWNERS_ALIASES
Due: none

Update community files (#3546)
  OWNERS_ALIASES
Due: none

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3549)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

switch to kn-plugin-quickstart
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Notarize nightly `kn-plugin-quickstart` builds (#3544)
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/.base.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart.yaml
  prow/jobs_config/knative/client.yaml
  tools/configgen/jobs_test.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies (#3548)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

fix typo
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typo (#3550)
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies (#3552)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
