Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

post-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      command:
      - runner.sh
      args:
      - ./prow/config.sh
      - check
      - $(REPO_OWNER)/$(REPO_NAME)
      securityContext:
        privileged: true
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

post-knative-test-infra-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      volumeMounts:
      - name: test-account
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push
      volumeMounts:
      - name: test-account
        mountPath: /etc/test-account
  ...

post-knative-test-infra-deploy-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./tools/flaky-test-retryer/gke_deployment
      - deploy
      volumeMounts:
      - name: test-account
  ...

Add prow job for operator-main e2e test on ppc64le (#3413)
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs_config/knative/operator.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add auto-release config for kn-plugin-operator
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add auto-release config for kn-plugin-operator (#3414)
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3415)
  go.mod
  go.sum
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-gateway-api-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.6.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-contour-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-http01-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-istio-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-kourier-release-1.6.yaml
  prow/jobs_config/knative-sandbox/sample-controller-release-1.6.yaml
  prow/jobs_config/knative/eventing-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3416)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-gateway-api-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.6.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-contour-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-http01-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-istio-release-1.6.yaml
  prow/jobs_config/knative-sandbox/net-kourier-release-1.6.yaml
  prow/jobs_config/knative-sandbox/sample-controller-release-1.6.yaml
  prow/jobs_config/knative/eventing-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative/serving-release-1.6.gen.yaml
  prow/jobs_config/knative/serving-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3417)
  prow/jobs/generated/knative/serving-release-1.6.gen.yaml
  prow/jobs_config/knative/serving-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.6.gen.yaml
  prow/jobs/generated/knative/client-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.2.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.6.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.6.yaml
  prow/jobs_config/knative/client-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3418)
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.6.gen.yaml
  prow/jobs/generated/knative/client-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.2.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.6.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.6.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.6.yaml
  prow/jobs_config/knative/client-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Added prow job schedule for release-1.6 for s390x platform
  prow/jobs/generated/knative/client-release-1.6.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.6.gen.yaml
  prow/jobs/generated/knative/serving-release-1.6.gen.yaml
  prow/jobs_config/knative/client-release-1.6.yaml
  prow/jobs_config/knative/eventing-release-1.6.yaml
  prow/jobs_config/knative/serving-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3419)
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Added prow job schedule for release-1.6 for s390x platform (#3420)
  prow/jobs/generated/knative/client-release-1.6.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.6.gen.yaml
  prow/jobs/generated/knative/serving-release-1.6.gen.yaml
  prow/jobs_config/knative/client-release-1.6.yaml
  prow/jobs_config/knative/eventing-release-1.6.yaml
  prow/jobs_config/knative/serving-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3421)
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.25.gen.yaml
  prow/jobs/generated/knative/operator-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.25.yaml
  prow/jobs_config/knative/operator-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3423)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.6.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.25.gen.yaml
  prow/jobs/generated/knative/operator-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.6.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.25.yaml
  prow/jobs_config/knative/operator-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3424)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump images and suppress unneccesary assigns
  images/prow-tests/Dockerfile
  tools/release-jobs-syncer/pkg/pull_request.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

get ready for v1.25 deprecation
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3426)
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-release-1.6.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator-release-1.6.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typo
  test/presubmit-tests.sh
Due: none

remove diff from this PR
  infra/gcp/dns/dns.tf
Due: none

stop checking vendor folder
  hack/upstream/library.sh
  hack/verify-codegen.sh
Due: none

drop more vendor related code
  hack/upstream/library.sh
Due: none

cleanup more vendor code from scripts
  hack/upstream/library.sh
Due: none

don't check third_party
  hack/verify-codegen.sh
Due: none

Bump Images and Suppress Unnecessary Assigns (#3425)
  images/prow-tests/Dockerfile
  tools/release-jobs-syncer/pkg/pull_request.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

remove references in README to markdown checking that is no longer in presubmit-tests.sh
  vendor/knative.dev/hack/README.md
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3428)
  OWNERS_ALIASES
Due: none

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
