Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

Added prow job schedule for release-1.5 for s390x platform
  prow/jobs/generated/knative/client-release-1.5.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.5.gen.yaml
  prow/jobs/generated/knative/serving-release-1.5.gen.yaml
  prow/jobs_config/knative/client-release-1.5.yaml
  prow/jobs_config/knative/eventing-release-1.5.yaml
  prow/jobs_config/knative/serving-release-1.5.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix path for perf tests
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/operator-release-1.5.gen.yaml
  prow/jobs_config/knative/operator-release-1.5.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3359)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/operator-release-1.5.gen.yaml
  prow/jobs_config/knative/operator-release-1.5.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix path for perf tests (#3358)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Configured prow job for operator release-1.5 for s390x
  prow/jobs/generated/knative/operator-release-1.5.gen.yaml
  prow/jobs_config/knative/operator-release-1.5.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add new monitoring stack
  infra/gcp/tests/monitoring/boskos.tf
  infra/gcp/tests/monitoring/variables.tf
  prow/cluster/build/200-monitoring.yaml
  prow/cluster/build/400-boskos-deployment.yaml
  prow/cluster/build/400-boskos.yaml
Due: post-test-infra-deploy-prow

fix makefile and add prow monitoring
  infra/gcp/tests/main.tf
  prow/Makefile
  prow/Makefile.gcloud.mk
  prow/cluster/200-monitoring.yaml
Due: post-test-infra-deploy-prow

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3361)
  OWNERS_ALIASES
Due: none

Update ppc64le custom jobs of eventing release-1.5
  prow/jobs/generated/knative/eventing-release-1.5.gen.yaml
  prow/jobs_config/knative/eventing-release-1.5.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fi whitespace
  infra/gcp/tests/monitoring/boskos.tf
Due: none

Deploy new monitoring stack (#3360)
  infra/gcp/tests/main.tf
  infra/gcp/tests/monitoring/boskos.tf
  infra/gcp/tests/monitoring/variables.tf
  prow/Makefile
  prow/Makefile.gcloud.mk
  prow/cluster/200-monitoring.yaml
  prow/cluster/build/200-monitoring.yaml
  prow/cluster/build/400-boskos-deployment.yaml
  prow/cluster/build/400-boskos.yaml
Due: post-test-infra-deploy-prow

Bumping Prow
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow (#3364)
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Added prow job schedule for release-1.5 for s390x platform (#3357)
  prow/jobs/generated/knative/client-release-1.5.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.5.gen.yaml
  prow/jobs/generated/knative/operator-release-1.5.gen.yaml
  prow/jobs/generated/knative/serving-release-1.5.gen.yaml
  prow/jobs_config/knative/client-release-1.5.yaml
  prow/jobs_config/knative/eventing-release-1.5.yaml
  prow/jobs_config/knative/operator-release-1.5.yaml
  prow/jobs_config/knative/serving-release-1.5.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump go version to 1.18
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump tooling versions and include gnuplot
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

add analytics infra (#3339)
  experiment/gcs-analytics/benthos.yaml
  infra/gcp/analytics/main.tf
  infra/gcp/main.tf
Due: none

fix version for protoc-gen-go
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

revert docker cred helper bump
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump tooling versions and include gnuplot (#3368)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Update ppc64le custom jobs of eventing release-1.5 (#3362)
  prow/jobs/generated/knative/eventing-release-1.5.gen.yaml
  prow/jobs_config/knative/eventing-release-1.5.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Knative.Team: Add existing SPF and DKIM records. Create DMARC record.
  infra/gcp/dns/dns.tf
Due: none

Update community files (#3370)
  OWNERS_ALIASES
Due: none

bump go version to 1.18 (#3367)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

start managing releases/nightly projects in terraform
  infra/gcp/OWNERS
  infra/gcp/analytics/bq.tf
  infra/gcp/analytics/iam.tf
  infra/gcp/analytics/main.tf
  infra/gcp/dns/dns.tf
  infra/gcp/dns/main.tf
  infra/gcp/gsuite/main.tf
  infra/gcp/main.tf
  infra/gcp/nightly/README.md
  infra/gcp/nightly/buckets.tf
  infra/gcp/nightly/iam.tf
  infra/gcp/nightly/main.tf
  infra/gcp/releases/README.md
  infra/gcp/releases/buckets.tf
  infra/gcp/releases/iam.tf
  infra/gcp/releases/main.tf
  infra/gcp/tests/gke.tf
  infra/gcp/tests/monitoring/boskos.tf
  pkg/OWNERS
  prow/cluster/build/200-serviceaccounts.yaml
  tools/OWNERS
Due: post-test-infra-deploy-prow, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push

fix typos
  infra/gcp/analytics/bq.tf
  infra/gcp/analytics/iam.tf
  infra/gcp/nightly/buckets.tf
  infra/gcp/nightly/iam.tf
  infra/gcp/releases/iam.tf
Due: none

Update community files (#3373)
  OWNERS_ALIASES
Due: none

Update community files (#3374)
  OWNERS_ALIASES
Due: none

update timing for maintenance
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

update timing for maintenance (#3375)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Knative.Team: Add existing SPF and DKIM records. Create DMARC record. (#3369)
  infra/gcp/dns/dns.tf
Due: none

prepare for migration
  prow/cluster/200-cpu-limitrange.yaml
  prow/cluster/303-prow-knative-dev_managedcertificate.yaml
  prow/cluster/400-ingress.yaml
  prow/cluster/600-kubernetes_external_secrets.yaml
  prow/cluster/control-plane/100-namespace.yaml
  prow/cluster/control-plane/200-limitrange.yaml
  prow/cluster/control-plane/200-monitoring.yaml
  prow/cluster/control-plane/301-rbac.yaml
  prow/cluster/control-plane/302-gce-ssd-retain_storageclass.yaml
  prow/cluster/control-plane/303-prow-knative-dev_managedcertificate.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-ingress.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-external-secrets_crd.yaml
  prow/cluster/control-plane/500-external-secrets_deployment.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/control-plane/600-external_secrets.yaml
  prow/cluster/control-plane/prowjob-crd/prowjob_customresourcedefinition.yaml
Due: post-test-infra-deploy-prow

lint fixes
  prow/cluster/control-plane/200-limitrange.yaml
  prow/cluster/control-plane/303-prow-knative-dev_managedcertificate.yaml
  prow/cluster/control-plane/400-ingress.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/600-external_secrets.yaml
Due: post-test-infra-deploy-prow
