Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

post-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      command:
      - runner.sh
      args:
      - ./prow/config.sh
      - check
      - $(REPO_OWNER)/$(REPO_NAME)
      securityContext:
        privileged: true
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

post-knative-test-infra-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      volumeMounts:
      - name: test-account
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push
      volumeMounts:
      - name: test-account
        mountPath: /etc/test-account
  ...

post-knative-test-infra-deploy-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./tools/flaky-test-retryer/gke_deployment
      - deploy
      volumeMounts:
      - name: test-account
  ...

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3520)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/go.mod
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

ignore go files under third_party
  third_party/go.mod
Due: none

Fix the go.mod style
  go.mod
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Removal of coverage files
  tools/coverage/test_output/tmp_artifacts/TestProfiling_195043851/cov-profile.txt
  tools/coverage/test_output/tmp_artifacts/TestProfiling_195043851/profile-completed
  tools/coverage/test_output/tmp_artifacts/TestProfiling_195043851/stdout.txt
  tools/coverage/test_output/tmp_artifacts/TestProfiling_234462361/cov-profile.txt
  tools/coverage/test_output/tmp_artifacts/TestProfiling_234462361/profile-completed
  tools/coverage/test_output/tmp_artifacts/TestProfiling_234462361/stdout.txt
Due: post-knative-test-infra-image-push

Use ony one context
  tools/go-ls-tags/cli/logger.go
Due: none

Using more standard way of dealing with timeouts
  tools/go-ls-tags/files/reader.go
  tools/go-ls-tags/timeout/deadline.go
Due: none

fix merge typos
  .gitignore
  prow/jobs_config/knative-sandbox/.base.yaml-e
  prow/jobs_config/knative-sandbox/async-component.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph.yaml
  prow/jobs_config/knative-sandbox/eventing-couchdb.yaml
  prow/jobs_config/knative-sandbox/eventing-github.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito.yaml
  prow/jobs_config/knative-sandbox/eventing-natss.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq.yaml
  prow/jobs_config/knative-sandbox/eventing-redis.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-diag.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-migration.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-sample.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-service-log.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet.yaml
  prow/jobs_config/knative-sandbox/kperf.yaml
  prow/jobs_config/knative-sandbox/net-certmanager.yaml
  prow/jobs_config/knative-sandbox/net-contour.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api.yaml
  prow/jobs_config/knative-sandbox/net-istio.yaml
  prow/jobs_config/knative-sandbox/net-kourier.yaml
  prow/jobs_config/knative-sandbox/reconciler-test.yaml
  prow/jobs_config/knative-sandbox/sample-controller.yaml
  prow/jobs_config/knative/client-pkg.yaml
  prow/jobs_config/knative/eventing.yaml
  prow/jobs_config/knative/operator.yaml
  prow/jobs_config/knative/pkg.yaml
  tools/configgen/go.mod
  tools/configgen/go.sum
Due: none

drop replace directives from release-job-syncer
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
Due: none

fix Dockerfile
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3524)
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/knative.dev/hack/go.work
  vendor/knative.dev/hack/go.work.sum
  vendor/knative.dev/hack/infra-library.sh
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3525)
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3527)
  go.mod
  go.sum
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3528)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

skip unknown contexts for docs
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

skip unknown contexts for docs (#3530)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3531)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add new jobs
  prow/jobs/custom/stale.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typo
  prow/jobs/custom/stale.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix another typo
  prow/jobs/custom/stale.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
