Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3377)
  OWNERS_ALIASES
Due: none

fix panic
  prow/jobs/generated/knative-sandbox/eventing-awssqs-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-ceph-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-couchdb-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-github-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-natss-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-main.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-awssqs.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph.yaml
  prow/jobs_config/knative-sandbox/eventing-couchdb.yaml
  prow/jobs_config/knative-sandbox/eventing-github.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab.yaml
  prow/jobs_config/knative-sandbox/eventing-natss.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq.yaml
  prow/jobs_config/knative-sandbox/eventing-redis.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

turn on services on new cluster
  prow/cluster/control-plane/303-prow-knative-dev_managedcertificate.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-ingress.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
Due: post-test-infra-deploy-prow

fix typo
  prow/cluster/control-plane/200-limitrange.yaml
Due: post-test-infra-deploy-prow

add secret for test-pods and adjust deploy makefile
  prow/Makefile
  prow/autobump-config/knative.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/600-external_secrets.yaml
  prow/jobs/custom/autodeploy-prow.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typo
  prow/Makefile
Due: none

Bumping Prow
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow (#3380)
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix makefile
  prow/Makefile
  prow/Makefile.gcloud.mk
Due: none

Migrate Prow Control Plane (#3376)
  prow/Makefile
  prow/Makefile.gcloud.mk
  prow/autobump-config/knative.yaml
  prow/cluster/200-cpu-limitrange.yaml
  prow/cluster/600-kubernetes_external_secrets.yaml
  prow/cluster/control-plane/100-namespace.yaml
  prow/cluster/control-plane/200-limitrange.yaml
  prow/cluster/control-plane/200-monitoring.yaml
  prow/cluster/control-plane/301-rbac.yaml
  prow/cluster/control-plane/302-gce-ssd-retain_storageclass.yaml
  prow/cluster/control-plane/303-prow-knative-dev_managedcertificate.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-ingress.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-external-secrets_crd.yaml
  prow/cluster/control-plane/500-external-secrets_deployment.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/control-plane/600-external_secrets.yaml
  prow/cluster/control-plane/prowjob-crd/prowjob_customresourcedefinition.yaml
  prow/jobs/custom/autodeploy-prow.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

drop iam roles and fix typos from evan's PR
  infra/gcp/dns/dns.tf
  infra/gcp/nightly/iam.tf
  infra/gcp/releases/buckets.tf
  infra/gcp/releases/iam.tf
  infra/gcp/tests/prow.tf
Due: none

Workload Identity Enablement - Part One (#3372)
  infra/gcp/OWNERS
  infra/gcp/analytics/bq.tf
  infra/gcp/analytics/iam.tf
  infra/gcp/analytics/main.tf
  infra/gcp/dns/dns.tf
  infra/gcp/dns/main.tf
  infra/gcp/gsuite/main.tf
  infra/gcp/main.tf
  infra/gcp/nightly/README.md
  infra/gcp/nightly/buckets.tf
  infra/gcp/nightly/iam.tf
  infra/gcp/nightly/main.tf
  infra/gcp/releases/README.md
  infra/gcp/releases/buckets.tf
  infra/gcp/releases/iam.tf
  infra/gcp/releases/main.tf
  infra/gcp/tests/gke.tf
  infra/gcp/tests/monitoring/boskos.tf
  infra/gcp/tests/prow.tf
  pkg/OWNERS
  prow/cluster/build/200-serviceaccounts.yaml
  tools/OWNERS
Due: post-test-infra-deploy-prow, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push

revert defautl service account annotation + deck banner update
  prow/cluster/build/200-serviceaccounts.yaml
  prow/config.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml

revert defautl service account annotation + deck banner update (#3381)
  prow/cluster/build/200-serviceaccounts.yaml
  prow/config.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml

deploy cosign
  images/prow-tests/Dockerfile
  infra/gcp/dns/dns.tf
  infra/gcp/nightly/cosign.tf
  infra/gcp/nightly/main.tf
  infra/gcp/tests/cosign.tf
  infra/gcp/tests/main.tf
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

fix typo
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

add dns record
  infra/gcp/dns/dns.tf
Due: none

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/container-freezer-release-0.1.gen.yaml
  prow/jobs_config/knative-sandbox/container-freezer-release-0.1.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3388)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/container-freezer-release-0.1.gen.yaml
  prow/jobs_config/knative-sandbox/container-freezer-release-0.1.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add dns record (#3387)
  infra/gcp/dns/dns.tf
Due: none

Bumping Prow
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow (#3389)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

enable-dind for serving prow jobs
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

enable-dind for serving prow jobs (#3390)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add `cosign` to Prow Image and deploy backing KMS Keys (#3385)
  images/prow-tests/Dockerfile
  infra/gcp/nightly/cosign.tf
  infra/gcp/nightly/main.tf
  infra/gcp/tests/cosign.tf
  infra/gcp/tests/main.tf
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Fix the path for the boskos_resources.yaml file used by the scripts
  infra/gcp/boskos/create_boskos_projects.sh
  infra/gcp/boskos/update_all_boskos_projects.sh
Due: none

Fix the path for the boskos_resources.yaml file used by the scripts (#3391)
  infra/gcp/boskos/create_boskos_projects.sh
  infra/gcp/boskos/update_all_boskos_projects.sh
Due: none

Set presubmit peribolos jobs to optional
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Set presubmit peribolos jobs to optional (#3393)
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Move to EasyCLA instead of Google CLA.
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Move to EasyCLA instead of Google CLA. (#3394)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml
