Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

post-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      command:
      - runner.sh
      args:
      - ./prow/config.sh
      - check
      - $(REPO_OWNER)/$(REPO_NAME)
      securityContext:
        privileged: true
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

post-knative-test-infra-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      volumeMounts:
      - name: test-account
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push
      volumeMounts:
      - name: test-account
        mountPath: /etc/test-account
  ...

post-knative-test-infra-deploy-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./tools/flaky-test-retryer/gke_deployment
      - deploy
      volumeMounts:
      - name: test-account
  ...

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

Update actions (#3243)
  .github/workflows/knative-releasability.yaml
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Enable auto-merge for PRs created by knative-automation robot
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Enable auto-merge for PRs created by knative-automation robot (#3245)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Update community files (#3244)
  OWNERS_ALIASES
Due: none

Update community files (#3246)
  OWNERS_ALIASES
Due: none

Update community files (#3249)
  OWNERS_ALIASES
Due: none

Move redirect app to the infra/gcp/dns folder
  infra/gcp/dns/redirect/Makefile
  infra/gcp/dns/redirect/README.md
  infra/gcp/dns/redirect/dispatch.yaml
  infra/gcp/dns/redirect/redir.py
  infra/gcp/dns/redirect/redir.yaml
Due: none

Update community files (#3251)
  OWNERS_ALIASES
Due: none

Move redirect app to the infra/gcp/dns folder (#3250)
  infra/gcp/dns/redirect/Makefile
  infra/gcp/dns/redirect/README.md
  infra/gcp/dns/redirect/dispatch.yaml
  infra/gcp/dns/redirect/redir.py
  infra/gcp/dns/redirect/redir.yaml
Due: none

Update actions (#3252)
  .github/workflows/knative-releasability.yaml
Due: none

Update Prow alerts recipient to kn-infra-gcp-org-admins@knative.team
  prow/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
Due: post-test-infra-deploy-prow

Update Prow alerts recipient to kn-infra-gcp-org-admins@knative.team (#3254)
  prow/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
Due: post-test-infra-deploy-prow

Add prow job for e2e eventing-main test on ppc64le
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs_config/.base.yaml
  prow/jobs_config/knative/eventing.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3256)
  go.mod
  go.sum
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Remove defunct gubernator, githubhelper tool, and pj-on-kind.sh
  README.md
  config/gubernator/Makefile
  config/gubernator/README.md
  config/gubernator/config.yaml
  config/gubernator/redir_github.py
  infra/gcp/dns/dns.tf
  prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  prow/config.yaml
  prow/jobs/pj-on-kind.sh
  tools/githubhelper/README.md
  tools/githubhelper/githubhelper.go
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml

Remove defunct gubernator, githubhelper tool, and pj-on-kind.sh (#3257)
  README.md
  config/gubernator/Makefile
  config/gubernator/README.md
  config/gubernator/config.yaml
  config/gubernator/redir_github.py
  infra/gcp/dns/dns.tf
  prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  prow/config.yaml
  prow/jobs/pj-on-kind.sh
  tools/githubhelper/README.md
  tools/githubhelper/githubhelper.go
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml

Add prow job for e2e eventing-main test on ppc64le (#3255)
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs_config/.base.yaml
  prow/jobs_config/knative/eventing.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix the kind-tests job for the hack repo
  prow/jobs/generated/knative/hack-main.gen.yaml
  prow/jobs_config/knative/hack.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix the kind-tests job for the hack repo (#3258)
  prow/jobs/generated/knative/hack-main.gen.yaml
  prow/jobs_config/knative/hack.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update actions
  .github/workflows/knative-go-test.yaml
Due: none

Update actions (#3259)
  .github/workflows/knative-go-test.yaml
Due: none

update go 1.17 patch to 9
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

update go 1.17 patch to 9 (#3260)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/kn-plugin-service-log-release-1.1.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-service-log-release-1.1.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3262)
  prow/jobs/generated/knative-sandbox/kn-plugin-service-log-release-1.1.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-service-log-release-1.1.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

migrate config to community repo
  config/label_sync/README.md
  config/label_sync/labels.yaml
  prow/jobs/custom/label-sync.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

migrate config to community repo (#3263)
  config/label_sync/README.md
  config/label_sync/labels.yaml
  prow/jobs/custom/label-sync.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix autobump-prow job and configure Slack alerts
  prow/autobump-config/knative.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix autobump-prow job and configure Slack alerts (#3264)
  prow/autobump-config/knative.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
