Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

post-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      command:
      - runner.sh
      args:
      - ./prow/config.sh
      - check
      - $(REPO_OWNER)/$(REPO_NAME)
      securityContext:
        privileged: true
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

post-knative-test-infra-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      volumeMounts:
      - name: test-account
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push
      volumeMounts:
      - name: test-account
        mountPath: /etc/test-account
  ...

post-knative-test-infra-deploy-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./tools/flaky-test-retryer/gke_deployment
      - deploy
      volumeMounts:
      - name: test-account
  ...

redeploy prow-build
  infra/gcp/tests/prow.tf
  prow/Makefile
  prow/README.md
  prow/cluster/200-serviceaccounts.yaml
  prow/cluster/301-rbac.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/500-external-secrets_crd.yaml
  prow/cluster/500-external-secrets_deployment.yaml
  prow/cluster/500-kubernetes-external-secrets_crd.yaml
  prow/cluster/500-kubernetes-external-secrets_deployment.yaml
  prow/cluster/500-kubernetes-external-secrets_rbac.yaml
  prow/cluster/500-kubernetes-external-secrets_service.yaml
  prow/cluster/build/200-serviceaccounts.yaml
  prow/cluster/build/301-rbac.yaml
  prow/cluster/build/400-boskos.yaml
  prow/cluster/build/500-external-secrets_crd.yaml
  prow/cluster/build/500-external-secrets_deployment.yaml
  prow/cluster/build/500-kubernetes-external-secrets_crd.yaml
  prow/cluster/build/500-kubernetes-external-secrets_deployment.yaml
  prow/cluster/build/500-kubernetes-external-secrets_rbac.yaml
  prow/cluster/build/500-kubernetes-external-secrets_service.yaml
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-test-infra-deploy-prow

Rebuild `prow-build` cluster (#3271)
  infra/gcp/tests/gke.tf
  infra/gcp/tests/prow.tf
  infra/gcp/tests/vpc.tf
  prow/Makefile
  prow/README.md
  prow/cluster/200-serviceaccounts.yaml
  prow/cluster/301-rbac.yaml
  prow/cluster/303-prow-knative-dev_managedcertificate.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/500-external-secrets_crd.yaml
  prow/cluster/500-external-secrets_deployment.yaml
  prow/cluster/500-kubernetes-external-secrets_crd.yaml
  prow/cluster/500-kubernetes-external-secrets_deployment.yaml
  prow/cluster/500-kubernetes-external-secrets_rbac.yaml
  prow/cluster/500-kubernetes-external-secrets_service.yaml
  prow/cluster/build/200-serviceaccounts.yaml
  prow/cluster/build/301-rbac.yaml
  prow/cluster/build/400-boskos.yaml
  prow/cluster/build/500-external-secrets_crd.yaml
  prow/cluster/build/500-external-secrets_deployment.yaml
  prow/cluster/build/500-kubernetes-external-secrets_crd.yaml
  prow/cluster/build/500-kubernetes-external-secrets_deployment.yaml
  prow/cluster/build/500-kubernetes-external-secrets_rbac.yaml
  prow/cluster/build/500-kubernetes-external-secrets_service.yaml
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-test-infra-deploy-prow

move jobs over
  prow/cluster/build/301-rbac.yaml
  prow/cluster/build/600-kubernetes_external_secrets.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/test-infra.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix lint errors
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-test-infra-deploy-prow

Move some Prow Jobs over (#3285)
  prow/cluster/build/301-rbac.yaml
  prow/cluster/build/600-kubernetes_external_secrets.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/test-infra.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump gcloud
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

reconcile changes
  prow/cluster/build/200-limitrange.yaml
  prow/cluster/build/200-memory-limitrange.yaml
  prow/cluster/build/400-boskos-deployment.yaml
  prow/cluster/build/400-boskos-janitor.yaml
Due: post-test-infra-deploy-prow

add limits
  prow/cluster/build/400-boskos-deployment.yaml
  prow/cluster/build/400-boskos-janitor.yaml
  prow/cluster/build/400-boskos-reaper.yaml
Due: post-test-infra-deploy-prow

Bump gcloud SDK (#3286)
  images/prow-tests/Dockerfile
  prow/cluster/build/200-limitrange.yaml
  prow/cluster/build/200-memory-limitrange.yaml
  prow/cluster/build/400-boskos-deployment.yaml
  prow/cluster/build/400-boskos-janitor.yaml
  prow/cluster/build/400-boskos-reaper.yaml
Due: post-test-infra-deploy-prow, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

change defaults around
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/knativeteam-groups.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

change gcs-cred-secret
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

fix lint typos
  prow/jobs/custom/branchprotector.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix autobump token path
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix autobump token path (#3288)
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[WIP] Demo moving jobs to another cluster
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

use default decorations config entries
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

enroll client as well
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-pkg-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs_config/knative/client-pkg.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

specify clusters explicitly
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

allow test to pass & fix typos
  prow/config.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  tools/configgen/jobs_test.go
Due: pull-test-infra-validate-prow-yaml

override in sub folders
  prow/config.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs_config/.base.yaml
  prow/jobs_config/knative/caching.yaml
  prow/jobs_config/knative/client-pkg.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client.yaml
  tools/configgen/jobs_test.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typo
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Move generated Prow Jobs over to new `prow-build` cluster (#3287)
  prow/config.yaml
  prow/jobs/generated/knative/caching-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-pkg-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs_config/knative/caching.yaml
  prow/jobs_config/knative/client-pkg.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3290)
  OWNERS_ALIASES
Due: none

fix autobump jobs
  infra/gcp/tests/iam.tf
  prow/cluster/boskos/README.md
  prow/cluster/boskos/boskos_resources.yaml
  prow/cluster/build/400-boskos-deployment.yaml
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-test-infra-deploy-prow

fix typo and cleanup override
  prow/cluster/boskos/boskos_resources.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Fix autobump jobs (#3294)
  infra/gcp/tests/iam.tf
  prow/cluster/boskos/README.md
  prow/cluster/boskos/boskos_resources.yaml
  prow/cluster/build/400-boskos-deployment.yaml
  prow/cluster/build/600-kubernetes_external_secrets.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies (#3291)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

delete debug file
  prow/test.yaml
Due: none

give boskos more resources
  prow/cluster/build/400-boskos-janitor.yaml
Due: post-test-infra-deploy-prow

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
