Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      command:
      - runner.sh
      args:
      - ./prow/config.sh
      - check
      - $(REPO_OWNER)/$(REPO_NAME)
      securityContext:
        privileged: true
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

post-knative-test-infra-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      volumeMounts:
      - name: test-account
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push
      volumeMounts:
      - name: test-account
        mountPath: /etc/test-account
  ...

post-knative-test-infra-deploy-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./tools/flaky-test-retryer/gke_deployment
      - deploy
      volumeMounts:
      - name: test-account
  ...

post-test-infra-update-testgrid-proto:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

Update timeout for eventing continuous and release Prow jobs to 3h (#3196)
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies (#3201)
  go.mod
  go.sum
  vendor/knative.dev/hack/CODE-OF-CONDUCT.md
  vendor/knative.dev/hack/CODE_OF_CONDUCT.md
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Move a few Prow jobs to run on the build clusters
  prow/jobs/custom/knativeteam-groups.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Remove create-build-cluster.sh
  prow/create-build-cluster.sh
Due: none

[WIP] TEST DO NOT MERGE
  prow/README.md
Due: none

Move a few Prow jobs to run on the build clusters (#3202)
  prow/jobs/custom/knativeteam-groups.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Remove create-build-cluster.sh (#3203)
  prow/create-build-cluster.sh
Due: none

Fix label-sync and peribolos Prow job config as we migrated Prow to GitHub app (#3200)
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix peribolos presubmit Prow jobs
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix peribolos presubmit Prow jobs (#3205)
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3206)
  OWNERS_ALIASES
Due: none

bump go patches
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Update actions
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Due: none

Update actions (#3210)
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Due: none

Update Knative prow onboarding doc after the recent changes
  guides/branch_checks.png
  guides/prow_knative_setup.md
Due: none

Update community files (#3209)
  OWNERS_ALIASES
Due: none

bump go patches (#3207)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Update Knative prow onboarding doc after the recent changes (#3211)
  guides/branch_checks.png
  guides/prow_knative_setup.md
Due: none

add the new infra I deployed
  .gitignore
  infra/gcp/.terraform.lock.hcl
  infra/gcp/README.md
  infra/gcp/boskos/main.tf
  infra/gcp/dns/README.md
  infra/gcp/dns/dns.tf
  infra/gcp/dns/main.tf
  infra/gcp/gsuite/README.md
  infra/gcp/gsuite/gsuite.tf
  infra/gcp/gsuite/main.tf
  infra/gcp/iam.tf
  infra/gcp/provider.tf
  infra/gcp/terraform.tfvars
Due: none

fix whitespace
  infra/gcp/README.md
Due: none

fix more lint typos
  infra/gcp/README.md
Due: none

Sync Prow config from oss-test-infra to knative, and enable auto-deploy
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-ingress.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/cluster/build/100-namespace.yaml
  prow/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/plugins.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Sync Prow config from oss-test-infra to knative, and enable auto-deploy (#3208)
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-ingress.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/cluster/build/100-namespace.yaml
  prow/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/plugins.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix the config path for creating Boskos resources configmap
  prow/Makefile
Due: none

Update heartbeat interval for holding Boskos resources to a shorter time
  pkg/clustermanager/kubetest2/gke.go
  prow/cluster/build/400-boskos-reaper.yaml
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push

Bumping Knative prow-tests image
  prow/jobs_config/knative-sandbox/async-component.yaml
Due: none

Fix the config path for creating Boskos resources configmap (#3213)
  prow/Makefile
Due: none

Update community files (#3223)
  OWNERS_ALIASES
Due: none

Update heartbeat interval for holding Boskos resources to a shorter time (#3214)
  pkg/clustermanager/kubetest2/gke.go
  prow/cluster/build/400-boskos-reaper.yaml
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push

Add Terraform Infra for `knative-dns` and `knative-gsuite` projects (#3167)
  .gitignore
  infra/gcp/.terraform.lock.hcl
  infra/gcp/README.md
  infra/gcp/boskos/README.md
  infra/gcp/boskos/boskos_resources.yaml
  infra/gcp/boskos/create_boskos_projects.sh
  infra/gcp/boskos/main.tf
  infra/gcp/boskos/set_up_boskos_project.sh
  infra/gcp/boskos/update_all_boskos_projects.sh
  infra/gcp/boskos/variables.tf
  infra/gcp/dns/README.md
  infra/gcp/dns/dns.tf
  infra/gcp/dns/main.tf
  infra/gcp/gsuite/README.md
  infra/gcp/gsuite/gsuite.tf
  infra/gcp/gsuite/main.tf
  infra/gcp/iam.tf
  infra/gcp/main.tf
  infra/gcp/provider.tf
  infra/gcp/terraform.tfvars
  infra/gcp/variables.tf
  prow/cluster/boskos/README.md
Due: none

rework flaky test reporter
  images/tool/Dockerfile
  pkg/gcs/gcs.go
  pkg/prow/prow.go
  prow/autobump-config/knative-flaky-test-reporter.yaml
  prow/autobump-config/knative-prow-tests.yaml
  prow/autobump-config/knative.yaml
  prow/cluster/build/200-serviceaccounts.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/test-infra.yaml
  tools/flaky-test-reporter/README.md
  tools/flaky-test-reporter/jsonreport/fakejsonreport/fakejsonreport.go
  tools/flaky-test-reporter/jsonreport/jsonreport.go
  tools/flaky-test-reporter/main.go
  tools/flaky-test-retryer/handler.go
  tools/flaky-test-retryer/log_parser.go
  tools/flaky-test-retryer/main.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-test-infra-update-testgrid-proto

Path conditions:
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
