Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

Bumping Prow
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow (#3395)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

Update actions (#3397)
  .github/workflows/knative-releasability.yaml
Due: none

Disabled TLS check for remote registry which uses self-signed certificate
  prow/jobs/generated/knative-sandbox/eventing-kafka-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs/generated/knative/client-release-1.5.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.4.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.5.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs/generated/knative/operator-release-1.5.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.2.gen.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-release-1.4.gen.yaml
  prow/jobs/generated/knative/serving-release-1.5.gen.yaml
  prow/jobs_config/.base.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

enable gitops
  infra/gcp/dns/dns.tf
  infra/gcp/tests/iam.tf
  prow/cluster/gitops/README.md
  prow/cluster/gitops/apps/eso-build.yaml
  prow/cluster/gitops/apps/eso-trusted.yaml
  prow/cluster/gitops/apps/prow-build.yaml
  prow/cluster/gitops/bootstrap/apps.yaml
  prow/cluster/gitops/bootstrap/argocd-cm-rbac.yaml
  prow/cluster/gitops/bootstrap/argocd-cm.yaml
  prow/cluster/gitops/bootstrap/argocd-server-service.yaml
  prow/cluster/gitops/bootstrap/extras.yaml
  prow/cluster/gitops/bootstrap/kustomization.yaml
Due: post-test-infra-deploy-prow

remove eso deployment and prowjob
  prow/cluster/build/500-external-secrets_crd.yaml
  prow/cluster/build/500-external-secrets_deployment.yaml
  prow/cluster/control-plane/500-external-secrets_crd.yaml
  prow/cluster/control-plane/500-external-secrets_deployment.yaml
  prow/jobs/custom/autodeploy-prow.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

remove eso deployment and prowjob (#3400)
  prow/cluster/build/500-external-secrets_crd.yaml
  prow/cluster/build/500-external-secrets_deployment.yaml
  prow/cluster/control-plane/500-external-secrets_crd.yaml
  prow/cluster/control-plane/500-external-secrets_deployment.yaml
  prow/jobs/custom/autodeploy-prow.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add missing applications
  prow/cluster/gitops/README.md
  prow/cluster/gitops/apps/eso-prow-build.yaml
  prow/cluster/gitops/apps/eso-prow.yaml
  prow/cluster/gitops/apps/prow.yaml
Due: post-test-infra-deploy-prow

fix typos
  prow/cluster/gitops/apps/eso-prow-build.yaml
  prow/cluster/gitops/apps/eso-prow.yaml
  prow/cluster/gitops/apps/eso-trusted.yaml
  prow/cluster/gitops/apps/prow-build.yaml
Due: post-test-infra-deploy-prow

Disabled TLS check for remote registry which uses self-signed certificate (#3398)
  prow/jobs/generated/knative-sandbox/eventing-kafka-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs/generated/knative/client-release-1.5.gen.yaml
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.4.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.5.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs/generated/knative/operator-release-1.5.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs/generated/knative/serving-release-1.2.gen.yaml
  prow/jobs/generated/knative/serving-release-1.3.gen.yaml
  prow/jobs/generated/knative/serving-release-1.4.gen.yaml
  prow/jobs/generated/knative/serving-release-1.5.gen.yaml
  prow/jobs_config/.base.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3401)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Enable ArgoCD for managing cluster state (#3399)
  infra/gcp/dns/dns.tf
  infra/gcp/tests/iam.tf
  prow/cluster/gitops/README.md
  prow/cluster/gitops/apps/eso-prow-build.yaml
  prow/cluster/gitops/apps/eso-prow.yaml
  prow/cluster/gitops/apps/eso-trusted.yaml
  prow/cluster/gitops/apps/prow-build.yaml
  prow/cluster/gitops/apps/prow.yaml
  prow/cluster/gitops/bootstrap/apps.yaml
  prow/cluster/gitops/bootstrap/argocd-cm-rbac.yaml
  prow/cluster/gitops/bootstrap/argocd-cm.yaml
  prow/cluster/gitops/bootstrap/argocd-server-service.yaml
  prow/cluster/gitops/bootstrap/extras.yaml
  prow/cluster/gitops/bootstrap/kustomization.yaml
Due: post-test-infra-deploy-prow

Add prow job for e2e client-main test on ppc64le
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Added space to correct format error in jobs_sync
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: none

upgrade to latest dependencies (#3402)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

fix dot release
  guides/manual_release.md
Due: none

fix dot release (#3404)
  guides/manual_release.md
Due: none

Update community files (#3406)
  OWNERS_ALIASES
Due: none

Bumping Prow (#3407)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add prow job for client-main e2e test on ppc64le (#3403)
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative/client-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3408)
  prow/jobs/generated/knative/client-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix drift and add docs
  infra/gcp/analytics/README.md
  infra/gcp/nightly/cosign.tf
  infra/gcp/nightly/main.tf
  infra/gcp/releases/main.tf
  infra/gcp/tests/cosign.tf
  infra/gcp/tests/iam.tf
  infra/gcp/tests/main.tf
Due: none

add new project
  infra/gcp/.terraform.lock.hcl
  infra/gcp/main.tf
  infra/gcp/shared/README.md
  infra/gcp/shared/gke.tf
  infra/gcp/shared/iam.tf
  infra/gcp/shared/main.tf
  infra/gcp/shared/vpc.tf
  infra/k8s/README.md
  infra/k8s/shared/perf-tests.yaml
  infra/k8s/shared/rbac.yaml
  prow/cluster/gitops/apps/shared.yaml
Due: post-test-infra-deploy-prow

Update cron timings for client-main job to avoid conflict with eventing 1.4 prow job
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update cron timings for client-main job to avoid conflict with eventing 1.4 prow job (#3410)
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

deploy cluster
  infra/gcp/iam.tf
  infra/gcp/shared/README.md
  infra/gcp/shared/gke.tf
  infra/gcp/shared/iam.tf
  infra/gcp/shared/main.tf
  infra/k8s/README.md
Due: none

reconcile email changes
  infra/gcp/iam.tf
  infra/gcp/terraform.tfvars
  infra/gcp/tests/iam.tf
Due: none

Add new Shared GKE Cluster (#3409)
  infra/gcp/.terraform.lock.hcl
  infra/gcp/analytics/README.md
  infra/gcp/iam.tf
  infra/gcp/main.tf
  infra/gcp/nightly/cosign.tf
  infra/gcp/nightly/main.tf
  infra/gcp/shared/README.md
  infra/gcp/shared/gke.tf
  infra/gcp/shared/iam.tf
  infra/gcp/shared/main.tf
  infra/gcp/shared/vpc.tf
  infra/gcp/terraform.tfvars
  infra/gcp/tests/cosign.tf
  infra/gcp/tests/iam.tf
  infra/gcp/tests/main.tf
  infra/k8s/README.md
  infra/k8s/shared/perf-tests.yaml
  infra/k8s/shared/rbac.yaml
  prow/cluster/gitops/apps/shared.yaml
Due: post-test-infra-deploy-prow

Bumping Prow (#3412)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add prow job config for knative-operator e2e tests
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs_config/knative/operator.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Remove trailing space in line 58
  prow/jobs_config/knative/operator.yaml
Due: none
