Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

chore: move kn-plugin-func to knative/func
  prow/jobs_config/knative-sandbox/kn-plugin-func.yaml
Due: none

fixup: actually add func.yaml
  prow/jobs_config/knative/func.yaml
Due: none

fixup: and run generate-configs.sh
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/func-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

chore: move kn-plugin-func to knative/func (#3554)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/func-main.gen.yaml
  prow/jobs_config/knative/func.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative/func-release-1.7.gen.yaml
  prow/jobs_config/knative/func-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3555)
  prow/jobs/generated/knative/func-release-1.7.gen.yaml
  prow/jobs_config/knative/func-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3556)
  OWNERS_ALIASES
Due: none

Bumping Knative prow-tests image
  prow/jobs/generated/knative/func-main.gen.yaml
  prow/jobs/generated/knative/func-release-1.7.gen.yaml
  prow/jobs_config/knative/func-release-1.7.yaml
  prow/jobs_config/knative/func.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

notarize all nightlies and releases
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-service-log-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/func-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-service-log.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/func.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

set ORG_NAME as well
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-service-log-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-main.gen.yaml
  prow/jobs_config/knative-sandbox/.base.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix diffs
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-service-log-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

run hey performance test for container-freezer
  prow/jobs/generated/knative-sandbox/container-freezer-main.gen.yaml
  prow/jobs_config/knative-sandbox/container-freezer.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/security-guard-release-0.1.gen.yaml
  prow/jobs_config/knative-sandbox/security-guard-release-0.1.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Notarize all nightlies and release jobs (#3559)
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-service-log-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-main.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/func-main.gen.yaml
  prow/jobs_config/knative-sandbox/.base.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-service-log.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/func.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3560)
  prow/jobs/generated/knative-sandbox/security-guard-release-0.1.gen.yaml
  prow/jobs_config/knative-sandbox/security-guard-release-0.1.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3561)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3562)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

run hey performance test for container-freezer (#3558)
  prow/jobs/generated/knative-sandbox/container-freezer-main.gen.yaml
  prow/jobs_config/knative-sandbox/container-freezer.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/container-freezer-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3564)
  prow/jobs/generated/knative-sandbox/container-freezer-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

generate provenance for net-contour
  prow/jobs/generated/knative-sandbox/net-contour-main.gen.yaml
  prow/jobs_config/knative-sandbox/net-contour.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump cosign, base os, gcloud
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump cosign, base os, gcloud (#3566)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

generate provenance for net-contour (#3565)
  prow/jobs/generated/knative-sandbox/net-contour-main.gen.yaml
  prow/jobs_config/knative-sandbox/net-contour.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix a bug in the provenance generator
  tools/provenance-generator/pkg/generate.go
  tools/provenance-generator/pkg/generate_test.go
  tools/provenance-generator/pkg/parse.go
  tools/provenance-generator/pkg/testdata/attestation.json
  tools/provenance-generator/pkg/testdata/prowjob.yaml
Due: none

temporarily pass tests
  tools/provenance-generator/pkg/generate_test.go
Due: none

fix tesgrid permissions
  infra/gcp/tests/iam.tf
  infra/gcp/tests/prow.tf
Due: none

fix tesgrid permissions (#3569)
  infra/gcp/tests/iam.tf
  infra/gcp/tests/prow.tf
Due: none

Add trigger support in pr
  prow/jobs/generated/knative-sandbox/container-freezer-main.gen.yaml
  prow/jobs_config/knative-sandbox/container-freezer.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Process stale issues/PRs via Prow (#3532)
  prow/jobs/custom/stale.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix a bug in the Provenance Generator (#3568)
  tools/provenance-generator/pkg/generate.go
  tools/provenance-generator/pkg/generate_test.go
  tools/provenance-generator/pkg/parse.go
  tools/provenance-generator/pkg/testdata/attestation.json
  tools/provenance-generator/pkg/testdata/prowjob.yaml
Due: none

Add trigger support in pr (#3570)
  prow/jobs/generated/knative-sandbox/container-freezer-main.gen.yaml
  prow/jobs_config/knative-sandbox/container-freezer.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add ghproxy to trusted cluster
  prow/cluster/trusted/ghproxy.yaml
  prow/cluster/trusted/serviceaccounts.yaml
Due: none
