Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

bump root go.mod
  go.mod
  go.sum
  go.work.sum
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Knative prow-tests image
  prow/jobs/generated/knative-sandbox/kn-plugin-diag-main.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-diag.yaml
  prow/jobs_config/knative-sandbox/net-istio.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Knative prow-tests image (#3507)
  prow/jobs/generated/knative-sandbox/kn-plugin-diag-main.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-main.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-diag.yaml
  prow/jobs_config/knative-sandbox/net-istio.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix run_job.sh scripts (#3498)
  config/Makefile
  guides/manual_release.md
Due: none

add more replicas and logging
  infra/gcp/boskos/.terraform.lock.hcl
  infra/gcp/boskos/create_boskos_projects.sh
  infra/gcp/boskos/iam.tf
  infra/gcp/boskos/main.tf
  infra/gcp/boskos/provider.tf
  infra/gcp/boskos/set_up_boskos_project.sh
  infra/gcp/boskos/update_all_boskos_projects.sh
  infra/gcp/main.tf
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
Due: post-test-infra-deploy-prow

fix whitespace error
  go.mod
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

add more replicas and logging (#3508)
  infra/gcp/boskos/.terraform.lock.hcl
  infra/gcp/boskos/create_boskos_projects.sh
  infra/gcp/boskos/iam.tf
  infra/gcp/boskos/main.tf
  infra/gcp/boskos/provider.tf
  infra/gcp/boskos/set_up_boskos_project.sh
  infra/gcp/boskos/update_all_boskos_projects.sh
  infra/gcp/main.tf
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
Due: post-test-infra-deploy-prow

delete a an errant go.mod entry
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-cleanhttp/LICENSE
  vendor/github.com/hashicorp/go-cleanhttp/README.md
  vendor/github.com/hashicorp/go-cleanhttp/cleanhttp.go
  vendor/github.com/hashicorp/go-cleanhttp/doc.go
  vendor/github.com/hashicorp/go-cleanhttp/go.mod
  vendor/github.com/hashicorp/go-cleanhttp/handlers.go
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

remove go.mod from release-jobs-syncer
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
Due: none

Workload Identity Enablement - Part Four (#3506)
  infra/gcp/tests/buckets.tf
  infra/gcp/tests/prow.tf
  prow/cluster/build/serviceaccounts.yaml
  prow/jobs/custom/test-infra.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Lints
  go.mod
  tools/go-ls-tags/README.md
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3512)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Docs for lint
  tools/modscope/cli/app.go
  tools/modscope/cli/system.go
  tools/modscope/modules/current.go
  tools/modscope/modules/list.go
  tools/modscope/test/env.go
  tools/modscope/test/fs.go
Due: none

Adding lint configuration
  .editorconfig
  tools/modscope/.golangci.yaml
  tools/modscope/cli/current.go
  tools/modscope/cli/list.go
  tools/modscope/cli/presenter.go
  tools/modscope/cli/system.go
  tools/modscope/main.go
  tools/modscope/modules/errors.go
  tools/modscope/modules/io.go
  tools/modscope/modules/list.go
Due: none

Remove the context.Context from structs
  tools/go-ls-tags/cli/app.go
  tools/go-ls-tags/cli/app_test.go
  tools/go-ls-tags/tags/files.go
  tools/go-ls-tags/tags/ignored.go
  tools/go-ls-tags/tags/lister.go
Due: none

Exclude file is path part is matching
  tools/go-ls-tags/tags/files.go
Due: none

Fix Prow jobs for knative-sandbox/eventing-kafka-broker
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-main.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

swap the pools around
  prow/cluster/build/boskos-deployment.yaml
Due: post-test-infra-deploy-prow

Fix Prow jobs for knative-sandbox/eventing-kafka-broker (#3514)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-main.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

swap the pools around (#3515)
  prow/cluster/build/boskos-deployment.yaml
Due: post-test-infra-deploy-prow

add user for creating release keys
  infra/gcp/nightly/iam.tf
  infra/gcp/releases/iam.tf
  prow/cluster/build/serviceaccounts.yaml
Due: post-test-infra-deploy-prow

stop running docs presubmit tests
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/docs-main.gen.yaml
  prow/jobs_config/knative/docs.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

stop running docs presubmit tests (#3517)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/docs-main.gen.yaml
  prow/jobs_config/knative/docs.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add user for creating release keys (#3516)
  infra/gcp/nightly/iam.tf
  infra/gcp/releases/iam.tf
  prow/cluster/build/serviceaccounts.yaml
Due: post-test-infra-deploy-prow

onboard net-certmanager and client for signing
  prow/jobs/generated/knative-sandbox/net-certmanager-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager.yaml
  prow/jobs_config/knative/client.yaml
  tools/modscope/README.md
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

onboard net-certmanager and client for signing (#3519)
  prow/jobs/generated/knative-sandbox/net-certmanager-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager.yaml
  prow/jobs_config/knative/client.yaml
  tools/modscope/README.md
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

rerun prowgen
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto
