Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/security-guard-release-0.3.gen.yaml
  prow/jobs_config/knative-sandbox/security-guard-release-0.3.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

reconcile infra changes (#3657)
  infra/gcp/.terraform.lock.hcl
  infra/gcp/dns/dns.tf
  infra/gcp/iam.tf
  infra/gcp/nightly/main.tf
  infra/gcp/provider.tf
  infra/gcp/releases/main.tf
  infra/gcp/shared/gke.tf
  infra/gcp/shared/iam.tf
  infra/gcp/shared/main.tf
  infra/gcp/shared/vpc.tf
  infra/gcp/tests/gke.tf
  infra/gcp/tests/main.tf
  prow/jobs/custom/test-infra.yaml
  tools/provenance-generator/README.md
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3658)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/security-guard-release-0.3.gen.yaml
  prow/jobs_config/knative-sandbox/security-guard-release-0.3.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Update community files (#3659)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies (#3660)
  go.mod
  go.sum
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump peribolos tolerance for deletion so we can purge inactive users
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump peribolos tolerance for deletion so we can purge inactive users (#3662)
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Revert "🔄 Synced file(s) with knative/actions (#3653)"
  .github/workflows/synced-security.yaml
  .github/workflows/synced-stale.yaml
  .github/workflows/synced-style.yaml
  .github/workflows/synced-verify.yaml
Due: none

Revert "bump peribolos tolerance for deletion so we can purge inactive users (#3662)"
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add new job to run internal encryption tests for Contour (#3649)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/security-guard-release-0.4.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative-sandbox/security-guard-release-0.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Revert "🔄 Synced file(s) with knative/actions (#3653)" (#3663)
  .github/workflows/synced-security.yaml
  .github/workflows/synced-stale.yaml
  .github/workflows/synced-style.yaml
  .github/workflows/synced-verify.yaml
Due: none

Revert "bump peribolos tolerance for deletion so we can purge inactive users (#3662)" (#3664)
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3665)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/security-guard-release-0.4.gen.yaml
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative-sandbox/security-guard-release-0.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files (#3666)
  OWNERS_ALIASES
Due: none

🔄 created local '.github/workflows/synced-security.yaml' from remote 'sync/workflows/synced-security.yaml'
  .github/workflows/synced-security.yaml
Due: none

🔄 created local '.github/workflows/synced-stale.yaml' from remote 'sync/workflows/synced-stale.yaml'
  .github/workflows/synced-stale.yaml
Due: none

🔄 created local '.github/workflows/synced-style.yaml' from remote 'sync/workflows/synced-style.yaml'
  .github/workflows/synced-style.yaml
Due: none

🔄 created local '.github/workflows/synced-verify.yaml' from remote 'sync/workflows/synced-verify.yaml'
  .github/workflows/synced-verify.yaml
Due: none

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/stale.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump go versions to latest patch
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump go versions to latest patch (#3669)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

fix serving e2e cm errors
  prow/cluster/control-plane/301-rbac.yaml
Due: none

fix config-bootstrapper
  prow/cluster/control-plane/config-bootstrapper.yaml
  prow/cluster/trusted/secrets.yaml
Due: none

fix new lines
  prow/cluster/trusted/secrets.yaml
Due: none

fix EoF
  prow/cluster/control-plane/config-bootstrapper.yaml
Due: none

Bumping Prow and Boskos (#3668)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/stale.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

use a dedicated secret
  prow/cluster/trusted/secrets.yaml
Due: none

Fix config-bootstrapper and test-runner RBAC (#3672)
  prow/cluster/control-plane/301-rbac.yaml
  prow/cluster/control-plane/config-bootstrapper.yaml
  prow/cluster/trusted/secrets.yaml
Due: none

files needed for deployment of influxdb and grafana used by perf tests dashboard
  infra/k8s/shared/grafana-dashboard.json
  infra/k8s/shared/grafana-deployment.yaml
  infra/k8s/shared/influxdb-deployment.yaml
  infra/k8s/shared/influxdb-pvc.yaml
  infra/k8s/shared/influxdb-service.yaml
Due: none

files needed for deployment of influxdb and grafana used by perf tests dashboard (#3631)
  infra/k8s/shared/grafana-dashboard.json
  infra/k8s/shared/grafana-deployment.yaml
  infra/k8s/shared/influxdb-deployment.yaml
  infra/k8s/shared/influxdb-pvc.yaml
  infra/k8s/shared/influxdb-service.yaml
Due: none
