Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-test-infra-update-testgrid-proto

Path conditions:
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

change billing
  infra/gcp/.terraform.lock.hcl
  infra/gcp/analytics/main.tf
  infra/gcp/analytics/variables.tf
  infra/gcp/boskos/main.tf
  infra/gcp/boskos/variables.tf
  infra/gcp/dns/main.tf
  infra/gcp/dns/variables.tf
  infra/gcp/gsuite/main.tf
  infra/gcp/gsuite/variables.tf
  infra/gcp/main.tf
  infra/gcp/nightly/main.tf
  infra/gcp/nightly/variables.tf
  infra/gcp/provider.tf
  infra/gcp/releases/main.tf
  infra/gcp/releases/variables.tf
  infra/gcp/shared/gke.tf
  infra/gcp/shared/main.tf
  infra/gcp/shared/variables.tf
  infra/gcp/terraform.tfvars
  infra/gcp/tests/gke.tf
  infra/gcp/tests/main.tf
  infra/gcp/tests/variables.tf
Due: none

change billing (#3804)
  infra/gcp/.terraform.lock.hcl
  infra/gcp/analytics/main.tf
  infra/gcp/analytics/variables.tf
  infra/gcp/boskos/main.tf
  infra/gcp/boskos/variables.tf
  infra/gcp/dns/main.tf
  infra/gcp/dns/variables.tf
  infra/gcp/gsuite/main.tf
  infra/gcp/gsuite/variables.tf
  infra/gcp/main.tf
  infra/gcp/nightly/main.tf
  infra/gcp/nightly/variables.tf
  infra/gcp/provider.tf
  infra/gcp/releases/main.tf
  infra/gcp/releases/variables.tf
  infra/gcp/shared/gke.tf
  infra/gcp/shared/main.tf
  infra/gcp/shared/variables.tf
  infra/gcp/terraform.tfvars
  infra/gcp/tests/gke.tf
  infra/gcp/tests/main.tf
  infra/gcp/tests/variables.tf
Due: none

Bumping Prow and Boskos (#3799)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

ran hack/update-codegen
  vendor/k8s.io/test-infra/prow/config/secret/BUILD.bazel
  vendor/k8s.io/test-infra/prow/logrusutil/BUILD.bazel
  vendor/k8s.io/test-infra/prow/version/BUILD.bazel
  vendor/knative.dev/hack/OWNERS
  vendor/knative.dev/hack/OWNERS_ALIASES
  vendor/sigs.k8s.io/yaml/OWNERS
Due: none

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3806)
  OWNERS_ALIASES
Due: none

Update community files (#3807)
  OWNERS_ALIASES
Due: none

Upgrade to ko v0.13.0 in prow Dockerfile
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Upgrade to ko v0.13.0 in prow Dockerfile (#3809)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump go version
  images/prow-tests/Dockerfile
  images/tool/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

go mod tidy to unblock release-jobs-syncer
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

go mod tidy to unblock release-jobs-syncer (#3811)
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

Drop the number of supported release branches to 2
  tools/release-jobs-syncer/pkg/release.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

fix linter
  tools/flaky-test-reporter/github_issue.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

Drop the number of supported release branches to 2 (#3815)
  tools/flaky-test-reporter/github_issue.go
  tools/release-jobs-syncer/pkg/release.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

update the slack channels for some eventing jobs
  prow/jobs_config/knative-sandbox/eventing-kafka-broker.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito.yaml
  prow/jobs_config/knative-sandbox/eventing-natss.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq.yaml
Due: none

run codegen
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-natss-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Format go code
  tools/flaky-test-reporter/github_issue.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

add release 1.10 jobs for s390x
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.10.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.10.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update the slack channels for some eventing jobs (#3817)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-natss-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-main.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito.yaml
  prow/jobs_config/knative-sandbox/eventing-natss.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump go version (#3810)
  images/prow-tests/Dockerfile
  images/tool/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Prow and Boskos (#3820)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add release 1.10 jobs for s390x (#3819)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.10.gen.yaml
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.10.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.10.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.10.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.10.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3822)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.10.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.10.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Adjust release 1.10 jobs for ppc64le
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto
