Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

build flaky-test-reporter image on PRs
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typo
  prow/autobump-config/knative-flaky-test-reporter.yaml
Due: none

drop unused arg
  tools/flaky-test-retryer/log_parser_test.go
Due: post-knative-test-infra-image-push

apply suggestions
  prow/autobump-config/knative-prow-tests.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Rework Flaky Test Reporter (#3226)
  images/tool/Dockerfile
  pkg/gcs/gcs.go
  pkg/prow/prow.go
  prow/autobump-config/knative-flaky-test-reporter.yaml
  prow/autobump-config/knative-prow-tests.yaml
  prow/autobump-config/knative.yaml
  prow/cluster/build/200-serviceaccounts.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/test-infra.yaml
  tools/flaky-test-reporter/README.md
  tools/flaky-test-reporter/jsonreport/fakejsonreport/fakejsonreport.go
  tools/flaky-test-reporter/jsonreport/jsonreport.go
  tools/flaky-test-reporter/main.go
  tools/flaky-test-retryer/handler.go
  tools/flaky-test-retryer/log_parser.go
  tools/flaky-test-retryer/log_parser_test.go
  tools/flaky-test-retryer/main.go
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-test-infra-update-testgrid-proto

boskos_resources.yaml config file is part of Boskos deployment so moving it back
  prow/cluster/boskos/README.md
  prow/cluster/boskos/boskos_resources.yaml
Due: post-test-infra-deploy-prow

boskos_resources.yaml config file is part of Boskos deployment so moving it back (#3227)
  prow/cluster/boskos/README.md
  prow/cluster/boskos/boskos_resources.yaml
Due: post-test-infra-deploy-prow

Remove the failing Prow job that builds flaky-test-reporter
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Remove the failing Prow job that builds flaky-test-reporter (#3228)
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Delete config.sh and replace with actual Prow jobs
  prow/config.sh
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Delete config.sh and replace with actual Prow jobs (#3219)
  prow/config.sh
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix the command to install flaky-test-reporter in the Dockerfile
  images/tool/Dockerfile
Due: post-knative-test-infra-image-push

Add external secret for ppc64le cluster
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-test-infra-deploy-prow

Add external secret for ppc64le cluster (#3224)
  prow/cluster/build/600-kubernetes_external_secrets.yaml
Due: post-test-infra-deploy-prow

Add eventing/reconciler prow jobs for s390x
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix the command to install flaky-test-reporter in the Dockerfile (#3230)
  images/tool/Dockerfile
Due: post-knative-test-infra-image-push

Add eventing/reconciler prow jobs for s390x (#3232)
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
  prow/jobs_config/knative/eventing-release-1.0.yaml
  prow/jobs_config/knative/eventing-release-1.1.yaml
  prow/jobs_config/knative/eventing-release-1.2.yaml
  prow/jobs_config/knative/eventing-release-1.3.yaml
  prow/jobs_config/knative/eventing.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3235)
  prow/jobs/generated/knative/eventing-main.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.1.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.2.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.3.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add the Prow job to run config-bootstrapper periodically
  prow/jobs/custom/autodeploy-prow.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update actions
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Due: none

Update actions (#3238)
  .github/workflows/knative-go-build.yaml
  .github/workflows/knative-go-test.yaml
  .github/workflows/knative-releasability.yaml
  .github/workflows/knative-release-notes.yaml
  .github/workflows/knative-security.yaml
  .github/workflows/knative-stale.yaml
  .github/workflows/knative-style.yaml
  .github/workflows/knative-verify.yaml
Due: none

Add the Prow job to run config-bootstrapper periodically (#3237)
  prow/jobs/custom/autodeploy-prow.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.23.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.23.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3240)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.23.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.23.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Use Slack instead of email to alert on Prow job failures
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/knativeteam-groups.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Remove the google group from the owner of the Boskos projects
  infra/gcp/boskos/set_up_boskos_project.sh
Due: none

Remove the google group from the owner of the Boskos projects (#3242)
  infra/gcp/boskos/set_up_boskos_project.sh
Due: none

Use Slack instead of email to alert on Prow job failures (#3241)
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/knativeteam-groups.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto
