Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/stale.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Added prow job changes for ppc64le release 1.8 (#3590)
  prow/jobs/generated/knative/client-release-1.8.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.8.gen.yaml
  prow/jobs/generated/knative/operator-release-1.8.gen.yaml
  prow/jobs_config/knative/client-release-1.8.yaml
  prow/jobs_config/knative/eventing-release-1.8.yaml
  prow/jobs_config/knative/operator-release-1.8.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3592)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/stale.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files (#3591)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies (#3589)
  go.mod
  go.sum
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump go to 1.19
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump go to 1.19 (#3598)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Fix release process for eventing-kafka-broker (#3587)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-main.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.8.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.8.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Format go code
  pkg/clustermanager/e2e-tests/gke/gke.go
  tools/release-jobs-syncer/pkg/release.go
  tools/rundk/interactive/docker.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push

The files.ReadLines function always read only one line
  tools/go-ls-tags/.gotagsignore
  tools/go-ls-tags/cli/app_test.go
  tools/go-ls-tags/files/reader.go
  tools/go-ls-tags/files/reader_test.go
  tools/go-ls-tags/files/testdata/example.txt
  tools/go-ls-tags/main_test.go
  tools/go-ls-tags/tags/index/indexer.go
  tools/go-ls-tags/testdata/tagged.go
Due: none

Format go code (#3602)
  pkg/clustermanager/e2e-tests/gke/gke.go
  tools/release-jobs-syncer/pkg/release.go
  tools/rundk/interactive/docker.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-prow-tests-image-push

bump kind, kubetest2 and gotestsum
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

bump kind, kubetest2 and gotestsum (#3605)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3600)
  OWNERS_ALIASES
Due: none

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

The files.ReadLines function always read only one line (#3604)
  tools/go-ls-tags/.gotagsignore
  tools/go-ls-tags/cli/app_test.go
  tools/go-ls-tags/files/reader.go
  tools/go-ls-tags/files/reader_test.go
  tools/go-ls-tags/files/testdata/example.txt
  tools/go-ls-tags/main_test.go
  tools/go-ls-tags/tags/index/indexer.go
  tools/go-ls-tags/testdata/tagged.go
Due: none

upgrade to latest dependencies (#3601)
  go.mod
  go.sum
  vendor/knative.dev/hack/README.md
  vendor/knative.dev/hack/e2e-tests.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/stale.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3607)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/stale.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Added prow jobs for serving contour and kourier
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix trailing space in serving yaml
  prow/jobs_config/knative/serving.yaml
Due: none

Use the GKE auth plugin in order to avoid spammy test output
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Add prow jobs for serving contour & kourier e2e tests on ppc64le (#3608)
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
  tools/release-jobs-syncer/pkg/jobs_sync.go
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Use the GKE auth plugin in order to avoid spammy test output (#3609)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

write predicate instead of a statement
  tools/provenance-generator/main.go
Due: none

build the image when tools folder is changed
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

setup net-gateway-api/contour prow jobs
  prow/jobs/generated/knative-sandbox/net-gateway-api-main.gen.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

setup net-gateway-api/contour prow jobs (#3612)
  prow/jobs/generated/knative-sandbox/net-gateway-api-main.gen.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto
