Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3316)
  OWNERS_ALIASES
Due: none

Add eventing-kafka prow job for s390x
  prow/jobs/generated/knative-sandbox/eventing-kafka-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client-release-1.4.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/operator-release-1.4.yaml
  prow/jobs_config/knative/operator.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add notice
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

fix typo
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Allow productivity to rerun jobs
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Allow productivity to rerun jobs (#3319)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

Update dot release instructions
  guides/manual_release.md
Due: none

Add eventing-kafka prow job for s390x (#3317)
  prow/jobs/generated/knative-sandbox/eventing-kafka-main.gen.yaml
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs/generated/knative/client-release-1.1.gen.yaml
  prow/jobs/generated/knative/client-release-1.2.gen.yaml
  prow/jobs/generated/knative/client-release-1.3.gen.yaml
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs/generated/knative/operator-main.gen.yaml
  prow/jobs/generated/knative/operator-release-1.1.gen.yaml
  prow/jobs/generated/knative/operator-release-1.2.gen.yaml
  prow/jobs/generated/knative/operator-release-1.3.gen.yaml
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka.yaml
  prow/jobs_config/knative/client-release-1.1.yaml
  prow/jobs_config/knative/client-release-1.2.yaml
  prow/jobs_config/knative/client-release-1.3.yaml
  prow/jobs_config/knative/client-release-1.4.yaml
  prow/jobs_config/knative/client.yaml
  prow/jobs_config/knative/operator-release-1.1.yaml
  prow/jobs_config/knative/operator-release-1.2.yaml
  prow/jobs_config/knative/operator-release-1.3.yaml
  prow/jobs_config/knative/operator-release-1.4.yaml
  prow/jobs_config/knative/operator.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update dot release instructions (#3320)
  guides/manual_release.md
Due: none

Add migration notice to deck (#3318)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

bump peribolos to pull in bug fixes
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow (#3322)
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

install netstat which is used by serving tests
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Prow (#3325)
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

install netstat which is used by serving tests (#3324)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Update community files (#3327)
  OWNERS_ALIASES
Due: none

Bumping Prow (#3329)
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add zones for kn.dev
  infra/gcp/dns/dns.tf
  infra/gcp/tests/prow.tf
Due: none

add zones for kn.dev (#3330)
  infra/gcp/dns/dns.tf
  infra/gcp/tests/prow.tf
Due: none

Update actions
  .github/workflows/knative-releasability.yaml
Due: none

Update actions (#3331)
  .github/workflows/knative-releasability.yaml
Due: none

allow WG leads to re-run prow jobs
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

allow WG leads to re-run prow jobs (#3332)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

feat: move from Google CLA to CNCF EasyCLA
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

feat: move from Google CLA to CNCF EasyCLA (#3333)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

run kperf perf tests nightly
  prow/jobs/generated/knative/serving-main.gen.yaml
  prow/jobs_config/knative/serving.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix image name in prow job
  prow/jobs/generated/knative/serving-main.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

chore: use proper casing for EasyCLA
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

chore: use proper casing for EasyCLA (#3335)
  prow/config.yaml
Due: pull-test-infra-validate-prow-yaml

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

upgrade to latest dependencies (#3336)
  go.mod
  go.sum
  vendor/knative.dev/hack/library.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

add dind to jobs
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.1.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.2.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.3.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.1.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.2.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.3.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add dind to jobs (#3337)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.1.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.2.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.3.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.1.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.2.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.3.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto
