Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-test-infra-update-testgrid-proto

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230209-f319bbff04
      command:
      - checkconfig
      args:
      - --config-path=./prow/config.yaml
      - --job-config-path=./prow/jobs
      - --plugin-config=./prow/plugins.yaml
      - --strict
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230209-f319bbff04
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230214-77f4d403
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test

post-knative-test-infra-image-push:
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230214-77f4d403
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      env:
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    serviceAccountName: test-runner
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230214-77f4d403
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push

post-test-infra-update-testgrid-proto:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-prow/configurator:v20230209-f319bbff04
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
  ...

Adjust release 1.10 jobs for ppc64le (#3823)
  prow/jobs/generated/knative/client-release-1.10.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs/generated/knative/operator-release-1.10.gen.yaml
  prow/jobs/generated/knative/serving-release-1.10.gen.yaml
  prow/jobs_config/knative/client-release-1.10.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
  prow/jobs_config/knative/operator-release-1.10.yaml
  prow/jobs_config/knative/serving-release-1.10.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add env to unit
  prow/jobs/generated/knative/hack-main.gen.yaml
  prow/jobs_config/knative/hack.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

format run_job script
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml

Change client-main ppc64le job cron timing
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Add env to knative/hack unit tests (#3824)
  prow/jobs/generated/knative/hack-main.gen.yaml
  prow/jobs/run_job.sh
  prow/jobs_config/knative/hack.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3827)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix codegen
  vendor/k8s.io/test-infra/prow/config/secret/BUILD.bazel
  vendor/k8s.io/test-infra/prow/logrusutil/BUILD.bazel
  vendor/k8s.io/test-infra/prow/version/BUILD.bazel
  vendor/knative.dev/hack/OWNERS
  vendor/knative.dev/hack/OWNERS_ALIASES
  vendor/sigs.k8s.io/yaml/OWNERS
Due: none

Change client-main ppc64le job cron timing (#3825)
  prow/jobs/generated/knative/client-main.gen.yaml
  prow/jobs_config/knative/client.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Point to correct slack channels
  tools/flaky-test-reporter/config/config.yaml
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

Point to correct slack channels (#3829)
  tools/flaky-test-reporter/config/config.yaml
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

Direct bots to bots channel
  tools/flaky-test-reporter/config/config.yaml
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

Direct bots to bots channel (#3830)
  tools/flaky-test-reporter/config/config.yaml
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3831)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

correct cron for s390x-eventing-reconciler tests
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

correct cron for s390x-eventing-reconciler tests (#3832)
  prow/jobs/generated/knative/eventing-release-1.10.gen.yaml
  prow/jobs_config/knative/eventing-release-1.10.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[peribolos] allow archiving
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[peribolos] allow archiving (#3833)
  prow/jobs/custom/peribolos.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update community files
  OWNERS_ALIASES
Due: none

Update community files (#3836)
  OWNERS_ALIASES
Due: none

deploy testgrid api (#3690)
  infra/gcp/dns/dns.tf
  infra/gcp/tests/prow.tf
  prow/cluster/control-plane/303-prow-knative-dev_managedcertificate.yaml
  prow/cluster/control-plane/ingress.yaml
  prow/cluster/control-plane/testgrid.yaml
Due: none

point jobs to the new repo (#71)
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Don't use this repo
  README.md
Due: none

upgrade argocd and point it to the new repo (#72)
  prow/cluster/gitops/apps/monitoring.yaml
  prow/cluster/gitops/apps/prow-build.yaml
  prow/cluster/gitops/apps/prow-trusted.yaml
  prow/cluster/gitops/apps/prow.yaml
  prow/cluster/gitops/apps/shared.yaml
  prow/cluster/gitops/bootstrap/apps.yaml
  prow/cluster/gitops/bootstrap/kustomization.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

enable config-updater for the new repo (#74)
  prow/autobump-config/knative-flaky-test-reporter.yaml
  prow/autobump-config/knative-prow-tests.yaml
  prow/autobump-config/knative.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/plugins.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Don't use this repo (#3839)
  README.md
Due: none

delete jobs from old repository (#75)
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Rename the repo: test-infra -> infra (#79)
  README.md
  go.mod
  go.sum
  images/empty.go
  images/prow-tests/Dockerfile
  images/prow-tests/README.md
  images/simple-image.mk
  prow/README.md
  prow/cluster/gitops/README.md
  prow/config.yaml
  test/presubmit-tests.sh
  third_party/VENDOR-LICENSE/knative.dev/infra/LICENSE
  third_party/VENDOR-LICENSE/knative.dev/toolbox/LICENSE
  vendor/knative.dev/toolbox/.editorconfig
  vendor/knative.dev/toolbox/.gitignore
  vendor/knative.dev/toolbox/.wokeignore
  vendor/knative.dev/toolbox/CODE-OF-CONDUCT.md
  vendor/knative.dev/toolbox/CONTRIBUTING.md
  vendor/knative.dev/toolbox/DEVELOPMENT.md
  vendor/knative.dev/toolbox/LICENSE
  vendor/knative.dev/toolbox/README.md
  vendor/knative.dev/toolbox/common.mk
  vendor/knative.dev/toolbox/empty.go
  vendor/knative.dev/toolbox/go.work
  vendor/knative.dev/toolbox/go.work.sum
  vendor/modules.txt
Due: pull-test-infra-validate-prow-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Install tools from knative/toolbox repo and bump stuff (#78)
  images/prow-tests/Dockerfile
  tools/configgen/go.mod
  tools/configgen/go.sum
  tools/configgen/main.go
  tools/configgen/pkg/testgrid.go
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Bumping Prow and Boskos (#82)
  prow/cluster/build/boskos-deployment.yaml
  prow/cluster/build/boskos-janitor.yaml
  prow/cluster/build/boskos-reaper.yaml
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/cluster/trusted/ghproxy.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/infra.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/run_job.sh
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Path conditions:
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/.*|pkg/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
