Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

post-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow
      - deploy
      - deploy-build
      - deploy-monitoring

post-oss-test-infra-deploy-knative-prow:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - make
      args:
      - -C
      - prow/knative
      - deploy
      - deploy-build
      - deploy-monitoring

pull-test-infra-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      command:
      - runner.sh
      args:
      - ./prow/config.sh
      - check
      - $(REPO_OWNER)/$(REPO_NAME)
      securityContext:
        privileged: true
      env:
      - name: DOCKER_IN_DOCKER_ENABLED
  ...

pull-test-infra-validate-own-testgrid-yaml:
  decorate: true
  optional: false
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20220323-9b8611d021
      command:
      - configurator
      args:
      - --prow-config=prow/config.yaml
      - --prow-job-config=prow/jobs
      - --default=config/prow/k8s-testgrid/testgrid-common-settings.yaml
  ...

pull-knative-test-infra-prow-tests-image-build:
  optional: false
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - build-ci-test
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
  ...

post-knative-test-infra-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - ./images/push-all.sh
      securityContext:
        privileged: true
      volumeMounts:
      - name: test-account
  ...

post-knative-test-infra-prow-tests-image-push:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - images/prow-tests
      - push
      volumeMounts:
      - name: test-account
        mountPath: /etc/test-account
  ...

post-knative-test-infra-deploy-tools:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:stable
      imagePullPolicy: Always
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./tools/flaky-test-retryer/gke_deployment
      - deploy
      volumeMounts:
      - name: test-account
  ...

manage prow trusted in tf
  infra/gcp/.terraform.lock.hcl
  infra/gcp/README.md
  infra/gcp/main.tf
  infra/gcp/tests/README.md
  infra/gcp/tests/gke.tf
  infra/gcp/tests/iam.tf
  infra/gcp/tests/main.tf
  infra/gcp/tests/prow-flaky-reporter.tf
Due: none

add more iam changes
  infra/gcp/tests/iam.tf
Due: none

Bumping Prow
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow (#3268)
  prow/cluster/400-crier.yaml
  prow/cluster/400-deck.yaml
  prow/cluster/400-ghproxy.yaml
  prow/cluster/400-hook.yaml
  prow/cluster/400-horologium.yaml
  prow/cluster/400-prow-controller-manager.yaml
  prow/cluster/400-sinker.yaml
  prow/cluster/400-tide.yaml
  prow/cluster/500-cherrypicker.yaml
  prow/cluster/500-needs-rebase.yaml
  prow/cluster/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Manage Prow Trusted Cluster in Terraform (#3266)
  infra/gcp/.terraform.lock.hcl
  infra/gcp/README.md
  infra/gcp/main.tf
  infra/gcp/tests/README.md
  infra/gcp/tests/gke.tf
  infra/gcp/tests/iam.tf
  infra/gcp/tests/main.tf
  infra/gcp/tests/prow-flaky-reporter.tf
Due: none

Fix label-sync presumbit Prow job, when config on community repo
  prow/jobs/custom/label-sync.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix label-sync presumbit Prow job, when config on community repo (#3267)
  prow/jobs/custom/label-sync.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-gateway-api-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.4.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.4.gen.yaml
  prow/jobs/generated/knative/serving-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-contour-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-http01-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-istio-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-kourier-release-1.4.yaml
  prow/jobs_config/knative-sandbox/sample-controller-release-1.4.yaml
  prow/jobs_config/knative/eventing-release-1.4.yaml
  prow/jobs_config/knative/serving-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3269)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-gateway-api-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.4.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.4.gen.yaml
  prow/jobs/generated/knative/serving-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-contour-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-http01-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-istio-release-1.4.yaml
  prow/jobs_config/knative-sandbox/net-kourier-release-1.4.yaml
  prow/jobs_config/knative-sandbox/sample-controller-release-1.4.yaml
  prow/jobs_config/knative/eventing-release-1.4.yaml
  prow/jobs_config/knative/serving-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

write the other clusters
  infra/gcp/tests/gke.tf
Due: none

fix typos
  infra/gcp/tests/gke.tf
Due: none

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-natss-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-natss-release-1.0.yaml
  prow/jobs_config/knative-sandbox/eventing-natss-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.4.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3272)
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-natss-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-natss-release-1.0.yaml
  prow/jobs_config/knative-sandbox/eventing-natss-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.4.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add zones to nodepools
  infra/gcp/tests/gke.tf
Due: none

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.4.gen.yaml
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.0.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.4.yaml
  prow/jobs_config/knative/client-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3273)
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.4.gen.yaml
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.4.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.0.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.4.yaml
  prow/jobs_config/knative/client-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3275)
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.4.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.4.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix the rm command in hack/generate-configs.sh
  hack/generate-configs.sh
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-natss-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/serving-release-1.0.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3276)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.4.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add vpc
  infra/gcp/tests/gke.tf
  infra/gcp/tests/vpc.tf
  prow/README.md
  prow/cluster/303-prow-knative-dev_managedcertificate.yaml
Due: post-test-infra-deploy-prow

Fix the rm command in hack/generate-configs.sh (#3274)
  hack/generate-configs.sh
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-natss-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-controller-release-1.0.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.0.gen.yaml
  prow/jobs/generated/knative/client-release-1.0.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.0.gen.yaml
  prow/jobs/generated/knative/serving-release-1.0.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.0.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3278)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.0.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Remove WORKSPACE file since bazel is not used for test-infra anymore
  WORKSPACE
Due: none

Remove WORKSPACE file since bazel is not used for test-infra anymore (#3279)
  WORKSPACE
Due: none

Remove backups tool since it's not used anymore
  images/backups/Dockerfile
  images/backups/Makefile
  images/backups/README.md
  images/backups/backup.sh
Due: post-knative-test-infra-image-push

Remove backups tool since it's not used anymore (#3280)
  images/backups/Dockerfile
  images/backups/Makefile
  images/backups/README.md
  images/backups/backup.sh
Due: post-knative-test-infra-image-push

Fix prow-jobs-syncer-job by changing ssh key default mode to 0700
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bump kind version
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs_config/knative/operator-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3281)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs_config/knative/operator-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Fix prow-jobs-syncer-job by changing ssh key default mode to 0700 (#3282)
  prow/jobs/custom/test-infra.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update s390x custom-jobs to release-1.4
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.4.gen.yaml
  prow/jobs/generated/knative/serving-release-1.4.gen.yaml
  prow/jobs_config/knative/client-release-1.4.yaml
  prow/jobs_config/knative/eventing-release-1.4.yaml
  prow/jobs_config/knative/serving-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Update operator custom job for s390x to release-1.4
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs_config/knative/operator-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bump kind version (#3283)
  images/prow-tests/Dockerfile
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

Update s390x custom-jobs to release-1.4 (#3277)
  prow/jobs/generated/knative/client-release-1.4.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.4.gen.yaml
  prow/jobs/generated/knative/operator-release-1.4.gen.yaml
  prow/jobs/generated/knative/serving-release-1.4.gen.yaml
  prow/jobs_config/knative/client-release-1.4.yaml
  prow/jobs_config/knative/eventing-release-1.4.yaml
  prow/jobs_config/knative/operator-release-1.4.yaml
  prow/jobs_config/knative/serving-release-1.4.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml
