Repository knative/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-oss-test-infra-deploy-knative-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push, post-knative-test-infra-deploy-tools, post-test-infra-update-testgrid-proto

Path conditions:
  post-test-infra-deploy-prow: any of: ^prow/cluster/
  post-oss-test-infra-deploy-knative-prow: any of: ^prow/knative/cluster/|^prow/oss/serviceaccounts/
  pull-test-infra-validate-prow-yaml: any of: ^prow/((config|plugins)\.yaml$|jobs/)
  pull-test-infra-validate-own-testgrid-yaml: any of: (^config/prow/k8s-testgrid/.*.yaml$|^prow/jobs/.*.yaml$)
  pull-knative-test-infra-prow-tests-image-build: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-image-push: any of: ^(images/.*|tools/(coverage|flaky-test-reporter|flaky-test-retryer)/.*|go.mod)$
  post-knative-test-infra-prow-tests-image-push: any of: ^(images/prow-tests/.*|tools/kntest/.*|pkg/.*|go.mod)$
  post-knative-test-infra-deploy-tools: any of: ^tools/flaky-test-retryer/gke_deployment/retryer_service.yaml$
  post-test-infra-update-testgrid-proto: any of: ^(config/prow/k8s-testgrid/|prow/jobs/).*.yaml

[Auto] Update prow jobs for release branches (#3491)
  prow/jobs/generated/knative-sandbox/net-certmanager-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/net-contour-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/net-gateway-api-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/net-http01-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/net-istio-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/net-kourier-release-1.7.gen.yaml
  prow/jobs/generated/knative/serving-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/net-certmanager-release-1.7.yaml
  prow/jobs_config/knative-sandbox/net-contour-release-1.7.yaml
  prow/jobs_config/knative-sandbox/net-gateway-api-release-1.7.yaml
  prow/jobs_config/knative-sandbox/net-http01-release-1.7.yaml
  prow/jobs_config/knative-sandbox/net-istio-release-1.7.yaml
  prow/jobs_config/knative-sandbox/net-kourier-release-1.7.yaml
  prow/jobs_config/knative/serving-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.7.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3492)
  prow/jobs/generated/knative-sandbox/eventing-ceph-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kogito-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/sample-source-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-ceph-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-kogito-release-1.7.yaml
  prow/jobs_config/knative-sandbox/sample-source-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.7.gen.yaml
  prow/jobs/generated/knative/client-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.3.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.7.yaml
  prow/jobs_config/knative/client-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3493)
  prow/jobs/generated/knative-sandbox/eventing-github-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-gitlab-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-rabbitmq-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-redis-release-1.7.gen.yaml
  prow/jobs/generated/knative/client-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-github-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-gitlab-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.3.yaml
  prow/jobs_config/knative-sandbox/eventing-rabbitmq-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-redis-release-1.7.yaml
  prow/jobs_config/knative/client-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3494)
  prow/jobs/generated/knative-sandbox/eventing-autoscaler-keda-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-admin-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-event-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-quickstart-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kamelet-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-autoscaler-keda-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-admin-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-event-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-quickstart-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kamelet-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

[Auto] Update prow jobs for release branches
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3495)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-source-kafka-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.7.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-source-kafka-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Adjusted schedules for release-1.7 prow jobs for s390x
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.7.yaml
  prow/jobs_config/knative/client-release-1.7.yaml
  prow/jobs_config/knative/eventing-release-1.7.yaml
  prow/jobs_config/knative/serving-release-1.7.yaml
Due: none

Generated job configs
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.7.gen.yaml
  prow/jobs/generated/knative/client-release-1.7.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.7.gen.yaml
  prow/jobs/generated/knative/serving-release-1.7.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[s390x] add release 1.7 jobs (#3496)
  prow/jobs/generated/knative-sandbox/eventing-kafka-broker-release-1.7.gen.yaml
  prow/jobs/generated/knative-sandbox/eventing-kafka-release-1.7.gen.yaml
  prow/jobs/generated/knative/client-release-1.7.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.7.gen.yaml
  prow/jobs/generated/knative/serving-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-broker-release-1.7.yaml
  prow/jobs_config/knative-sandbox/eventing-kafka-release-1.7.yaml
  prow/jobs_config/knative/client-release-1.7.yaml
  prow/jobs_config/knative/eventing-release-1.7.yaml
  prow/jobs_config/knative/serving-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

upgrade to latest dependencies (#3490)
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Due: pull-knative-test-infra-prow-tests-image-build, post-knative-test-infra-image-push, post-knative-test-infra-prow-tests-image-push

fix run_job.sh scripts
  config/Makefile
  guides/manual_release.md
Due: none

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/operator-release-1.7.gen.yaml
  prow/jobs_config/knative/operator-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3499)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative/operator-release-1.7.gen.yaml
  prow/jobs_config/knative/operator-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

deploy grafana
  infra/gcp/.terraform.lock.hcl
  infra/gcp/boskos/main.tf
  infra/gcp/dns/dns.tf
  infra/gcp/provider.tf
  infra/gcp/tests/addresses.tf
  infra/gcp/tests/buckets.tf
  infra/gcp/tests/iam.tf
  infra/gcp/tests/main.tf
  infra/gcp/tests/prow.tf
  infra/gcp/tests/tls.tf
  prow/cluster/control-plane/gateway.yaml
  prow/cluster/gitops/apps/monitoring.yaml
  prow/cluster/monitoring/chart/Chart.lock
  prow/cluster/monitoring/chart/Chart.yaml
  prow/cluster/monitoring/chart/templates/backend.yaml
  prow/cluster/monitoring/chart/templates/monitoring.yaml
  prow/cluster/monitoring/chart/templates/namespace.yaml
  prow/cluster/monitoring/chart/templates/proxy.yaml
  prow/cluster/monitoring/chart/templates/route.yaml
  prow/cluster/monitoring/chart/templates/secret.yaml
  prow/cluster/monitoring/chart/values.yaml
  prow/cluster/monitoring/mixins/.gitignore
  prow/cluster/monitoring/mixins/Makefile
  prow/cluster/monitoring/mixins/dashboards.yaml
  prow/cluster/monitoring/mixins/grafana_dashboards/boskos.jsonnet
  prow/cluster/monitoring/mixins/lib/config.libsonnet
  prow/cluster/monitoring/prometheus-operator-crds/README.md
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagerconfigs.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagers.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_podmonitors.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_probes.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheuses.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheusrules.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_servicemonitors.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_thanosrulers.yaml
  prow/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/secrets/replace-secrets-from-gcp.sh
Due: post-test-infra-deploy-prow

Adapted operator prow job schedule for s390x
  prow/jobs_config/knative/operator-release-1.7.yaml
Due: none

Generated job config
  prow/jobs/generated/knative/operator-release-1.7.gen.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[s390x] add operator release 1.7 jobs (#3501)
  prow/jobs/generated/knative/operator-release-1.7.gen.yaml
  prow/jobs_config/knative/operator-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.26.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.26.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

[Auto] Update prow jobs for release branches (#3502)
  config/prow/k8s-testgrid/k8s-testgrid.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-func-release-0.26.gen.yaml
  prow/jobs/generated/knative-sandbox/kn-plugin-operator-release-1.7.gen.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-func-release-0.26.yaml
  prow/jobs_config/knative-sandbox/kn-plugin-operator-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

delete commented out file
  infra/gcp/boskos/main.tf
Due: none

shard boskos
  prow/cluster/boskos/README.md
  prow/cluster/boskos/boskos_resources.yaml
  prow/cluster/build/boskos-deployment.yaml
Due: post-test-infra-deploy-prow

Adjusted prow jobs for release 1.7 on ppc64le
  prow/jobs/generated/knative/client-release-1.7.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.7.gen.yaml
  prow/jobs/generated/knative/operator-release-1.7.gen.yaml
  prow/jobs_config/knative/client-release-1.7.yaml
  prow/jobs_config/knative/eventing-release-1.7.yaml
  prow/jobs_config/knative/operator-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Deploy Grafana (#3500)
  infra/gcp/.terraform.lock.hcl
  infra/gcp/boskos/main.tf
  infra/gcp/dns/dns.tf
  infra/gcp/provider.tf
  infra/gcp/tests/addresses.tf
  infra/gcp/tests/buckets.tf
  infra/gcp/tests/iam.tf
  infra/gcp/tests/main.tf
  infra/gcp/tests/prow.tf
  infra/gcp/tests/tls.tf
  prow/cluster/control-plane/gateway.yaml
  prow/cluster/gitops/apps/monitoring.yaml
  prow/cluster/monitoring/chart/Chart.lock
  prow/cluster/monitoring/chart/Chart.yaml
  prow/cluster/monitoring/chart/templates/backend.yaml
  prow/cluster/monitoring/chart/templates/monitoring.yaml
  prow/cluster/monitoring/chart/templates/namespace.yaml
  prow/cluster/monitoring/chart/templates/proxy.yaml
  prow/cluster/monitoring/chart/templates/route.yaml
  prow/cluster/monitoring/chart/templates/secret.yaml
  prow/cluster/monitoring/chart/values.yaml
  prow/cluster/monitoring/mixins/.gitignore
  prow/cluster/monitoring/mixins/Makefile
  prow/cluster/monitoring/mixins/dashboards.yaml
  prow/cluster/monitoring/mixins/grafana_dashboards/boskos.jsonnet
  prow/cluster/monitoring/mixins/lib/config.libsonnet
  prow/cluster/monitoring/prometheus-operator-crds/README.md
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagerconfigs.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagers.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_podmonitors.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_probes.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheuses.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheusrules.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_servicemonitors.yaml
  prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_thanosrulers.yaml
  prow/cluster/monitoring/secrets/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/secrets/replace-secrets-from-gcp.sh
Due: post-test-infra-deploy-prow

shard boskos (#3503)
  prow/cluster/boskos/README.md
  prow/cluster/boskos/boskos_resources.yaml
  prow/cluster/build/boskos-deployment.yaml
Due: post-test-infra-deploy-prow

Adjusted prow jobs for release 1.7 on ppc64le (#3504)
  prow/jobs/generated/knative/client-release-1.7.gen.yaml
  prow/jobs/generated/knative/eventing-release-1.7.gen.yaml
  prow/jobs/generated/knative/operator-release-1.7.gen.yaml
  prow/jobs_config/knative/client-release-1.7.yaml
  prow/jobs_config/knative/eventing-release-1.7.yaml
  prow/jobs_config/knative/operator-release-1.7.yaml
Due: pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

Bumping Prow and Boskos (#3505)
  prow/cluster/control-plane/400-crier.yaml
  prow/cluster/control-plane/400-deck.yaml
  prow/cluster/control-plane/400-ghproxy.yaml
  prow/cluster/control-plane/400-hook.yaml
  prow/cluster/control-plane/400-horologium.yaml
  prow/cluster/control-plane/400-prow-controller-manager.yaml
  prow/cluster/control-plane/400-sinker.yaml
  prow/cluster/control-plane/400-tide.yaml
  prow/cluster/control-plane/500-cherrypicker.yaml
  prow/cluster/control-plane/500-needs-rebase.yaml
  prow/cluster/control-plane/500-status-reconciler.yaml
  prow/config.yaml
  prow/jobs/custom/autobump-flaky-test-reporter.yaml
  prow/jobs/custom/autobump-prow-tests.yaml
  prow/jobs/custom/autobump-prow.yaml
  prow/jobs/custom/autodeploy-prow.yaml
  prow/jobs/custom/branchprotector.yaml
  prow/jobs/custom/label-sync.yaml
  prow/jobs/custom/peribolos.yaml
  prow/jobs/custom/test-infra.yaml
  prow/jobs/run_job.sh
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

add go workspaces, switch to workload identity
  go.work
  go.work.sum
  infra/gcp/tests/buckets.tf
  infra/gcp/tests/prow.tf
  prow/cluster/build/serviceaccounts.yaml
  prow/jobs/custom/test-infra.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

fix typos
  infra/gcp/tests/buckets.tf
  infra/gcp/tests/prow.tf
  prow/cluster/build/serviceaccounts.yaml
  prow/jobs/custom/test-infra.yaml
Due: post-test-infra-deploy-prow, pull-test-infra-validate-prow-yaml, pull-test-infra-validate-own-testgrid-yaml, post-test-infra-update-testgrid-proto

bump boskos deps
  go.work.sum
  tools/release-jobs-syncer/go.mod
  tools/release-jobs-syncer/go.sum
Due: none
