Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

pull-knativeteam-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

post-knativeteam-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - groups
      - run
      - --
      - --confirm

pull-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=false
      - --orgs=knative-sandbox,knative
      - --token=/etc/github/oauth
      - --debug
  ...

post-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=true
      - --orgs=knative-sandbox,knative
      - --github-app-id=$(GITHUB_APP_ID)
  ...

pull-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

pull-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

post-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

post-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

Governance cleanup for graduation due diligence (#1694)
  GOVERNANCE.md
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

fix: eventing writers have write permissions for ekb
  peribolos/knative-extensions.yaml
Due: none

fix: eventing writers have write permissions for ekb (#1695)
  peribolos/knative-extensions.yaml
Due: none

🛂 Add Sukhinderpal as a member to the knative github org (#1693)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update release schedule
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule (#1698)
  mechanics/RELEASE-SCHEDULE.md
Due: none

drop inactive users > 1 year
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

delete old table
  MAINTAINERS.md
Due: none

fix array
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop inactive users > 1 year (#1700)
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop arsenator from steering team until he accepts the org invite
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop coryc - I think we're hitting spam limits since he rejected the invite
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop coryc - I think we're hitting spam limits since he rejected the invite (#1702)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Include a page that gives an overview of the user facing projects of Knative
  PROJECTS.md
  README.md
Due: none

Include some supporting projects like the website and test/infra
  PROJECTS.md
Due: none

Drop mentions to inactive community meetup
  README.md
Due: none

Drop mentions to inactive community meetup (#1704)
  README.md
Due: none

Add 'docs' label for clotributor searches
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

Archive knative/client-pkg repository
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Archive knative/client-pkg repository (#1708)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop serving progressive team and archive repo
  peribolos/knative-extensions.yaml
Due: none

run ./hack/update-codegen.sh
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Include a page that gives an overview of the user facing projects of Knative (#1703)
  PROJECTS.md
  README.md
Due: none

drop serving progressive team and archive repo (#1709)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

bump deps and tweak code a bit
  mechanics/tools/gen-aliases/go.mod
  mechanics/tools/gen-aliases/go.sum
  mechanics/tools/gen-aliases/main.go
Due: none

bump deps fix linter warnings
  groups/go.mod
  groups/go.sum
  groups/groups_test.go
  groups/reconcile.go
  groups/service.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

switch to maintained yaml lib
  groups/go.mod
  groups/reconcile.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Bump tool dependencies and minor linter fixes (#1711)
  groups/go.mod
  groups/go.sum
  groups/groups_test.go
  groups/reconcile.go
  groups/service.go
  mechanics/tools/gen-aliases/go.mod
  mechanics/tools/gen-aliases/go.sum
  mechanics/tools/gen-aliases/main.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add twoGiants as a knative & knative-extension member
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add twoGiants as a knative & knative-extension member (#1712)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add user as a member
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add user as a member (#1713)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Bruce Hamilton, CNCF tech docs writer
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Bruce Hamilton, CNCF tech docs writer (#1714)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add qswinson as contributor for knative and knative-extensions
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add qswinson as contributor for knative and knative-extensions (#1716)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add simkam as contributor for knative and knative-extensions
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add simkam as contributor for knative and knative-extensions (#1717)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add linkvt to knative and knative-extensions members
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add linkvt to knative and knative-extensions members (#1718)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
