Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

feat: add educational-game repo (#1599)
  peribolos/knative-extensions.yaml
Due: none

Edit Github admin teams and drop TOC review reminder (#1613)
  .github/workflows/toc-review-reminder.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

replacing TOC references with KSC ones
  .github/ISSUE_TEMPLATE/new-repo.md
  .github/ISSUE_TEMPLATE/question.md
  CONSENSUS.md
  REPOSITORY-GUIDELINES.md
  ROLES.md
  SLACK-GUIDELINES.md
  elections/README.md
  groups/committee-oversight/OWNERS
  groups/committee-oversight/groups.yaml
  groups/committee-steering/groups.yaml
  groups/restrictions.yaml
  mechanics/CREATING-AN-EXTENSIONS-REPO.md
  mechanics/GDRIVE.md
  mechanics/GOLANG-POLICY.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  mechanics/WORKING-GROUP-PROCESSES.md
  working-groups/WORKING-GROUPS.md
  working-groups/security/responding.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups

replacing TOC references with KSC ones (#1623)
  .github/ISSUE_TEMPLATE/new-repo.md
  .github/ISSUE_TEMPLATE/question.md
  CONSENSUS.md
  REPOSITORY-GUIDELINES.md
  ROLES.md
  SLACK-GUIDELINES.md
  elections/README.md
  groups/committee-oversight/OWNERS
  groups/committee-oversight/groups.yaml
  groups/committee-steering/groups.yaml
  groups/restrictions.yaml
  mechanics/CREATING-AN-EXTENSIONS-REPO.md
  mechanics/GDRIVE.md
  mechanics/GOLANG-POLICY.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  mechanics/WORKING-GROUP-PROCESSES.md
  working-groups/WORKING-GROUPS.md
  working-groups/security/responding.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Use python 3.11 (#1621)
  .github/workflows/peribolos-schema-validate.yaml
Due: none

Update knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Fix peribolos check
  .github/workflows/peribolos-schema-validate.yaml
Due: none

Remove me from rabbitmq-eventing maintainers (#1624)
  .github/workflows/peribolos-schema-validate.yaml
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update release schedule
  mechanics/RELEASE-SCHEDULE.md
Due: none

fix EOL for 1.19
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule (#1625)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Revoke Release Leads role after 1.16 release
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Revoke Release Leads role after 1.16 release (#1626)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Adding SC 2024 election files
  elections/2024-SC/OWNERS
  elections/2024-SC/README.md
  elections/2024-SC/election.yaml
  elections/2024-SC/nomination-template.md
  elections/2024-SC/voters.yaml
Due: none

Fix voter eligibility link
  elections/2024-SC/README.md
Due: none

Update elections/2024-SC/README.md
  elections/2024-SC/README.md
Due: none

Fix devstats link
  STEERING-COMMITTEE.md
Due: none

Fix devstats link (#1631)
  STEERING-COMMITTEE.md
Due: none

Fix SC voter eligibility
  STEERING-COMMITTEE.md
Due: none

Reflect latest schedule changes
  elections/2024-SC/README.md
Due: none

Fix SC voter eligibility (#1632)
  STEERING-COMMITTEE.md
Due: none

2024 SC Election Files (#1629)
  elections/2024-SC/OWNERS
  elections/2024-SC/README.md
  elections/2024-SC/election.yaml
  elections/2024-SC/nomination-template.md
  elections/2024-SC/voters.yaml
Due: none

Add Alauda as an adopter
  ADOPTERS.MD
Due: none

Add Alauda as an adopter (#1633)
  ADOPTERS.MD
Due: none

drop trigger mesh and update vmware product name
  ADOPTERS.MD
Due: none

Add Cisco as an adopter
  ADOPTERS.MD
Due: none

drop trigger mesh and update vmware product name (#1634)
  ADOPTERS.MD
Due: none

Add Cisco as an adopter (#1635)
  ADOPTERS.MD
Due: none

Add Daniel Krook(CNCF) and Mario Fahlandt(Kubermatic) to GCP for Spending Review & Support
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add Daniel Krook(CNCF) and Mario Fahlandt(Kubermatic) to GCP for Spending Review & Support (#1636)
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

add Hadrian as an ADOPTER
  ADOPTERS.MD
Due: none

add Hadrian as an ADOPTER (#1637)
  ADOPTERS.MD
Due: none

Drop ADOPTERS who's links don't work
  ADOPTERS.MD
Due: none

update link
  ADOPTERS.MD
Due: none

Drop/update ADOPTERS who's links don't work (#1638)
  ADOPTERS.MD
Due: none

drop highcohesion as an adopter
  ADOPTERS.MD
Due: none

drop highcohesion as an adopter (#1639)
  ADOPTERS.MD
Due: none

Adding nomination
  elections/2024-SC/candidate-matzew.md
Due: none

Adding nomination (#1640)
  elections/2024-SC/candidate-matzew.md
Due: none
