Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

pull-knativeteam-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

post-knativeteam-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - groups
      - run
      - --
      - --confirm

pull-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=false
      - --orgs=knative-sandbox,knative
      - --token=/etc/github/oauth
      - --debug
  ...

post-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=true
      - --orgs=knative-sandbox,knative
      - --github-app-id=$(GITHUB_APP_ID)
  ...

pull-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

pull-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

post-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

post-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

paul stepping down as quickstart approver
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

paul stepping down as quickstart approver (#1721)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

update release leads for 1.20
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

update release leads for 1.20 (#1722)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Posit as an ADOPTER.md
  ADOPTERS.MD
Due: none

Add Posit as an ADOPTER.md (#1723)
  ADOPTERS.MD
Due: none

Add prajjwalyd to knative and knative-extensions
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update knative.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update knative-extensions.yaml
  peribolos/knative-extensions.yaml
Due: none

Add prajjwalyd to knative and knative-extensions (#1724)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add ankitajana21 to knative and knative-extensions. (#1725)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove mention to prev SC EU
  STEERING-COMMITTEE.md
Due: none

Remove mention to prev SC EU (#1726)
  STEERING-COMMITTEE.md
Due: none

remove nainz from func projects
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

remove nainz from func projects (#1727)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add RayyanSeliya as a member to knative and knative-extensions
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add RayyanSeliya as a member to knative and knative-extensions (#1728)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

feat: add cmurray as election officer
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

feat: add cmurray as election officer (#1729)
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

feat: add 2025 SC election files
  elections/2025-SC/OWNERS
  elections/2025-SC/README.md
  elections/2025-SC/election.yaml
  elections/2025-SC/election_desc.md
  elections/2025-SC/nomination-template.md
  elections/2025-SC/voters.yaml
Due: none

feat: add 2025 SC election files (#1730)
  elections/2025-SC/OWNERS
  elections/2025-SC/README.md
  elections/2025-SC/election.yaml
  elections/2025-SC/election_desc.md
  elections/2025-SC/nomination-template.md
  elections/2025-SC/voters.yaml
Due: none

fix: voters have correct case sensitivity
  elections/2025-SC/voters.yaml
Due: none

fix: voters have correct case sensitivity (#1731)
  elections/2025-SC/voters.yaml
Due: none

fix: election officers have correct capitalization
  elections/2025-SC/election.yaml
Due: none

fix: election officers have correct capitalization (#1732)
  elections/2025-SC/election.yaml
Due: none

fix: correct announcement date for election
  elections/2025-SC/README.md
Due: none

update for 1.20
  mechanics/RELEASE-SCHEDULE.md
Due: none

fix: correct announcement date for election (#1733)
  elections/2025-SC/README.md
Due: none

update for 1.20 (#1734)
  mechanics/RELEASE-SCHEDULE.md
Due: none

remove release leads after 1.20 release
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

remove release leads after 1.20 release (#1735)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Runhouse as an adopter
  ADOPTERS.MD
Due: none

Add PolyAPI to ADOPTERS.md
  ADOPTERS.MD
Due: none

Nominate myself for steering
  elections/2025-SC/candidate-evankanderson.md
Due: none

Add PolyAPI to ADOPTERS.md (#1739)
  ADOPTERS.MD
Due: none

push sc nomination back
  elections/2025-SC/README.md
  elections/2025-SC/election.yaml
  elections/2025-SC/election_desc.md
Due: none

feat: make prajjwal UX approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

push sc nomination back (#1741)
  elections/2025-SC/README.md
  elections/2025-SC/election.yaml
  elections/2025-SC/election_desc.md
Due: none

feat: make prajjwal UX approver (#1742)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Runhouse as an adopter (#1738)
  ADOPTERS.MD
Due: none

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
