Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

paul stepping down as serving approver (#1551)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Step down as client approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

Step down as client approver (#1552)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

Update Code of Conduct reporting doc (#1541)
  CODE-OF-CONDUCT.md
Due: none

Promote cardil to admin temporarily to transfer issues
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Promote cardil to admin temporarily to transfer issues (#1556)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Revert "Promote cardil to admin temporarily to transfer issues (#1556)"
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Revert "Promote cardil to admin temporarily to transfer issues (#1556)" (#1557)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add ReToCode as serving approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add ReToCode as serving approver (#1559)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Broadcom to the security embargo list
  working-groups/security/disclosure.md
Due: none

Archive knative-extensions/net-certmanager repository
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

:robot: Adding entries for func-python
  peribolos/knative-extensions.yaml
Due: none

:robot: Adding entries for func-python (#1565)
  peribolos/knative-extensions.yaml
Due: none

Archive knative-extensions/net-certmanager repository (#1564)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Adding matzew for Knative Function
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Adding matzew for Knative Function (#1566)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Propose to create the new repo autoscaler-keda
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Propose to create the new repo autoscaler-keda (#1562)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update release schedule after 1.14
  mechanics/RELEASE-SCHEDULE.md
Due: none

Fix days to be in 3rd week
  mechanics/RELEASE-SCHEDULE.md
Due: none

Fix day in January to be Tuesday
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update mechanics/RELEASE-SCHEDULE.md
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule after 1.14 (#1567)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update TOC review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

Update TOC review schedule (#1568)
  mechanics/TOC-REVIEW.schedule
Due: none

revoke release leads permissions
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

run ./hack/update-codegen.sh
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Revoke release leads permissions since 1.14 is out (#1569)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update Knative Social Media Guidelines.md
  Knative Social Media Guidelines.md
Due: none

Rename Knative Social Media Guidelines.md to SOCIAL-MEDIA.md
  SOCIAL-MEDIA.md
Due: none

New Productivity WG timeslot
  working-groups/WORKING-GROUPS.md
Due: none

New Productivity WG timeslot (#1571)
  working-groups/WORKING-GROUPS.md
Due: none

Krsna stepdown
  TECH-OVERSIGHT-COMMITTEE.md
  groups/committee-oversight/groups.yaml
  groups/groups.yaml
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Add election reminders to the election process (#1544)
  elections/README.md
Due: none

Add Broadcom to the security embargo list (#1560)
  working-groups/security/disclosure.md
Due: none

archive net-http01
  peribolos/knative-extensions.yaml
Due: none

archive net-http01 (#1573)
  peribolos/knative-extensions.yaml
Due: none

Krsna stepdown (#1572)
  TECH-OVERSIGHT-COMMITTEE.md
  groups/committee-oversight/groups.yaml
  groups/groups.yaml
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Create Knative Social Media Guidelines : https://github.com/knative/community/issues/1444 (#1445)
  SOCIAL-MEDIA.md
Due: none
