Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

pull-knativeteam-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

post-knativeteam-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - groups
      - run
      - --
      - --confirm

pull-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=false
      - --orgs=knative-sandbox,knative
      - --token=/etc/github/oauth
      - --debug
  ...

post-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=true
      - --orgs=knative-sandbox,knative
      - --github-app-id=$(GITHUB_APP_ID)
  ...

pull-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

pull-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

post-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

post-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

Nominate myself for steering (#1740)
  elections/2025-SC/candidate-evankanderson.md
Due: none

Add AnuragOjha as a member to knative and Knative-extensions
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add kahirokunn as a net-gateway-api-reviewers in OWNERS file
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add kahirokunn as a net-gateway-api-reviewers in OWNERS file (#1745)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add AnuragOjha as a member to knative and Knative-extensions (#1743)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

aliok - SC 2025 candidate
  elections/2025-SC/candidate-aliok.md
Due: none

aliok - SC 2025 candidate (#1746)
  elections/2025-SC/candidate-aliok.md
Due: none

Add Vincent Link linkvt as Kourier approver
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add Vincent Link linkvt as Kourier approver (#1748)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

fix: close election as there are only two candidates
  elections/2025-SC/election.yaml
Due: none

fix: close election as there are only two candidates (#1750)
  elections/2025-SC/election.yaml
Due: none

Add Cerebrium to the ADOPTERS.md file
  ADOPTERS.MD
Due: none

Add Cerebrium to the ADOPTERS.md file (#1751)
  ADOPTERS.MD
Due: none

Adding results files for the SC election
  STEERING-COMMITTEE.md
  elections/2025-SC/results.md
Due: none

Adding results files for the SC election (#1752)
  STEERING-COMMITTEE.md
  elections/2025-SC/results.md
Due: none

fixed-broken-link
  CONTRIBUTING.md
Due: none

remove the whole section of PR dashboard
  CONTRIBUTING.md
Due: none

fixed-broken-link (#1756)
  CONTRIBUTING.md
Due: none

Update release leads for 1.21
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Fix upcoming release dates and improve documentation
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release leads for 1.21 (#1757)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Fix upcoming release dates and improve documentation (#1758)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule after 1.21 release
  mechanics/RELEASE-SCHEDULE.md
Due: none

Cleanup release leads after 1.21 release
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add jijo-OO7 to Knative and Knative Extensions org members
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update release schedule after 1.21 release (#1759)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Add jijo-OO7 to Knative and Knative Extensions org members (#1761)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add 2026 end user seat election info
  elections/2026-SC-EU/README.md
  elections/2026-SC-EU/nomination-template.md
Due: none

Add 2026 end user seat election info (#1762)
  elections/2026-SC-EU/README.md
  elections/2026-SC-EU/nomination-template.md
Due: none

Cleanup release leads after 1.21 release (#1760)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

ankita is a educational-game approver
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

ankita is a educational-game approver (#1764)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Adding creydr to WG lead lists
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Adding creydr to WG lead lists (#1766)
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Drop inactive users (>1 year) from groups lists
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Drop inactive users (>1 year) from groups lists (#1767)
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Remove inactive users (> 1 year) from group lists
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Drop inactive users > 1 year
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove inactive users (> 1 year) from group lists (#1768)
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Drop inactive users > 1 year (#1765)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
