Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

pull-knativeteam-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

post-knativeteam-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - groups
      - run
      - --
      - --confirm

pull-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=false
      - --orgs=knative-sandbox,knative
      - --token=/etc/github/oauth
      - --debug
  ...

post-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=true
      - --orgs=knative-sandbox,knative
      - --github-app-id=$(GITHUB_APP_ID)
  ...

pull-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

pull-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

post-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

post-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

update TOC review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

update TOC review schedule (#1325)
  mechanics/TOC-REVIEW.schedule
Due: none

Ashleigh stepping down as Docs WG lead
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Ashleigh stepping down as Docs WG lead (#1326)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Add myself to memebers (#1322)
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

update toc schedule to every other week
  mechanics/TOC-REVIEW.schedule
Due: none

update toc schedule to every other week (#1327)
  mechanics/TOC-REVIEW.schedule
Due: none

adding vishal-chdhry-to-members
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

adding vishal-chdhry-to-members (#1328)
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Initial files required for 2023 TOC election
  elections/2023-TOC/OWNERS
  elections/2023-TOC/README.md
  elections/2023-TOC/election.yaml
  elections/2023-TOC/election_desc.md
  elections/2023-TOC/nomination-template.md
Due: none

Removed references to CIVS, since we're no longer using it for any elections
  elections/README.md
Due: none

removing another mention of CIVS related to reissuing ballots
  mechanics/SC.md
Due: none

added everyone with 50+ commits in devstats as of 2023-04-23
  elections/2023-TOC/voters.yaml
Due: none

also adding Ali Ok to the elections email alias
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Apply aliok's suggestions from code review
  elections/2023-TOC/README.md
Due: none

Propose David Hadas as a security WG lead
  groups/wg-security/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Propose David Hadas as a security WG lead (#1333)
  groups/wg-security/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

add Stavros as Serving approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

fix
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
Due: none

Merge eventing-kafka and eventing working groups
  working-groups/WORKING-GROUPS.md
Due: none

Update Release Schedule
  mechanics/RELEASE-SCHEDULE.md
Due: none

Add Stavros as Serving approver (#1334)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Apply Lance's suggestions from code review
  elections/2023-TOC/README.md
  elections/2023-TOC/election_desc.md
Due: none

spelled out entire address to mailing lists for clarity
  elections/2023-TOC/README.md
Due: none

added SC / TC members who are eligble to vote for being on those committees
  elections/2023-TOC/voters.yaml
Due: none

updated several usernames to get around the case sensitivity bug in Elekto
  elections/2023-TOC/voters.yaml
Due: none

Apply suggestions from jberkus
  elections/2023-TOC/README.md
Due: none

changed the announcement day to be May 3, instead of May 2 to give Josh more time to set up Elekto
  elections/2023-TOC/README.md
  elections/2023-TOC/election_desc.md
Due: none

Apply suggestions from Ali
  elections/2023-TOC/README.md
Due: none

Update Release Schedule (#1336)
  mechanics/RELEASE-SCHEDULE.md
Due: none

DRAFT: Initial files for 2023 TOC Elections (#1332)
  elections/2023-TOC/OWNERS
  elections/2023-TOC/README.md
  elections/2023-TOC/election.yaml
  elections/2023-TOC/election_desc.md
  elections/2023-TOC/nomination-template.md
  elections/2023-TOC/voters.yaml
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update README.md
  elections/2023-TOC/README.md
Due: none

Update README.md (#1337)
  elections/2023-TOC/README.md
Due: none

Add @pymhq as Member for Knative
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add @pymhq as Member for Knative Sandbox
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

Fix two broken links in ROLES.md
  ROLES.md
Due: none

Merge eventing-kafka and eventing working groups (#1335)
  working-groups/WORKING-GROUPS.md
Due: none

Removed references to CIVS (#1331)
  elections/README.md
  mechanics/SC.md
Due: none

Add @pymhq as Member for Knative (#1339)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add @pymhq as Member for Knative Sandbox (#1340)
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
