Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Add SVA/nrrso nomination for the EU seat
  elections/2023-SC-EU/candidate-nrrso.md
Due: none

TM committee dissolving
  BRANDING.MD
  CALENDAR.MD
  GOVERNANCE.md
  README.md
  REPOSITORY-GUIDELINES.md
  STEERING-COMMITTEE.md
  TECH-OVERSIGHT-COMMITTEE.md
  TRADEMARK-COMMITTEE.md
  groups/committee-trademark/OWNERS
  groups/committee-trademark/groups.yaml
  groups/restrictions.yaml
  mechanics/GDRIVE.md
  mechanics/SC.md
  mechanics/TOC.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

./hack/update-codegen.sh
  peribolos/knative-OWNERS_ALIASES
Due: none

Updated 2023-SC-EU folder and contents to 2024-SC-EU (#1501)
  elections/2024-SC-EU/README.md
  elections/2024-SC-EU/nomination-template.md
Due: none

Delete working-groups/security/vmt.rotation (#1497)
  working-groups/security/vmt.rotation
Due: none

add definitions of alpha/beta/GA to maturity levels
  mechanics/MATURITY-LEVELS.md
Due: none

Add SVA/nrrso nomination for the EU seat (#1504)
  elections/2023-SC-EU/candidate-nrrso.md
Due: none

TM committee dissolving (#1506)
  BRANDING.MD
  CALENDAR.MD
  GOVERNANCE.md
  README.md
  REPOSITORY-GUIDELINES.md
  STEERING-COMMITTEE.md
  TECH-OVERSIGHT-COMMITTEE.md
  TRADEMARK-COMMITTEE.md
  groups/committee-trademark/OWNERS
  groups/committee-trademark/groups.yaml
  groups/restrictions.yaml
  mechanics/GDRIVE.md
  mechanics/SC.md
  mechanics/TOC.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

docs: add john vanzuita to org
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add izabelacg to the team that can triage issues and as a serving reviewer
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add izabelacg to the team that can triage issues and as a serving reviewer (#1510)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

docs: add john vanzuita to org (#1509)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop inactive serving reviewers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop inactive serving reviewers (#1511)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Move SC EU candidate file to correct directory
  elections/2024-SC-EU/candidate-nrrso.md
Due: none

Add SVA as an adopter
  ADOPTERS.MD
Due: none

Fix table borders
  ADOPTERS.MD
Due: none

Move SC EU candidate file to correct directory (#1512)
  elections/2024-SC-EU/candidate-nrrso.md
Due: none

Add SVA to adopters list (#1513)
  ADOPTERS.MD
Due: none

Fill in Backstage plugin teams
  peribolos/knative-extensions.yaml
Due: none

Update codegen
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Fill in Backstage plugin teams (#1514)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

update-serving-repos
  working-groups/WORKING-GROUPS.md
Due: none

update-serving-repos (#1516)
  working-groups/WORKING-GROUPS.md
Due: none

Adding myself as member of func-writers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Adding myself as member of func-writers (#1517)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

membership: add sadath-12
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

membership: add sadath-12 (#1519)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add nrrso to SC
  STEERING-COMMITTEE.md
  groups/committee-steering/groups.yaml
  groups/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

use slack ids rather than handles for toc review notifications
  mechanics/TOC-REVIEW.schedule
Due: none

use slack ids rather than handles for toc review notifications (#1522)
  mechanics/TOC-REVIEW.schedule
Due: none

Update email address
  groups/committee-steering/groups.yaml
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Nominate Chris Suszynski to Productivity Lead. Remove Krsna Mahapatra
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

Nominate Chris Suszynski to Productivity Lead. Remove Krsna Mahapatra (#1523)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

New private Google group for UX WG leads
  groups/restrictions.yaml
  groups/wg-ux/OWNERS
  groups/wg-ux/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

adding yijie-04 as community member
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

adding yijie-04 as community member (#1526)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

New private Google group for UX WG leads (#1524)
  groups/restrictions.yaml
  groups/wg-ux/OWNERS
  groups/wg-ux/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

TOC Meeting was skipped today so bumping WG updates
  mechanics/TOC-REVIEW.schedule
Due: none

TOC Meeting was skipped today so bumping WG updates (#1528)
  mechanics/TOC-REVIEW.schedule
Due: none
