Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

pull-knativeteam-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

post-knativeteam-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - groups
      - run
      - --
      - --confirm

pull-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=false
      - --orgs=knative-sandbox,knative
      - --token=/etc/github/oauth
      - --debug
  ...

post-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=true
      - --orgs=knative-sandbox,knative
      - --github-app-id=$(GITHUB_APP_ID)
  ...

pull-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

pull-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

post-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

post-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

Cleanup maintainers list
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Cleanup maintainers list (#1769)
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Updated the corporate for houshengbo
  MAINTAINERS.md
  working-groups/WORKING-GROUPS.md
Due: none

Updated the corporate for houshengbo (#1771)
  MAINTAINERS.md
  working-groups/WORKING-GROUPS.md
Due: none

add voize as an end-user
  ADOPTERS.MD
Due: none

add voize as an end-user (#1773)
  ADOPTERS.MD
Due: none

Add WP Engine as an adopter
  ADOPTERS.MD
Due: none

fix table
  ADOPTERS.MD
Due: none

Add WP Engine as an adopter (#1775)
  ADOPTERS.MD
Due: none

add gauron99 to func-runtimes
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

add gauron99 to func-runtimes (#1776)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

groups: fix 'occured' -> 'occurred' in service.go and reconcile.go comments
  groups/service.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

fix same typo in reconcile.go
  groups/reconcile.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

add Sinch as an adopter
  ADOPTERS.MD
Due: none

add Sinch as an adopter (#1780)
  ADOPTERS.MD
Due: none

Add kahirokunn to operations-reviewers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add kahirokunn to operations-reviewers (#1777)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add paul back as quickstart maintainer
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

add paul back as quickstart maintainer (#1782)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

update release
  mechanics/RELEASE-SCHEDULE.md
Due: none

update release (#1783)
  mechanics/RELEASE-SCHEDULE.md
Due: none

IK: switch to personal account
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

IK: switch to personal account (#1784)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

adds @ to the GitHub accounts of knative maintainers
  MAINTAINERS.md
Due: none

adds @ to the GitHub accounts of knative maintainers (#1785)
  MAINTAINERS.md
Due: none

add Ankitsinghsisodya as a member to knative organizations
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

change casing of Ankitsinghsisodya
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Ankitsinghsisodya as a member to knative and knative-extensions (#1786)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update release schedule after 1.23
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule after 1.23 (#1790)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Add kahirokunn to operations-writers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

chore: add pmeida as a knative & knative-extensions member
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

chore: add pmeida as a knative & knative-extensions member (#1794)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add gauron99 to Function Runtime Writers in knative-extensions
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add gauron99 to Function Runtime Writers in knative-extensions (#1796)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Adding entries for func-adapter-kafka
  peribolos/knative-extensions.yaml
Due: none

Adding entries for func-adapter-kafka (#1797)
  peribolos/knative-extensions.yaml
Due: none

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
