Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

give retocode access to perf tests (#1424)
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add PITS Global Data Recovery Services as an adopter
  ADOPTERS.MD
Due: none

Update knative-extensions.yaml
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update knative-extensions.yaml (#1423)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Drop the go policy consistency clause
  mechanics/GOLANG-POLICY.md
Due: none

Drop the go policy consistency clause (#1426)
  mechanics/GOLANG-POLICY.md
Due: none

Update Functions working group emails
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update Functions working group emails (#1427)
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Added cali0707 as eventing reviewer
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
Due: none

Add group and run update-codegen
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Started refactoring docs+ux into ux wg and emeritux docs wg
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

Updated UX WG leads
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

Added cali0707 as eventing reviewer (#1428)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove link to serving AUTHORS file
  README.md
Due: none

Remove link to serving AUTHORS file (#1429)
  README.md
Due: none

Add David Hadas to TOC charter
  TECH-OVERSIGHT-COMMITTEE.md
  groups/committee-oversight/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Align org admins of knative and knative-extensions
  peribolos/knative-extensions.yaml
Due: none

Clean up changes
  working-groups/WORKING-GROUPS.md
Due: none

Update community meeting times
  working-groups/WORKING-GROUPS.md
Due: none

Ran update-codegen
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Align org admins of knative and knative-extensions (#1431)
  peribolos/knative-extensions.yaml
Due: none

Add David Hadas to TOC charter (#1430)
  TECH-OVERSIGHT-COMMITTEE.md
  groups/committee-oversight/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

archive knative-extensions/kperf
  peribolos/knative-extensions.yaml
  working-groups/WORKING-GROUPS.md
Due: none

run codegen
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Add @sukumargaonkar into Knative community
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add @yuzisun into the Knative community
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

archive knative-extensions/kperf (#1433)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  working-groups/WORKING-GROUPS.md
Due: none

Add @yuzisun into the Knative community (#1436)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add @sukumargaonkar into Knative community (#1437)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update the OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Propose to create the new repo serving-progressive-rollout
  peribolos/knative-extensions.yaml
Due: none

Changed based on the comments
  peribolos/knative-extensions.yaml
Due: none

Update the codegen
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Update TOC review schedule due to skipped call
  mechanics/TOC-REVIEW.schedule
Due: none

Update TOC review schedule due to skipped call (#1438)
  mechanics/TOC-REVIEW.schedule
Due: none

Update working-groups/WORKING-GROUPS.md
  working-groups/WORKING-GROUPS.md
Due: none

Propose to create the new repo serving-progressive-rollout (#1435)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update new repo template
  .github/ISSUE_TEMPLATE/new-repo.md
Due: none

Update new repo template (#1439)
  .github/ISSUE_TEMPLATE/new-repo.md
Due: none
