Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Add backstage-plugin-(writers|reviewers) owner aliases
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Add backstage-plugins repository
  peribolos/knative-extensions.yaml
Due: none

Update knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Update knative-extensions.yaml
  peribolos/knative-extensions.yaml
Due: none

New repo: Add backstage-plugins repository (#1464)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add cali0707 as eventing approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add CLOTributor link to README
  README.md
Due: none

Add 2023 SC election results
  elections/2023-SC/results.md
Due: none

Update elections/2023-SC/results.md
  elections/2023-SC/results.md
Due: none

2023 SC election results (#1467)
  elections/2023-SC/results.md
Due: none

Add cali0707 as eventing approver (#1465)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Knative supports only two releases (#1462)
  mechanics/MATURITY-LEVELS.md
Due: none

Company change update
  TECH-OVERSIGHT-COMMITTEE.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

Add @alexagriffith into the Knative community
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add @alexagriffith into the Knative community (#1471)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Propose @alexagriffith initial approver of serving-progressive-rollout
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Updated the OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Re-order the names
  peribolos/knative-extensions.yaml
Due: none

Propose @alexagriffith initial approver of serving-progressive-rollout (#1472)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Company change update (#1470)
  TECH-OVERSIGHT-COMMITTEE.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

Update SC members and SC permissions
  STEERING-COMMITTEE.md
  groups/committee-steering/groups.yaml
  groups/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Update groups/groups.yaml
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update STEERING-COMMITTEE.md
  STEERING-COMMITTEE.md
Due: none

Update groups/committee-steering/groups.yaml
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update SC members and SC permissions (#1469)
  STEERING-COMMITTEE.md
  groups/committee-steering/groups.yaml
  groups/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Add CLOTributor link to README (#1466)
  README.md
Due: none

change gauron in func
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop emeritus leads from wg-leads group
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

toc updates
  groups/committee-oversight/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

spacing
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add new approvers to eventing-natss
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add new approvers to eventing-natss (#1479)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

accidentally dropped roland
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add Leo Li as release lead for 1.13
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Leo Li as release lead for 1.13 (#1480)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos
