Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Add Krsna as owner to groups
  groups/committee-oversight/groups.yaml
  groups/groups.yaml
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add Krsna as owner to groups (#1372)
  groups/committee-oversight/groups.yaml
  groups/groups.yaml
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

chore: update TOC member status (#1368)
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

allow anyone to post emails to the group
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add Krsna to TOC and infra WG leads as admins
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

allow anyone to post emails to the group (#1374)
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Add Krsna to TOC and infra WG leads as admins (#1371)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Add Y Meadows to ADOPTERS.MD
  ADOPTERS.MD
Due: none

Reference election officer diary in elections doc
  elections/README.md
Due: none

archive knative-sandbox/control-protocol and associated teams
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

archive knative-sandbox/control-protocol and associated teams (#1379)
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

Update repo guidelines with CLOMonitor instructions (#1346)
  .github/ISSUE_TEMPLATE/new-repo.md
  REPOSITORY-GUIDELINES.md
  mechanics/CREATING-A-SANDBOX-REPO.md
Due: none

Add Y Meadows to ADOPTERS.MD (#1376)
  ADOPTERS.MD
Due: none

Add issue form for ADOPTERS.yaml
  .github/ISSUE_TEMPLATE/ADOPTERS.yaml
Due: none

fixup: typo
  .github/ISSUE_TEMPLATE/ADOPTERS.yaml
Due: none

Add issue form for ADOPTERS.yaml (#1381)
  .github/ISSUE_TEMPLATE/ADOPTERS.yaml
Due: none

updated my email address with my personal one, since I'm leaving VMware as of July 3
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

updated my email address with my personal one, since I'm leaving VMware as of July 3 (#1382)
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Hand off VMware trademark seat to Sameer
  TRADEMARK-COMMITTEE.md
  groups/committee-trademark/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

update toc review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

update toc review schedule (#1386)
  mechanics/TOC-REVIEW.schedule
Due: none

leaders for 1.11
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

leaders for 1.11 (#1387)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

chore: add Sonavi Labs to ADOPTERS.MD
  ADOPTERS.MD
Due: none

Fix typo in creydr username
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Fix typo in creydr username (#1389)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

update ROLES.md to more accurately reflect reality (#1343)
  ROLES.md
Due: none

chore: add Sonavi Labs to ADOPTERS.MD (#1388)
  ADOPTERS.MD
Due: none

remove gab-satchi from owners
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

Paul stepping down as Serving WG Lead
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

remove gab-satchi from owners (#1393)
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

Paul stepping down as Serving WG Lead (#1394)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Ran update codegen
  peribolos/knative-OWNERS_ALIASES
Due: none

Hand off VMware trademark seat to Sameer (#1385)
  TRADEMARK-COMMITTEE.md
  groups/committee-trademark/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

adding skonto, nak3 and retocode as docs reviewers+writers
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Run `hack/update-codegen.sh`
  peribolos/knative-OWNERS_ALIASES
Due: none

adding dan-j as knative-sandbox member
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

adding skonto, nak3 and retocode as docs reviewers+writers (#1396)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

adding dan-j as knative-sandbox member (#1397)
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

chore: update the link in adopters.md to point to a new issue
  ADOPTERS.MD
Due: none
