Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

chore: update the link in adopters.md to point to a new issue (#1398)
  ADOPTERS.MD
Due: none

no quorum for 7/20 TOC call
  mechanics/TOC-REVIEW.schedule
Due: none

no quorum for 7/20 TOC call (#1402)
  mechanics/TOC-REVIEW.schedule
Due: none

update my affiliation
  groups/wg-productivity/groups.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups

clean entry from tests too
  groups/groups_test.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update my Company affiliation (#1404)
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups

func rev
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

func rev (#1405)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Property.xyz to ADOPTERS.md
  ADOPTERS.MD
Due: none

updates for version 1.11
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update Eventing description
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

update upcoming releases
  mechanics/RELEASE-SCHEDULE.md
Due: none

rename-sandbox
  .github/ISSUE_TEMPLATE/new-repo.md
  .github/workflows/peribolos-schema-validate.yaml
  .github/workflows/verify.yaml
  REPOSITORY-GUIDELINES.md
  ROLES.md
  hack/update-codegen.sh
  mechanics/CREATING-A-SANDBOX-REPO.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

rename the files as well
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

HoldTillRename: Rename knative-sandbox to knative-extensions (#1411)
  .github/ISSUE_TEMPLATE/new-repo.md
  .github/workflows/peribolos-schema-validate.yaml
  .github/workflows/verify.yaml
  REPOSITORY-GUIDELINES.md
  ROLES.md
  hack/update-codegen.sh
  mechanics/CREATING-A-SANDBOX-REPO.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

update name and description of new org
  peribolos/knative-extensions.yaml
Due: none

Update peribolos/knative-extensions.yaml
  peribolos/knative-extensions.yaml
Due: none

Update name and description on knative-extensions (#1412)
  peribolos/knative-extensions.yaml
Due: none

add k8s minimum version for 1.13
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update Release Schedule (1.11) (#1408)
  mechanics/RELEASE-SCHEDULE.md
Due: none

add memebers of the VMware team to the RabbitMQ approver's list
  peribolos/knative-extensions.yaml
Due: none

Update knative-sandbox-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Update eventing-rabbitmq maintainers (#1409)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update function working group lead
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
  working-groups/functions/CHARTER.md
Due: pull-knative-peribolos, post-knative-peribolos

Update Eventing description (#1410)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

fixup: I always forget to update-codegen.sh
  peribolos/knative-OWNERS_ALIASES
Due: none

Add creydr as eventing approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Zbynek stepping down from TOC
  TECH-OVERSIGHT-COMMITTEE.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

docs: add a simple inactivity measure and process for removal
  ROLES.md
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add creydr as eventing approver (#1414)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Zbynek stepping down from TOC (#1395)
  TECH-OVERSIGHT-COMMITTEE.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

renqme sandbox to extensions
  .github/ISSUE_TEMPLATE/new-repo.md
  REPOSITORY-GUIDELINES.md
  STEERING-COMMITTEE.md
  elections/2021-SC/candidate-lball.md
  elections/2021-TOC/candidate-evankanderson.md
  elections/2022-TOC/candidate-zroubalik.md
  elections/2023-TOC/candidate-davidhadas.md
  label_sync/labels.yaml
  mechanics/CREATING-A-SANDBOX-REPO.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  working-groups/WORKING-GROUPS.md
  working-groups/functions/CHARTER.md
  working-groups/kafka/CHARTER.md
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

Add Property.xyz to ADOPTERS.md (#1406)
  ADOPTERS.MD
Due: none

Update function working group lead (#1413)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
  working-groups/functions/CHARTER.md
Due: pull-knative-peribolos, post-knative-peribolos

remove cncf-infra label
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

remove cncf-infra label (#1421)
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

typo
  mechanics/MATURITY-LEVELS.md
Due: none

rename sandbox to extensions (#1419)
  .github/ISSUE_TEMPLATE/new-repo.md
  REPOSITORY-GUIDELINES.md
  STEERING-COMMITTEE.md
  elections/2021-SC/candidate-lball.md
  elections/2021-TOC/candidate-evankanderson.md
  elections/2022-TOC/candidate-zroubalik.md
  elections/2023-TOC/candidate-davidhadas.md
  label_sync/labels.yaml
  mechanics/CREATING-AN-EXTENSIONS-REPO.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  working-groups/WORKING-GROUPS.md
  working-groups/kafka/CHARTER.md
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

Reference election officer diary in elections doc (#1377)
  elections/README.md
Due: none

give retocode access to perf tests
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups
