Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

pull-knativeteam-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20220401-c2f0165b
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

post-knativeteam-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20220401-c2f0165b
      command:
      - runner.sh
      args:
      - make
      - -C
      - groups
      - run
      - --
      - --confirm

pull-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=false
      - --orgs=knative-sandbox,knative
      - --token=/etc/github/oauth
      - --debug
  ...

post-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=true
      - --orgs=knative-sandbox,knative
      - --github-app-id=$(GITHUB_APP_ID)
  ...

fix test
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

actuall fix test
  groups/groups_test.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

one more place
  groups/OWNERS
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Fixing output if ./hack/update-codegen.sh doesn't update
  mechanics/tools/gen-aliases/main.go
Due: none

Should not write to outfile if the content is the same
  mechanics/tools/gen-aliases/main.go
Due: none

Changing output message
  mechanics/tools/gen-aliases/main.go
Due: none

Fixing output if ./hack/update-codegen.sh doesn't update (#1274)
  mechanics/tools/gen-aliases/main.go
Due: none

re-add chzhyang to knative sandbox/kperf approvers
  peribolos/knative-sandbox-OWNERS_ALIASES
Due: none

re-add chzhyang to kperf approvers
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: none

re-add chzhyang to knative-snadbox/kperf approvers (#1275)
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: none

indent
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

remove inactive members from prod group (#1272)
  groups/OWNERS
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

add a serving team with the ability to triage issues
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: none

Changing deprecated functions in ./hack/update-codegen.sh
  mechanics/tools/gen-aliases/main.go
Due: none

Removing deprecrated I/O functions
  groups/reconcile.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

add a serving team with the ability to triage issues (#1277)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: none

Update Slack link in new repo template
  .github/ISSUE_TEMPLATE/new-repo.md
Due: none

Update Slack link in new repo template (#1280)
  .github/ISSUE_TEMPLATE/new-repo.md
Due: none

Changing deprecated functions in ./hack/update-codegen.sh (#1279)
  groups/reconcile.go
  mechanics/tools/gen-aliases/main.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

drop kind/good-first-issue label
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

Adding @puerco to streering mailing list (#1269)
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

use OWNER aliases vs. specific people
  groups/OWNERS
  label_sync/OWNERS
Due: pull-knativeteam-groups-test, post-knativeteam-groups

use OWNER aliases vs. specific people (#1282)
  groups/OWNERS
  label_sync/OWNERS
Due: pull-knativeteam-groups-test, post-knativeteam-groups

drop kind/good-first-issue label (#1281)
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

fix dates so knative.party works
  mechanics/TOC-REVIEW.schedule
Due: none

fix dates so knative.party works (#1283)
  mechanics/TOC-REVIEW.schedule
Due: none

docs: update STEERING-COMMITTEE.md with @puerco
  STEERING-COMMITTEE.md
Due: none

docs: update STEERING-COMMITTEE.md with @puerco (#1284)
  STEERING-COMMITTEE.md
Due: none

Adding @puerco to calendar maintainers (#1270)
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

1.7 is EOL
  mechanics/RELEASE-SCHEDULE.md
Due: none

1.7 is EOL (#1286)
  mechanics/RELEASE-SCHEDULE.md
Due: none

allow release leads to submit jobs to prow
  groups/OWNERS
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

nest groups properly to enable rbac on gke
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Allow release leads to submit jobs to prow via kubectl (#1287)
  groups/OWNERS
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

drop google bots
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: none

update review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

Creation of knative/tools repo
  peribolos/knative.yaml
Due: none

Correct links in new-repo template
  .github/ISSUE_TEMPLATE/new-repo.md
Due: none

update review schedule (#1292)
  mechanics/TOC-REVIEW.schedule
Due: none

drop google bots (#1289)
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: none

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
