Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Remove odacremolbap from eventing writers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update WG leads group
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Remove pmbanugo and snneji from docs-reviewers group
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove odacremolbap from eventing writers (#1576)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove pmbanugo and snneji from docs-reviewers group (#1578)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add firatbezir as Knative eventing writer
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add firatbezir as Knative eventing writer (#1585)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

adding ShravaniAK as community member
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Combine Steering and TOC committees; merging current memberships and establishing process for future 1-election-per-year schedule.
  STEERING-COMMITTEE.md
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

skip july 3rd toc meeting
  mechanics/TOC-REVIEW.schedule
Due: none

skip july 3rd toc meeting (#1588)
  mechanics/TOC-REVIEW.schedule
Due: none

add rahulii as knative member
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

minor fix
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add rahulii as knative member (#1589)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add release leads rotation for Knative v1.15
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Archive plugin repositories without releases and current maintenainers
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add release leads rotation for Knative v1.15 (#1590)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Archive plugin repositories without releases and current maintenainers (#1591)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update WG leads group (#1577)
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

adding ShravaniAK as community member (#1586)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add total company representation limits
  STEERING-COMMITTEE.md
Due: none

Fix my company affiliation
  STEERING-COMMITTEE.md
Due: none

update toc review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

update toc review schedule (#1593)
  mechanics/TOC-REVIEW.schedule
Due: none

Updated the Serving WG meeting time
  working-groups/WORKING-GROUPS.md
Due: none

Updated the Serving WG meeting time (#1594)
  working-groups/WORKING-GROUPS.md
Due: none

Update release schedule
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule (#1596)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Revoke Release Leads role for completed release
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Revoke Release Leads role for completed release (#1597)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

feat: add educational-game repo
  peribolos/knative-extensions.yaml
Due: none

Add leo6leo as eventing approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Leo6Leo as eventing approver (#1600)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update the min supported K8s versions
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update the min supported K8s versions (#1602)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update TOC review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

Update TOC review schedule (#1603)
  mechanics/TOC-REVIEW.schedule
Due: none

change email/affiliation
  groups/groups.yaml
  groups/wg-ux/groups.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups

change email/affiliation (#1604)
  groups/groups.yaml
  groups/wg-ux/groups.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups
