Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Dave is now independent
  TECH-OVERSIGHT-COMMITTEE.md
  working-groups/WORKING-GROUPS.md
Due: none

fix: update Leo's information
  groups/groups.yaml
  groups/wg-ux/groups.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Dave is now independent (#1605)
  TECH-OVERSIGHT-COMMITTEE.md
  working-groups/WORKING-GROUPS.md
Due: none

Update STEERING-COMMITTEE.md
  STEERING-COMMITTEE.md
Due: none

Clarify and correct a bunch of inconsistencies pointed out by rhuss and aliok
  STEERING-COMMITTEE.md
Due: none

Change email/affiliation for @Leo6Leo (#1606)
  groups/groups.yaml
  groups/wg-ux/groups.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups

swap out krsna for dave in productivity google group
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

swap out krsna for dave in productivity google group (#1609)
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Remove zhanggbj from an approvers group
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Remove zhaojizhuang from an approvers group
  peribolos/knative-extensions.yaml
Due: none

Remove maximilien from some groups
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Code gen
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Remove some inactive folks from Peribolos (#1610)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Updates from Paul and David Hadas, including an explicit waiver of company diversity for the 2024 combined committee.
  GOVERNANCE.md
  STEERING-COMMITTEE.md
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

:robot: Adding entries for eventing-integrations
  peribolos/knative-extensions.yaml
Due: none

Combine Steering and TO Committees (#1587)
  GOVERNANCE.md
  STEERING-COMMITTEE.md
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

drop TOC review reminder
  .github/workflows/toc-review-reminder.yaml
Due: none

update github teams for steering/toc
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

disable wg review action
  .github/workflows/toc-review-reminder.yaml
Due: none

actually disable wg review
  .github/workflows/toc-review-reminder.yaml
Due: none

:robot: Adding entries for eventing-integrations (#1612)
  peribolos/knative-extensions.yaml
Due: none

Revert ":robot: Adding entries for eventing-integrations (#1612)"
  peribolos/knative-extensions.yaml
Due: none

Revert ":robot: Adding entries for eventing-integrations (#1612)" (#1614)
  peribolos/knative-extensions.yaml
Due: none

Remove 'shinigambit' user from peribolos configs
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove 'shinigambit' user from peribolos configs (#1615)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove 'thisisnotapril' user from knative-extensions config
  peribolos/knative-extensions.yaml
Due: none

Remove 'thisisnotapril' user from knative-extensions config (#1616)
  peribolos/knative-extensions.yaml
Due: none

Revert "Revert ":robot: Adding entries for eventing-integrations (#1612)" (#1…"
  peribolos/knative-extensions.yaml
Due: none

Revert "Revert ":robot: Adding entries for eventing-integrations (#1612)" (#1…" (#1617)
  peribolos/knative-extensions.yaml
Due: none

Revert "Revert "Revert ":robot: Adding entries for eventing-integrations (#1612)" (#1…" (#1617)"
  peribolos/knative-extensions.yaml
Due: none

Clarify for golang only doing hack
  .github/ISSUE_TEMPLATE/new-repo.md
Due: none

Update release leads for Knative 1.16
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Fix python install
  .github/workflows/peribolos-schema-validate.yaml
Due: none

Update release leads for Knative 1.16 (#1620)
  .github/workflows/peribolos-schema-validate.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Use python 3.11
  .github/workflows/peribolos-schema-validate.yaml
Due: none

Force periblox action run
  peribolos/ci
Due: none

Fix formatting
  .github/workflows/peribolos-schema-validate.yaml
Due: none

Archive eventing-kogito repository
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Archive eventing-kogito repository (#1622)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none
