Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Add KSC members to peribolos toc alias temporarily
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add KSC members to peribolos toc alias temporarily (#1641)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update ADOPTERS.MD
  ADOPTERS.MD
Due: none

Update ADOPTERS.MD (#1642)
  ADOPTERS.MD
Due: none

Remove owners field in 2024 SC election config
  elections/2024-SC/election.yaml
Due: none

Remove owners field in 2024 SC election config (#1643)
  elections/2024-SC/election.yaml
Due: none

Nominate dprotaso for SC 2024 election
  elections/2024-SC/candidate-dprotaso.md
Due: none

Nominate dprotaso for SC 2024 election (#1644)
  elections/2024-SC/candidate-dprotaso.md
Due: none

Extend nominations deadline
  elections/2024-SC/README.md
Due: none

Update election schedule in config file
  elections/2024-SC/election.yaml
Due: none

Extend nominations deadline for SC election (#1645)
  elections/2024-SC/README.md
  elections/2024-SC/election.yaml
Due: none

add telekom deutschland as an adopter
  ADOPTERS.MD
Due: none

add telekom deutschland as an adopter (#1646)
  ADOPTERS.MD
Due: none

update ADOPTERS.md
  ADOPTERS.MD
Due: none

update ADOPTERS.md (#1647)
  ADOPTERS.MD
Due: none

TATA Comm uses Knative in production
  ADOPTERS.MD
Due: none

TATA Comm uses Knative in production (#1648)
  ADOPTERS.MD
Due: none

Add Run:AI as an adopter
  ADOPTERS.MD
Due: none

add cloudera as an adopter
  ADOPTERS.MD
Due: none

add cloudera as an adopter (#1650)
  ADOPTERS.MD
Due: none

Add SC 2024 election results
  elections/2024-SC/results.md
Due: none

Add SC 2024 election results (#1651)
  elections/2024-SC/results.md
Due: none

Add Run:AI as an adopter (#1649)
  ADOPTERS.MD
Due: none

tweak Run:ai entry
  ADOPTERS.MD
Due: none

tweak Run:ai entry (#1652)
  ADOPTERS.MD
Due: none

tweak Run:ai product name
  ADOPTERS.MD
Due: none

tweak Run:ai product name (#1653)
  ADOPTERS.MD
Due: none

Fix EOL for 1.16
  mechanics/RELEASE-SCHEDULE.md
Due: none

Fix EOL for 1.16 (#1654)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Remove myself from reviewer/approver roles
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Remove myself from reviewer/approver roles (#1655)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Release leads for 1.17
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

gen
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Update release leads for Knative 1.17 (#1656)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

update steering - sort by term start
  STEERING-COMMITTEE.md
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

remove in-active group - coc goes to steering
  groups/committee-code-of-conduct/OWNERS
  groups/committee-code-of-conduct/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

drop members not affiliated with the wg anymore
  groups/wg-productivity/groups.yaml
  groups/wg-security/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

update peribolos
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

remove dsimans from steering group
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

use steering alias for owners of a bunch of stuff
  groups/groups.yaml
  groups/restrictions.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups
