Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Add Norris to steering / GitHub Org
  groups/committee-steering/groups.yaml
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Add nrrso to SC (#1521)
  STEERING-COMMITTEE.md
  groups/committee-steering/groups.yaml
  groups/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Add nrrso to knative org
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add nrrso to knative-extensions org
  peribolos/knative-extensions.yaml
Due: none

add definitions of alpha/beta/GA to maturity levels (#1508)
  mechanics/MATURITY-LEVELS.md
Due: none

Add Iliia Khaprov @ RabbitMQ as Eventing RabbitMQ maintainer
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

remove nrrso until he accepts GitHub org invites
  peribolos/active-users
  peribolos/inactive-users.py
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

remove nrrso until he accepts GitHub org invites (#1533)
  peribolos/active-users
  peribolos/inactive-users.py
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Iliia Khaprov @ RabbitMQ as Eventing RabbitMQ maintainer (#1532)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Michal Kuratczyk and Aitor Pérez Cedres from RabbitMQ Team
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Michal Kuratczyk and Aitor Pérez Cedres from RabbitMQ Team (#1534)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Michal Kuratczyk and Aitor Pérez Cedres from RabbitMQ Team to Eventing RabbitMQ
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Remove eric-sap and travis-minke-sap
  peribolos/knative-extensions.yaml
Due: none

Drop extra files that were committed in #1533
  peribolos/active-users
  peribolos/inactive-users.py
Due: none

Add Michal Kuratczyk and Aitor Pérez Cedres from RabbitMQ Team to Eventing RabbitMQ (#1535)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Drop some rabbitmq integration maintainers
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Drop extra files that were committed in #1533 (#1537)
  peribolos/active-users
  peribolos/inactive-users.py
Due: none

empty array for Eventing Kafka members
  peribolos/knative-extensions.yaml
Due: none

update-codegen
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Request from Ali Ok to remove eric-sap and travis-minke-sap (#1536)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Drop some rabbitmq integration maintainers (#1538)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update knative-extensions.yaml
  peribolos/knative-extensions.yaml
Due: none

Update aliases
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

Update knative-extensions.yaml (#1539)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Replace steven0711dong with pierDipi for in MT kafka source group
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update Code of Conduct reporting doc
  CODE-OF-CONDUCT.md
Due: none

Remove vaibhavjainwiz and spolti as the approvers for Eventing Kogito
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add election reminders to the election process
  elections/README.md
Due: none

Remove vaibhavjainwiz and spolti as the approvers for Eventing Kogito (#1543)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Add Kuack to the README
  README.md
  mascot/kuack.png
Due: none

Remove emeritus WGs from Peribolos
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Kuack to the README (#1546)
  README.md
  mascot/kuack.png
Due: none

Remove emeritus WGs from Peribolos (#1547)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add rhuss and dsimansk as approvers to all kn plugins
  peribolos/knative-extensions.yaml
Due: none

Update codegen
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

update release leads for 1.14
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

run hack/update-codegen.sh
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

update release leads for 1.14 (#1550)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

paul stepping down as serving approver
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos
