Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Fix two broken links in ROLES.md (#1341)
  ROLES.md
Due: none

Add Gojek to list of Adopters
  ADOPTERS.MD
Due: none

Add myself to community members
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Fix ordering of the name
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Add Gojek to list of Adopters (#1338)
  ADOPTERS.MD
Due: none

Add myself to community members (#1342)
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

update ROLES.md to more accurately reflect reality
  ROLES.md
Due: none

fixup: adjust NOTES text
  ROLES.md
Due: none

fixup: apply suggestions from code review
  ROLES.md
Due: none

fixup: additional review feedback incorporated
  ROLES.md
Due: none

Add myself as TOC candidate
  elections/2023-TOC/candidate-kvmware.md
Due: none

Add myself as TOC candidate (#1344)
  elections/2023-TOC/candidate-kvmware.md
Due: none

Create candidate-davidhadas.md
  elections/2023-TOC/candidate-davidhadas.md
Due: none

Update repo guidelines with CLOMonitor instructions
  .github/ISSUE_TEMPLATE/new-repo.md
  REPOSITORY-GUIDELINES.md
  mechanics/CREATING-A-SANDBOX-REPO.md
Due: none

Create candidate-davidhadas.md (#1345)
  elections/2023-TOC/candidate-davidhadas.md
Due: none

Apply suggestions from code review
  ROLES.md
Due: none

Update gsoc-2023.md
  google-summer-of-code/gsoc-2023.md
Due: none

fixup: remove election wording
  ROLES.md
Due: none

drop archived repos and associated teams
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

update serving reviewers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

update serving reviewers (#1353)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

rename-sandbox
  .github/ISSUE_TEMPLATE/new-repo.md
  .github/workflows/peribolos-schema-validate.yaml
  .github/workflows/verify.yaml
  REPOSITORY-GUIDELINES.md
  ROLES.md
  hack/update-codegen.sh
  mechanics/CREATING-A-SANDBOX-REPO.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

rename-sandbox-to-extension
  .github/ISSUE_TEMPLATE/new-repo.md
  .github/workflows/peribolos-schema-validate.yaml
  .github/workflows/verify.yaml
  REPOSITORY-GUIDELINES.md
  ROLES.md
  hack/update-codegen.sh
  mechanics/CREATING-A-SANDBOX-REPO.md
  mechanics/MATURITY-LEVELS.md
  mechanics/ROADMAPS.md
  mechanics/TOC.md
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

Update meeting notes for productivity WORKING-GROUPS.md
  working-groups/WORKING-GROUPS.md
Due: none

drop archived repos and associated teams (#1352)
  peribolos/knative-sandbox-OWNERS_ALIASES
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

update review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

update review schedule (#1363)
  mechanics/TOC-REVIEW.schedule
Due: none

Add Cali0707 to knative and knative-sandbox
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Add Cali0707 to knative and knative-sandbox (#1364)
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Update knative-sandbox.yaml
  peribolos/knative-sandbox.yaml
Due: pull-knative-sandbox-peribolos, post-knative-sandbox-peribolos

add username to knative.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add Leo6Leo as member
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

add Leo6Leo as member (#1366)
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Add myself to members in `knative.yaml` and `knative-sandbox.yaml` (#1365)
  peribolos/knative-sandbox.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Update meeting notes for productivity WORKING-GROUPS.md (#1362)
  working-groups/WORKING-GROUPS.md
Due: none

chore: update TOC member status
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

fixup
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

2023 TOC election results
  elections/2023-TOC/results.md
Due: none

2023 TOC election results (#1370)
  elections/2023-TOC/results.md
Due: none
