Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

pull-knativeteam-groups-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - ./groups
      - test
      env:
      - name: GO111MODULE
        value: 'on'

post-knativeteam-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: gcr.io/knative-tests/test-infra/prow-tests:v20230317-5d06f773
      command:
      - runner.sh
      args:
      - make
      - -C
      - groups
      - run
      - --
      - --confirm

pull-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=false
      - --orgs=knative-sandbox,knative
      - --token=/etc/github/oauth
      - --debug
  ...

post-knative-test-infra-label-sync:
  decorate: true
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20220610-d59e6cd2db
      command:
      - label_sync
      args:
      - --config=label_sync/labels.yaml
      - --confirm=true
      - --orgs=knative-sandbox,knative
      - --github-app-id=$(GITHUB_APP_ID)
  ...

pull-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

pull-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-token-path=/etc/github/token
      - --min-admins=5
      - --fix-org=true
      - --fix-org-members=true
  ...

post-knative-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

post-knative-sandbox-peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:v20230309-adf0d41516
      command:
      - peribolos
      args:
      - --config-path=peribolos/knative-sandbox.yaml
      - --github-app-id=$(GITHUB_APP_ID)
      - --github-app-private-key-path=/etc/github/cert
  ...

Update min K8s versions
  mechanics/RELEASE-SCHEDULE.md
Due: none

move TOC meetings to wednesdays
  TECH-OVERSIGHT-COMMITTEE.md
  mechanics/TOC-REVIEW.schedule
Due: none

fix time
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

45 minutes not 75
  TECH-OVERSIGHT-COMMITTEE.md
Due: none

fix the schedule times too
  mechanics/TOC-REVIEW.schedule
Due: none

Move TOC meetings to wednesdays (#1483)
  TECH-OVERSIGHT-COMMITTEE.md
  mechanics/TOC-REVIEW.schedule
Due: none

Drop VMware folks from approver/reviewer roles who are no longer active
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Drop VMware folks from approver/reviewer roles who are no longer active (#1484)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

fix typo
  .github/workflows/peribolos-schema-validate.yaml
Due: none

Chainguard taking ownership of eventing-rabbitmq
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Drop emeritus leads from various group (#1476)
  groups/committee-oversight/groups.yaml
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

fix typo (#1485)
  .github/workflows/peribolos-schema-validate.yaml
Due: none

add gabo back
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Chainguard taking ownership of eventing-rabbitmq (#1486)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update min K8s versions (#1481)
  mechanics/RELEASE-SCHEDULE.md
Due: none

add xiangpingjiang to knative and knative-extensions
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

add xiangpingjiang to knative and knative-extensions (#1488)
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Create README.md for 2023-2024 end user seat
  elections/2023-SC-EU/README.md
Due: none

Create nomination-template.md for SC End user seat 2023-2024
  elections/2023-SC-EU/nomination-template.md
Due: none

Create folder and files for 2023-2024 end user seat (#1489)
  elections/2023-SC-EU/README.md
  elections/2023-SC-EU/nomination-template.md
Due: none

Update README.md
  elections/2023-SC-EU/README.md
Due: none

Update README.md (#1490)
  elections/2023-SC-EU/README.md
Due: none

add cmurray as wg lead to working group leads list
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

add cmurray as wg lead to working group leads list (#1491)
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

drop juan from reviewers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

drop juan from reviewers (#1492)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

change gauron in func (#1474)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update release schedule
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule (#1494)
  mechanics/RELEASE-SCHEDULE.md
Due: none

typo
  CODE-OF-CONDUCT.md
Due: none

Update TOC-REVIEW.schedule
  mechanics/TOC-REVIEW.schedule
Due: none

Delete working-groups/security/vmt.rotation
  working-groups/security/vmt.rotation
Due: none

Update TOC-REVIEW.schedule (#1496)
  mechanics/TOC-REVIEW.schedule
Due: none

typo (#1495)
  CODE-OF-CONDUCT.md
Due: none

Drop myself from members
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Drop myself from members (#1498)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Updated 2023-SC-EU folder and contents to 2024-SC-EU
  elections/2024-SC-EU/README.md
  elections/2024-SC-EU/nomination-template.md
Due: none

new format
  mechanics/TOC-REVIEW.schedule
Due: none

TOC review reminder GHA
  .github/workflows/toc-review-reminder.yaml
Due: none

GHA for TOC review reminder (#1502)
  .github/workflows/toc-review-reminder.yaml
  mechanics/TOC-REVIEW.schedule
Due: none

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
