Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

drop izabela as a reviewer
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update committee membership (#1657)
  STEERING-COMMITTEE.md
  groups/committee-code-of-conduct/OWNERS
  groups/committee-code-of-conduct/groups.yaml
  groups/committee-steering/groups.yaml
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-productivity/groups.yaml
  groups/wg-security/groups.yaml
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

drop izabela as a reviewer (#1658)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

update steering teams and try to fix post update job - drop jkjell from memberlist
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

include privacy attribute
  peribolos/knative-extensions.yaml
Due: none

don't embed steering@knative.team as a member use full emails addresses
  groups/groups.yaml
  groups/wg-productivity/groups.yaml
  groups/wg-security/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

remove deleted group
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

add back linux foundation
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

2025 SC EU seat elections
  elections/2025-SC-EU/README.md
  elections/2025-SC-EU/nomination-template.md
Due: none

fix peribolos and google groups config (#1659)
  groups/groups.yaml
  groups/wg-productivity/groups.yaml
  groups/wg-security/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

add the right user account 'thelinuxfoundation'
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

can't make a group ('steering') an owner of a group ('wg-leads')
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update elections/2025-SC-EU/README.md
  elections/2025-SC-EU/README.md
Due: none

adjust memberships (#1661)
  groups/groups.yaml
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Fix calendar group
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Updating golang tools to latest versions
  groups/go.mod
  groups/go.sum
  mechanics/tools/gen-aliases/go.mod
  mechanics/tools/gen-aliases/go.sum
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Use common org-wide go setup
  .github/workflows/verify.yaml
Due: none

Fix group generator
  groups/reconcile.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Remove unused replace
  groups/go.mod
  groups/go.sum
  mechanics/tools/gen-aliases/go.mod
  mechanics/tools/gen-aliases/go.sum
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Fix calendar group (#1662)
  groups/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Updating golang tools to latest versions (#1663)
  .github/workflows/verify.yaml
  groups/go.mod
  groups/go.sum
  groups/reconcile.go
  mechanics/tools/gen-aliases/go.mod
  mechanics/tools/gen-aliases/go.sum
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update release schedule for next cycle
  mechanics/RELEASE-SCHEDULE.md
Due: none

paul stepping down as extensions approver
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

paul stepping down as extensions approver (#1665)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update mechanics/RELEASE-SCHEDULE.md
  mechanics/RELEASE-SCHEDULE.md
Due: none

Update release schedule for next cycle (#1664)
  mechanics/RELEASE-SCHEDULE.md
Due: none

2025 SC EU seat elections (#1660)
  elections/2025-SC-EU/README.md
  elections/2025-SC-EU/nomination-template.md
Due: none

Add KA-NABELL/kahirokunn nomination for the EU seat
  elections/2025-SC-EU/candidate-kahirokunn.md
Due: none

Add CoreWeave to ADOPTERS.MD
  ADOPTERS.MD
Due: none

Nominate arsenetar for the 2025 SC EU
  elections/2025-SC-EU/candidate-arsenetar.md
Due: none

feat: add Judson Lester as 2025 End User candidate
  elections/2025-SC-EU/candidate-nyarly.md
Due: none

Add dsimansk to Serving approvers
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos
