Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Add dsimansk to Serving approvers (#1671)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add KA-NABELL/kahirokunn nomination for the EU seat (#1667)
  elections/2025-SC-EU/candidate-kahirokunn.md
Due: none

Nominate arsenetar for the 2025 SC EU (#1668)
  ADOPTERS.MD
  elections/2025-SC-EU/candidate-arsenetar.md
Due: none

feat: add Judson Lester as 2025 End User candidate (#1669)
  elections/2025-SC-EU/candidate-nyarly.md
Due: none

Adding Chris Suszynski to Productivity GCP admins
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Addint to the test
  groups/groups_test.go
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Update Serving WG Meeting to Thursday
  working-groups/WORKING-GROUPS.md
Due: none

Adding Chris Suszynski to Productivity GCP admins (#1672)
  groups/groups_test.go
  groups/wg-productivity/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

push back an hour to 8am PST
  working-groups/WORKING-GROUPS.md
Due: none

Add Christoph (@creydr) as Eventing WG lead
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update Serving WG Meeting to Thursday (#1674)
  working-groups/WORKING-GROUPS.md
Due: none

Add Christoph (@creydr) as Eventing WG lead (#1675)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add creydr to Eventing Working Group
  working-groups/WORKING-GROUPS.md
Due: none

Add creydr to Eventing Working Group (#1677)
  working-groups/WORKING-GROUPS.md
Due: none

paul returning as quickstart approver
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

paul returning as quickstart approver (#1678)
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
Due: none

Update release leads rotation
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update release leads rotation (#1679)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add gauron99 as a regular member of knative-extensions
  peribolos/knative-extensions.yaml
Due: none

Add gauron99 as a regular member of knative-extensions (#1681)
  peribolos/knative-extensions.yaml
Due: none

Removing rhuss as lead for Client WG. 👋, it was a great time and all the best for the future!
  groups/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Removing rhuss as lead for Client WG. 👋, it was a great time and all the best for the future! (#1682)
  groups/groups.yaml
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-peribolos, post-knative-peribolos

Add Knative v1.21 release schedule
  mechanics/RELEASE-SCHEDULE.md
Due: none

Add Knative v1.21 release schedule (#1683)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Add Fedosin to the list of members
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Add Fedosin to the list of members (#1684)
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Re-add GOVERNANCE.md removed in #1587, and add MAINTAINERS.md
  GOVERNANCE.md
  MAINTAINERS.md
  ROLES.md
Due: none

Re-add GOVERNANCE.md removed in #1587, and add MAINTAINERS.md (#1685)
  GOVERNANCE.md
  MAINTAINERS.md
  ROLES.md
Due: none

Document removal process for Steering Committee members, clean up vacancy language
  STEERING-COMMITTEE.md
Due: none

Update roadmap links for serving, UX
  working-groups/WORKING-GROUPS.md
Due: none

Add mike to knative-extensions org
  peribolos/knative-extensions.yaml
Due: none

Update roadmap links for serving, UX (#1689)
  working-groups/WORKING-GROUPS.md
Due: none

Add mike to knative-extensions org (#1690)
  peribolos/knative-extensions.yaml
Due: none

Clarify policies for removal of steering committee members (#1688)
  STEERING-COMMITTEE.md
Due: none

Updating the SC members to reflect current status
  STEERING-COMMITTEE.md
Due: none

Updating the SC members to reflect current status (#1691)
  STEERING-COMMITTEE.md
Due: none

updating my email
  groups/groups.yaml
  groups/wg-ux/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

updating my email (#1692)
  groups/groups.yaml
  groups/wg-ux/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

🛂 Add Sukhinderpal as a member to the knative github org
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Governance cleanup for graduation due diligence
  GOVERNANCE.md
  MAINTAINERS.md
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos
