Repository knative/community: changes, and which Prow jobs are due for each by the changed paths.
All: pull-knativeteam-groups-test, post-knativeteam-groups, pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync, pull-knative-peribolos, pull-knative-sandbox-peribolos, post-knative-peribolos, post-knative-sandbox-peribolos

Path conditions:
  pull-knativeteam-groups-test: any of: ^groups/
  post-knativeteam-groups: any of: ^groups/
  pull-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  post-knative-test-infra-label-sync: any of: ^label_sync/labels.yaml$
  pull-knative-peribolos: any of: ^peribolos/knative.yaml$
  pull-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$
  post-knative-peribolos: any of: ^peribolos/knative.yaml$
  post-knative-sandbox-peribolos: any of: ^peribolos/knative-sandbox.yaml$

Update emeritux docs leads
  working-groups/WORKING-GROUPS.md
Due: none

Add mmejia and zainabhusain227 to knative org
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update UX WG status (#1432)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
  working-groups/WORKING-GROUPS.md
Due: pull-knative-peribolos, post-knative-peribolos

remove paul as approver from docs, productivity
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

remove paul as approver from docs, productivity (#1442)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Update ROLES.md
  ROLES.md
Due: none

[PROCESS CHANGE]: add a simple inactivity measure and process for removal (#1390)
  ROLES.md
  peribolos/knative-extensions.yaml
Due: none

Ajust Release Leads to schedule
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Ajust Release Leads to schedule (#1443)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Create Knative Social Media Guidelines
  Knative Social Media Guidelines
Due: none

Changed file type
  Knative Social Media Guidelines.md
Due: none

adding initial files required to run the 2023 Steering Committee election
  elections/2023-SC/OWNERS
  elections/2023-SC/README.md
  elections/2023-SC/election.yaml
  elections/2023-SC/election_desc.md
  elections/2023-SC/nomination-template.md
  elections/2023-SC/voters.yaml
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Apply suggestions from code review
  elections/2023-SC/README.md
  elections/2023-SC/election_desc.md
Due: none

Update elections/2023-SC/README.md
  elections/2023-SC/README.md
Due: none

Add Leo6Leo to the review group
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

Run codegen
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
Due: none

fixed case sensitivity in voters.yaml as a workaround to a bug in Elekto
  elections/2023-SC/voters.yaml
Due: none

Added Leo6Leo as eventing reviewer (#1449)
  peribolos/knative-OWNERS_ALIASES
  peribolos/knative-extensions-OWNERS_ALIASES
  peribolos/knative-extensions.yaml
  peribolos/knative.yaml
Due: pull-knative-peribolos, post-knative-peribolos

added voters after SC agreed to lower the contribution limit to 25, instead of 50.
  elections/2023-SC/voters.yaml
Due: none

Update SC.md for updating voters eligibility from 50 to 25 contributions: https://github.com/knative/community/issues/1451
  mechanics/SC.md
Due: none

Update SC.md for updating voters eligibility from 50 to 25 contributions: https://github.com/knative/community/issues/1451 (#1452)
  mechanics/SC.md
Due: none

2023 SC Election Kickoff Files (#1448)
  elections/2023-SC/OWNERS
  elections/2023-SC/README.md
  elections/2023-SC/election.yaml
  elections/2023-SC/election_desc.md
  elections/2023-SC/nomination-template.md
  elections/2023-SC/voters.yaml
  groups/committee-steering/groups.yaml
Due: pull-knativeteam-groups-test, post-knativeteam-groups

Fix markdown table in elekto
  elections/2023-SC/election.yaml
  elections/2023-SC/election_desc.md
Due: none

Bump golang to make CI pass
  .github/workflows/verify.yaml
Due: none

Minor fixes for SC election 2023 (#1453)
  .github/workflows/verify.yaml
  elections/2023-SC/election.yaml
  elections/2023-SC/election_desc.md
Due: none

Nominate aliok for SC election
  elections/2023-SC/candidate-aliok.md
Due: none

Added ui, ux, and accessibility labels for UX and docs
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

fix labels.yaml syntax
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

Update release schedule for 1.12
  mechanics/RELEASE-SCHEDULE.md
Due: none

Nominate aliok for SC election (#1454)
  elections/2023-SC/candidate-aliok.md
Due: none

Update release schedule for 1.12 (#1456)
  mechanics/RELEASE-SCHEDULE.md
Due: none

Add my candidacy for steering committee for 2023-2024
  elections/2023-SC/candidate-evan.md
Due: none

rename file
  elections/2023-SC/candidate-evankanderson.md
Due: none

Add ui, ux, and accessibility labels for UX and docs repos (#1455)
  label_sync/labels.yaml
Due: pull-knative-test-infra-label-sync, post-knative-test-infra-label-sync

Add my candidacy for steering committee for 2023-2024 (#1458)
  elections/2023-SC/candidate-evankanderson.md
Due: none

Update TOC review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

Update TOC review schedule (#1459)
  mechanics/TOC-REVIEW.schedule
Due: none

replace DUX references with UX references in TOC review schedule
  mechanics/TOC-REVIEW.schedule
Due: none

Knative supports only two releases
  mechanics/MATURITY-LEVELS.md
Due: none

replace DUX references with UX references in TOC review schedule (#1461)
  mechanics/TOC-REVIEW.schedule
Due: none
